[2018-02-15 18:17] ngfgrant commented on #162
Closing for now. Maybe better to be explicit about what functionality is covered by Sceptre.

[2018-02-15 18:17] #162 closed

[2018-02-15 18:21] ngfgrant commented on #191
Same as #256 closing.

[2018-02-15 18:21] #191 closed

[2018-02-15 18:24] ngfgrant commented on #201
Closing because it is outside the scope of Sceptres core functionality. Whilst it is a cool feature it adds too much maintenance burden.

[2018-02-15 18:24] #201 closed

[2018-02-15 21:49] theseanything commented on #315
Ah so at the moment, unfortunately there isn't a way to use a single resolver across multiple configs - (unless you use a cascading config). But we are hoping to bring out better common config support in v2 (and we need to make sure we support Resolvers).

[2018-02-15 21:49] #315 closed

[2018-02-16 13:45] ngfgrant commented on #249
This is going to be a non-issue when cascading config is removed in version 2.

[2018-02-16 13:47] ngfgrant commented on #252
This should be dealt with by #256

[2018-02-16 13:59] theseanything commented on #257
Currently under development in branch `cross-account-region-support`. Bulk of implementation done - having issues with the integration tests passing.

Dropping support for Sceptre role assumes (`iam_role`) in favour of using profile exclusively. Betting mapping of profiles between users could be implemented as a feature after this PR.

[2018-02-16 15:37] ngfgrant commented on #275
Good suggestion. On hold until the feature is released by AWS.

[2018-02-16 15:49] theseanything opened #324 "Support for AWS SAM templates"
Would be great for native support of AWS SAM Templates using the Transform attribute.

This requires Sceptre:
 - Create a stack via change set
 - Package and deploy lambda code to S3

[2018-02-16 15:50] theseanything commented on #324
Should solve issue #277 and #197

[2018-02-16 15:51] theseanything commented on #277
Ultimately we need to just implement SAM support - see relevant ticket #324.

[2018-02-16 15:51] #277 closed

[2018-02-16 15:53] #280 closed

[2018-02-16 16:02] ngfgrant commented on #295
Closing this issue as it is the same issue as #213

[2018-02-16 16:02] #295 closed

[2018-02-16 16:05] ngfgrant commented on #303
We should make a note about this in the documentation. The effort to resolve outweighs the benefit in this case. Will make explicit in the docs.

[2018-02-16 16:05] #303 closed

[2018-02-16 16:08] ngfgrant commented on #310
Thanks for the PR. This was temporarily removed when we refactored for v2. Closing as this is reimplemented as part #257

[2018-02-16 16:08] #310 closed

[2018-02-16 16:12] #322 closed

[2018-02-16 21:53] mithun opened #325 "1.3.3 on pypi"
It looks like v1.3.3 published to pypi contains changes intended for 2.x. Maybe it was published from the wrong branch?

cc @ngfgrant

[2018-02-16 21:56] mithun commented on #277
@theseanything actually, we would like to see this feature independent of SAM support. We heavily use `update-stack-cs` instead of `update-stack` and would like to have hooks triggered when using change-sets.

[2018-02-19 09:11] avatarworf opened #327 "launch-env - 'no such command'"
Since the new release of v1.3.3, the launch-env command isn't found

+ sceptre --var-file=variables.yaml launch-env governance/eu-west-1
Usage: sceptre [OPTIONS] COMMAND [ARGS]...

Error: No such command "launch-env".

[2018-02-19 09:59] stig commented on #327
# Table of Contents

Yeah, I found the same. I'm a bit disappointed to have CLI compatibility broken in a patch release. I have a subset of config like this (showing only files):

    config/dev/config.yaml
    config/dev/eu/eu-central-1/foo.yaml
    config/dev/eu/eu-central-1/bar.yaml
    config/dev/eu/eu-central-1/quux.yaml
    config/dev/us/us-east-2/foo.yaml
    config/dev/us/us-east-2/bar.yam

[2018-02-19 10:16] ngfgrant commented on #325
Hi @mithun - apologies for this you are absolutely right. We have released a patch (v1.3.4) which will resolve this.

[2018-02-19 10:16] #325 closed

[2018-02-19 10:18] ngfgrant commented on #327
Hi folks - apologies this was an error on our part. This has been resolved and everything should work as normal in version 1.3.4 which is now live on PyPi.

[2018-02-19 10:18] #327 closed

[2018-02-19 15:33] JGjorgji opened #328 "diff command still in API docs"
I see it was removed recently, i looking at the API docs trying to make it work when i noticed that in the changelog.

https://sceptre.cloudreach.com/latest/docs/api/sceptre.html?highlight=diff#sceptre.stack.Stack.diff

[2018-02-19 15:40] ngfgrant commented on #328
Thanks @JGjorgji

[2018-02-19 15:49] JGjorgji commented on #328
Can i ask by the way why was this removed? I'm trying to find out when a stack has changed and generated a change set and without this i don't see a way to easily check.

[2018-02-19 16:16] sodle opened #329 "Allow hooks to calculate their arguments using resolvers"
I want to be able to use a resolver (i.e. a CloudFormation stack output or a local environment variable) to calculate the arguments to a hook. For example:

[code]

[code]

Currently, these resolvers are not evaluated by the hook; instead, their literal text is executed, causing the command to fail.

[2018-02-19 16:29] niallgrantcloudreach commented on #328
Looks like https://github.com/cloudreach/sceptre/pull/225 gives some insight to this. Hope that the explanation given makes sense?

[2018-02-19 16:33] ngfgrant commented on #328
Looks like #225 gives some insight to this. Hope that the explanation given makes sense?

[2018-02-19 16:34] ngfgrant commented on #329
Thanks for the request @sodle. Will see if someone can pick this soon.

[2018-02-20 16:26] ngfgrant commented on #316
@johnrobisoncr

This should be pretty straightforward. probably some "FrontMatter" (https://jekyllrb.com/docs/frontmatter/) and I have attached the Sceptre icon here. Would you be willing to sort this?

![sceptre-icon](https://user-images.githubusercontent.com/6362273/36435714-5249d2e6-165a-11e8-9e3e-41a9b4b0eaf1.png)

[2018-02-20 16:57] johnrobisoncr commented on #316
@ngfgrant Sure. What is the desired html title? "Sceptre"?

[2018-02-20 17:05] ngfgrant commented on #316
Yep let's use the format: `Page Title  | Sceptre`

[2018-02-21 20:51] Varriount commented on #95
How hard would it be to add this functionality to Sceptre? We use nested stacks quite a bit in our environments, and it would be a valuable feature to have.

[2018-02-22 22:10] JGjorgji commented on #328
Yeah, that explains it. I'm using a workaround now so it's fine.

[2018-02-26 15:34] ngfgrant commented on #328
@JGjorgji would you like to pick this up and remove the diff reference from the docs?

[2018-02-26 22:19] oazmon opened #330 "stack.py fails to pass the aws-profile to the connection manager"
As part of the update somehow the ConnectionManager is not getting from the stack.py during creation the aws_profile from the config object used by the stack.

Submitting PR to fix.

[2018-02-27 11:22] JuanCanham commented on #94
using AWS::Include and S3 objects, will be supported once https://github.com/cloudreach/sceptre/pull/326 lands

I also had a look at this for local codeURIs, when doing some SAM hooks, and couldn't figure out the value in this, as you would take local code, push it to s3, then have AWS put that code back into the template, the code should be simple though if somebody can explain the point of uploa

[2018-02-27 12:57] JuanCanham commented on #95
This is currently handled by `aws cloudformation deploy`, so it's implemented by https://github.com/cloudreach/sceptre/issues/324

I have a hook code to implement that, just going through internal review to decide if it should be in the sceptre repo or as a separate plugin. The issue with it, is that it depends on the awscli (the only place SAM is implemented, by AWS)

[2018-02-27 21:23] ivanilves opened #331 "Any kind of loops possible?"
First, thanks for the `sceptre`. Awesome tool!

Second, sorry, but I may ask one vague question:

Trying to figure out how could I pass (or iterate over) a list of source security groups in `AWS::EC2::SecurityGroupIngress` definition. I want to have something like this in config

[code]
and something like this in the template
[code]

The problem is that I can not pass anything but the single SG ID

[2018-02-28 06:24] jk2l commented on #331
If programmable code then you should use troposphere. And the template path point to the python file instead of yaml

[2018-02-28 09:52] ivanilves commented on #331
Great idea @jk2l :clap:

I think it would be enough!

Thank you!

[2018-02-28 09:52] #331 closed

[2018-03-05 03:43] jk2l opened #333 "sceptre_user_data unable to enforce string"
[code]

as account ID is 1234567890 format. the Account ID keep written as Number instead of String. this cause cloudformation complain about the value
[code]

[2018-03-05 03:44] jk2l commented on #333
the only way I can work around this is use CF parameters and set type to String, but not able to use user data. The Account ID is something I am looping with so I prefer i can implemnt it under user data instead

[2018-03-05 04:03] jk2l commented on #333
actually wrong place to report. it should be report in troposphere. my bad

[2018-03-05 10:53] #333 closed

[2018-03-05 10:59] avatarworf opened #334 "Create Change Sets; KeyError"
I've been trying to make use of creating change sets to evaluate what alterations will be performed by a set of stacks (aka ENVIRONMENT)

While running a command like:
`sceptre --var-file=variables.yaml create-change-set custom/project/eu-west-1 our-custom-project-eu-west-1-local-security-group project-PR-81`

Traceback (most recent call last):
  File "..../python2.7/site-packages/sceptre/cli.py",

[2018-03-05 11:46] #316 closed

[2018-03-05 17:19] #106 closed

[2018-03-06 09:12] #334 closed

[2018-03-06 11:53] JuanCanham opened #336 "Integration tests and documentation do not pass linting"

[2018-03-06 12:15] ngfgrant opened #337 "Fix Integration test when not on Circle CI"
When not on circle-CI UUIDs for bucket names, were creating invalid bucket names.
To avoid this and generate the bucket name based on account alias or account id. Re-use existing buckets to prevent creating a mess.

[2018-03-06 12:17] #337 closed

[2018-03-06 12:19] ngfgrant opened #338 "Fix documentation on how to view docs"
Documentation on how to view the docs locally is out of date and requires updating.

[2018-03-06 12:26] #338 closed

[2018-03-06 18:11] ngfgrant opened #340 "Add contrib folder"
CONTEXT

Some issues including #286 would be best suited in a contrib area so that scripts/plugins related to Sceptre can be easily found from within the repository but are maintained by script owners (not core Sceptre).

DONE WHEN

A contrib directory exists that gives guidance about how to add a script.

[2018-03-06 20:47] #340 closed

[2018-03-08 02:22] akdor1154 opened #342 "Request - a way automatically delete stacks that have been removed from config."
Our workflow is pretty simple (and pretty standard from what I understand) - we have a bunch of git repos with one (reasonably) independent Sceptre project per-repo. Our CI system runs `sceptre launch-env` on the repo on each commit to master. This all works reasonably well.

However, what happens when we want to remove a stack (or equivalently, rename a stack, => remove then redeploy)?

Currently

[2018-03-08 15:29] jeffmacdonald opened #343 "Certain resource deletions fail, launch-env still succeeds."
This may be a bug in Sceptre, or CF or just my own understanding.
I currently do not have logs because I reran the job in Circle and I think it over wrote them, so I'll do my best to describe the situation.

I had a template with policies and roles in it. I renamed those and put them in a different template but still within the same env. When I ran `launch-env` the original policies got a `DELETE_

[2018-03-14 21:34] ianburrell commented on #277
Should be possible to add hook to the update_with_change_set process. "create_change_set" would probably be the best place, but would be a little confusing.

[2018-03-18 16:05] mithun opened #344 "`generate-config` command"
Within our environment, we are wrapping sceptre withing a custom toolchain. There currently is a command to `generate` or render a cloudformation template.

It will be useful to have a `generate-config` or similar command that renders an environment or stack configuration file with all variables resolved (from vars, environment, etc).

This will allow these configurations to be consumed by other t

[2018-03-20 19:53] gbegher opened #345 "Defining numbers via `--var-file`"
It seems that defining numbers in a variable file is not possible.

Here's the related code.

Content of `variables.yaml`:
[code]

Content of `ecs-cluster.yaml`:
[code]

I tried substituting `(*)` with both `1` and `"1"` but neither works.

The result is always:

[code]

[2018-03-23 14:42] grasum commented on #331
I am trying to iterate with troposphere over a list of subnets, but I keep getting " TypeError: 'Parameter' object is not iterable "

[2018-03-26 19:41] jk2l commented on #331
Check Sceptre user data of https://sceptre.cloudreach.com/latest/docs/stack_config.html#sceptre_user_data and templates

[2018-03-29 07:56] thijsdev commented on #324
We would really like SAM / ChangeSets on create to be added.

[2018-03-29 14:35] radhikasundararaman24 commented on #306
Hello: I'm pitching in to help the community with some documentation support. What kind of doc support we need for this? Also, can you share the links to existing resources?

[2018-03-30 09:15] chrisduong opened #346 "How to reference the current StackName in the Config file"
Hi,

I modular my Nested Cloudformation stack with Sceptre, so in my Config file, I need to get the current StackName for my Parameter. See https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/pseudo-parameter-reference.html#cfn-pseudo-param-stackname for all names.

Normally, within CFN, I can use `Ref: AWS::StackName`.

[2018-03-30 09:53] chrisduong opened #347 "Can I use Structure which I can split into Functional category as below"
Hi,

I saw the suggested Structure in this doc https://sceptre.cloudreach.com/latest/docs/architecture.html

[code]

When I try this layout. I've got this error.

[code]

[2018-04-03 18:30] ryanpagel commented on #275
Can't wait for this feature in AWS CloudFormation and Sceptre.

[2018-04-05 04:47] JohnVonNeumann commented on #257
I like how everything I think "yeah that would be useful" you are already working on.

[2018-04-09 11:10] andyoll opened #349 "How to reference the current StackName in template file"
Is there a way to access default stack name from jinja template?
If not, is there a way to access it from within stack config file - then I can set a custom variable within namespace 'sceptre_user_data'.
I guess I could write a custom resolver, but I'm imagining it must already be available somehow.
Thanks.

[2018-04-10 15:43] mckraken opened #350 ".template extension capability regression"
The capability to use a `.template` extension from PR #301 and released in v1.3.3 is missing in release v1.3.4

[2018-04-12 04:47] gdelvalle commented on #350
how should we solve?  Would you  like a PR to reapply the  changes from #301  on the v1 branch ?

[2018-04-17 22:45] chhibber commented on #177
+1

[2018-04-17 23:43] siulcode commented on #177
+1

[2018-04-18 14:43] robertsigler commented on #324
Maybe this is obvious, but I just wanted to point out that the aws cli already does this, so if we were willing to add `awscli` as a dependency, we might be able to lean on their implementation rather than having to rewrite it. https://github.com/aws/aws-cli/blob/develop/awscli/customizations/cloudformation/package.py

[2018-04-19 08:52] lukeplausin opened #351 "Package clash with jinja2 2.10"
Hi Sceptre team,

When I install sceptre in my project I get a package clash. I also need Ansible 2.4.0 which requires Jinja2 2.10, however sceptre requires Jinja2 <2.8

Are there any plans to upgrade Jinja2 to the latest version?

Thanks

[2018-04-19 14:54] ankitml commented on #349
Adding it to `sceptre_user_data` would surely work, you dont need to write a custom resolver for it. However, I am not sure if the stack name is automatically available to the jinja or not.

[2018-04-24 15:07] et304383 opened #355 "Referencing more than sceptre_user_data in jinja2 template"
I'd like to reference global variables in config.yaml such as "environment".

I don't want to have to duplicate these values in every single stack config file.

The docs suggest that other vars should be accessible via

[code]

https://sceptre.cloudreach.com/latest/docs/environment_config.html

Not sure exactly where this can be used though.

Also, I'd like to be able to reference, say, `project_c

[2018-04-24 15:22] et304383 opened #356 "Support for project level config file"
I feel like there are some values that should not need to be duplicated in each environment config file.  For example, the project code should be a global value that is the same across all environments.

It would be nice if sceptre would read `config/config.yaml` (or something like this) as a global config file regardless of what environment was declared.

Obvioulsy, `config/<dev>/config.yaml` val

[2018-04-24 15:26] et304383 commented on #356
Ignore.  I missed the section on cascading config in the docs.

[2018-04-24 15:26] #356 closed

[2018-04-24 17:07] et304383 commented on #355
I have managed to work around this slightly by declaring a single variable in my stack config file that contains all the environment config values:

[code]

Then referencing by:
[code]

[2018-04-24 18:09] et304383 commented on #346
I too would love this ability.  It's a bit of a pain having to construct the stack name in an environment or stack config when this value could be exposed to the templating abilities of the config files.

[2018-04-26 14:41] et304383 commented on #77
@theseanything here's a valid use case:

Input parameter for RDS master password that comes from an environment variable or var argument.

I want to provide this on create, but use previous value on update.

[2018-05-02 01:33] JohnVonNeumann opened #358 "before/after hooks run regardless of stack results"
Hey there, so atm I'm trying to use the hooks pretty extensively to automate some non-aws related tasks that are required for the AWS stuff. And I've noticed that regardless of the results of the CF actions, the hooks run, for example:

If I run a delete-stack operation with hooks setup that specify some after-delete actions, even if the delete-stack operation fails, the after-delete actions still

[2018-05-03 16:18] sjparkinson opened #359 "Don't override existing parameters"
[code]

We've manually set a `NoEcho` parameter because it contains a secret key. As your documents highlight, we shouldn't commit the value to configuration.

It'd be really helpful if sceptre didn't try and override parameter values if they are not provided, that way we can just lean on the values stored in AWS.

Currently we'd have to fiddle around with CLI arguments and must then store secrets

[2018-05-03 18:28] et304383 commented on #359
Seems similar to #77 which the authors have rejected (incorrectly IMO).

This is absolutely a bad request and it would be nice if we could get a default value for any field in the config to "use previous value" somehow.

[2018-05-04 08:16] sjparkinson commented on #359
Thanks for highlighting that!

[2018-05-05 02:32] jk2l commented on #359
+1 from “use previous value”

Without this support it’s makes scepter much less flexible than aws cli

[2018-05-07 11:50] jerep6 commented on #345
Hi
Do you tried?
(note the quotes around the variable "ClusterSize")

[code]

[2018-05-07 13:45] fitchxlin opened #360 "errors when launch-env"
Hi,

With the new upgraded sceptre version Sceptre, version 1.3.4, we are getting the following error using sceptre launch-env stack_folder.  The error is below

$ winpty sceptre launch-env dev/sisense
Traceback (most recent call last):
 File "c:\python27\lib\runpy.py", line 174, in _run_module_as_main
   "__main__", fname, loader, pkg_name)
 File "c:\python27\lib\runpy.py", line 72, in _run_code

[2018-05-08 10:06] sjparkinson commented on #359
One thing we've tried was defining a `Default` value. However when we deploy, that value overrides any existing values in the stack if no parameters are defined in the sceptre configuration.

[2018-05-08 10:44] jjm commented on #328
@ngfgrant I'm happy to do a PR for this, I need to understand both Sceptre and CloudFormation.

[2018-05-08 18:03] jerep6 commented on #344
Hi,

I have the same need as @mithun .

In my concrete use case, I wish to use AWS Code Pipeline to deploy CloudFormations's stacks with a CloudFormation deploy step. This step takes two main parameters :
**TemplateConfiguration =** parameter of the stack
**TemplatePath =** CloudFormation template

Sceptre can generate the template with the command `sceptre generate-template`, but it's missing a c

[2018-05-08 19:50] jerep6 opened #361 "Is the projet still maintained?"
Hi,

Given the number of pull requests and issues unanswered, I wonder if the project is still maintained.
Moreover, there is no commit since 2 months.

Do you have more information?

[2018-05-09 11:32] ngfgrant commented on #347
@chrisduong it looks like your command `sceptre validate-template dev vpc` is trying to look in the `dev` environment to create `vpc` stack. If these don't exist then this is likely be the cause of this problem. If you try `sceptre validate-template prod/network vpc` you might have more luck.

[2018-05-09 11:49] ngfgrant commented on #361
Hi @jerep6

In short yes, the project is still maintained.

Like most projects there can be times where maintainers are able to put a lot of time into a project and times where they cannot. More recently work has focused me elsewhere. We've just come to the end of a busy period and it looks like I will be able to focus again on Sceptre.

I would actively encourage you to pick up a issue and contri

[2018-05-09 11:49] #361 closed

[2018-05-09 11:52] ngfgrant commented on #358
Hey @JohnVonNeumann

Would you be able to share some code examples of what you are trying to achieve. Could you wrap your post delete operations in a conditional statement that checks against output from `delete-stack`?

[2018-05-09 12:03] ngfgrant commented on #342
Hey @akdor1154

I think this is something we can look at as we move Sceptre forward. Would you be willing to suggest a rough implementation for this here and we could discuss in a bit more detail?

[2018-05-09 12:30] ngfgrant opened #362 "Fix docs dev deployment"
CONTEXT

Commit https://github.com/cloudreach/sceptre/commit/c58ab85b18824c9b1d8470f90649c6c13a9c8ab2 breaks docs dev deployment.

DONE WHEN
/.circleci/config.yml is updated to take account of new make commands.

[2018-05-09 12:46] #362 closed

[2018-05-09 12:53] #351 closed

[2018-05-09 13:37] chrisduong commented on #347
Yes, it works when I use Environment Name `dev/network`, not `dev`. I thought the tool will auto look up recursively under **dev folder**. Thanks

[2018-05-09 13:37] #347 closed

[2018-05-09 17:37] mithun commented on #344
@ngfgrant I meant something different. The `_create_config_file` function helps a user create a new config file.

In this use case, a config file already exists, but is "templated"[1] and "cascaded"[2]. The new command will read the existing config file(s), resolve all templated and cascaded configuration, and output a standalone and complete configuration for other tools to consume.

In other wor

[2018-05-09 17:57] et304383 opened #364 "Can't Control-C (Ctrl-C) (Break) out of delete-env or launch-env commands"
As per title.  Seems that the standard interrupt of Control-C is ignored.  I would like to be able to kill sceptre if I'm creating an environment or attempting to teardown an environment and something goes wrong.

[2018-05-09 19:55] zaro0508 opened #365 "Disable pre-pending project_code"
I have a bunch of existing CF templates that I have already deployed to AWS (without using sceptre).  My stacks are in CF with specific names such as 'bridge-vpc', 'bridge-subnetA', etc..   Now I would like to update those same stacks using sceptre.  The problem is that sceptre wants to append $project_code-$env to the stack names which means it will create new stacks.  I want to run sceptre and g

[2018-05-09 20:09] zaro0508 commented on #365
Sorry for the noise.  I found the 'stack_name' config and that's exactly what i needed.

[2018-05-09 20:09] #365 closed

[2018-05-09 20:39] jerep6 commented on #344
I have implemented the functionality into the v1 branch.

If you prefer, the command name can be rename in `generate-template`.

**sceptre/cli.py**
[code]
Not knowing python, I would not be able to summit a PR because I dont' know how to write the test.

How can we proceed to move forward?

[2018-05-10 00:16] zaro0508 opened #366 "Template Defaults do not work"
Setting a default template value does not seem to work.

config/prod/config.yaml
------------------------
project_code: sage-bionetworks
profile: {{ var.profile | default("default") }}
region: {{ var.region }}

config/prod/bootstrap.yaml
---------------------------
template_path: remote-templates/bootstrap.yaml
stack_name: bootstrap

Failed Command (without passing profile var)
-------------------

[2018-05-10 01:48] akdor1154 commented on #342
Yep.
Flow:
 - if project allows auto-deletion (step 0)
 - deployedStacks = find existing deployed stacks that are part of project (step 1)
 - toDeployStacks = find stacks that are to be deployed as part of project in working directory (step 2)
 - undeploy all stacks in the set `deployedStacks - toDeployStacks` (do comparison by stack name) (step 3)
 - launch-env as normal (step 4)

## auto-detetio

[2018-05-14 14:17] jpedro commented on #213
The `template_path` could be resolved from a comma separated *list of directories* not just a single one, optionally defined in `config.yml` defaulting to the current `./templates`. The code would then resolve the `template_path` according that list, first-found first-used basis.

This allow a hierarchy to be defined, with base templates (shared via a git submodule, a git repo, a common folder loc

[2018-05-15 18:37] zaro0508 opened #368 "Managing values with KMS"
It would be nice to be able to retrieve values, especially secrets, from AWS KMS and be able to reference it as sceptre variables.  I'm not sure of the best way to implement this but it looks like it might be possible by adding a sceptre resolver?

[2018-05-15 22:08] ryanpagel commented on #65
I'd really like to see something like this as well.  launch-env is very useful but also nerve-wracking because it may make a lot of unintentional changes without giving the benefit of a changeset diff.

[2018-05-16 08:57] m1keil commented on #329
Hey @ngfgrant, I'm interested in similar feature as well and willing to commit some time to investigate.
It seems like two design decisions:

1. All current resolvers only refer to other stacks, should we have a resolver that is able to refer to the outputs of "this" stack? In which case, this resolver should only be allowed to run in the after_* hooks.
2. Should we really use Resolvers here? Mayb

[2018-05-16 14:49] et304383 commented on #368
I accomplished this by adding a custom SSM resolver.

resolvers/ssm_resolver.py:

[code]

Then in your stack config:

[code]

[2018-05-16 16:12] zaro0508 commented on #368
Thanks.  How does boto establishes a connection to aws in this resolver?  I mean does it use the profile and region that you would pass into scepter?  I think it would make sense to make something like this one of the included resolvers with sceptre.

[2018-05-16 16:12] et304383 commented on #368
I don't rely on profiles.  I use aws-runas to set temporary credentials in my shell given I use MFA and don't want to be prompted each time:

https://github.com/vancluever/aws-runas

[2018-05-16 16:32] zaro0508 commented on #368
Ahh, this won't work for us.  We want to run in our CI system but thanks for sharing.

[2018-05-16 16:35] et304383 commented on #368
Your CI system can easily get temporary credentials via an assume role call.  Look into the command

[code]

If you need to use the role of your CI system, just export AWS_PROFILE=<role name>

There are plenty of ways to use profiles without passing in arguments when using boto3.

http://boto3.readthedocs.io/en/latest/guide/configuration.html

[2018-05-17 08:29] scanepa commented on #287
By default every click based python program and sceptre is one, can bash complete. Just following click documentation (http://click.pocoo.org/5/bashcomplete/)  I was able to create my completion.
I did this:```
_SCEPTRE_COMPLETE=source /home/canepas/tempvenv/.venv/bin/sceptre | sudo tee /etc/bash_completion.d/sceptre.sh```
Then I reloaded my bash.

Now I have to find an easy solution for zsh as I'

[2018-05-17 09:19] nmyster commented on #364
Adding some information here from what I can reproduce:
* Running _launch-env <env>_ then pressing Control-C doesn't work until the CloudFormation events are finished.
* The kill command does eventually run but only after the CloudFormation Events have been provided.
* Running _launch-stack <env> <stack>_ and then pressing Control-C works even during CloudFormation events
* Looks like the issue mi

[2018-05-17 09:32] nmyster commented on #359
It seems like an option here would be to check if a Parameter exists in the template but doesn't exist in stack config, assume that the existing value it already has (on stack updates) should be used.
Another Option might be in stack config to supply something like _NoEcho_ or something similar to the Parameter Key's value than when the config is parsed, it can see this and check there already is

[2018-05-17 09:47] nmyster commented on #358
Looks like working with the returned status would be good here but looking at the code (if this is the correct place)...

[code]

[2018-05-17 09:50] nmyster commented on #345
@gbegher I'd also suggest @jerep6's suggestion. You need to surround the Value of the Parameter Key with "'s even if it is being substituted for a variable from elsewhere.

[2018-05-17 09:57] nmyster commented on #343
Can you confirm in what way you are considering `launch-env` to have completed successfully? For example, does the command run and finish without errors as you would expect or do you see the CloudFormation events failing and but the command still be considered successful?

Also, are you using custom stack-names at all, if you are, Sceptre will create the stack with the name provided, regardless of

[2018-05-17 10:05] nmyster commented on #342
Sounds like a useful idea. Some questions here around where dependencies are managed and also how you track the stacks after the stack config no longer exists.

For example, I like the tag idea but in general, there isn't anything stopping people removing/altering those tags. I guess this is up to the account security and not really a concern for a tool like Sceptre but worth keeping that in mind.

[2018-05-17 10:15] nmyster commented on #330
@oazmon How's that PR coming along? 😄  Are you able to provide steps to reproduce the issue?

[2018-05-17 10:47] et304383 commented on #364
I don't mind if the CloudFormation keeps going (I understand that one) for the updates that are in progress.  I just want to get my terminal back when I see this.  I swear the entire process kept going to completion for all stacks though, not just the ones that were in progress, before the process stopped.

Either way, just having the sceptre process stop so I can type again would be sufficient.

[2018-05-17 10:48] et304383 commented on #359
I'd rather not have to edit stack config after a create stack call.

I'd rather be able to somehow specify an update stack value of use previous.  This should be a simple interface.

If create, here's the value
If update, use previous

[2018-05-17 13:43] edubxb opened #369 "The flag --var-file can't be used multiple times"
The flag `--var-file`, according to the documentation, can be used multiple times, but in the [current version available in pip 1.3.4](https://pypi.org/project/sceptre/1.3.4/) doesn't possible.

Seems that exists a regression for the fix that closed this issue https://github.com/cloudreach/sceptre/issues/283.

Also, the current pip version is 1.3.4, but this version "doesn't exists" in the repo ma

[2018-05-17 15:48] oazmon commented on #330
@nmyster ^^^^^

[2018-05-21 17:05] njsnx opened #372 "Sceptre Usage Tutorials"
As a Sceptre user, I want to be able to learn how to use the tool and its various functions through clear and simple to follow tutorials.

Initial discussion required to what format to use for this. Video tutorials are good but time-consuming to produce and possibly update however easy to see results and follow along. "Text" tutorials are simple to update but assume depending on the tutorial can b

[2018-05-22 15:09] #330 closed

[2018-05-23 14:36] alytle opened #376 "Sceptre init template"
I find myself often needing to create new templates, then the configuration files for those templates within each of my environments. I though it would save time to add a `template` sub-command to the `sceptre init` group.

I've cut a PR with the suggestion, and it seems to work pretty well in my testing. To use, you run:

`sceptre init template my_template.yaml --env dev --env prod` - this will c

[2018-05-24 08:54] mattvonrocketstein opened #377 "Programmatic usage & Ansible integration"
I'm interested in building an ansible module for sceptre. This requires me to work with sceptre's API, because I won't benefit from my usage of custom sceptre resolvers if I just naively grab the config yaml from the file system.

Here's some working code I came up with, but I noticed that the imports would be broken with the current development version of sceptre, and the docs specifically mentio

[2018-05-25 06:46] stolendog commented on #377
there is ansible cloudformation module which I haven't tried http://docs.ansible.com/ansible/latest/modules/cloudformation_module.html
but doesn't it do the same work as sceptre does? it looks like it has stacks configs, supports jinja template language, tags and more?

[2018-05-25 12:29] mattvonrocketstein commented on #377
I'm not looking to reimplement sceptre *in* Ansible (even though that would probably be possible); we use Ansible ultimately for CM and not IaC.  That said there are still opportunities for integration, and to keep vars DRY I need to build a bridge between the Ansible runtime, sceptre inputs, cloudformation outputs.

Sceptre already shines at basically being a replacement client/UX for cloudformat

[2018-05-29 07:42] sergioissi opened #379 "Resolver of a parameter that is the output of another stack"
Hi, is it possible to give as input paramter to a resolver a parameter that is an output of another stack?
This is the example:
[code]
This is the error:
yaml.parser.ParserError: while parsing a block mapping
  in "<unicode string>", line 3, column 3:
      Project: roberto
      ^
expected <block end>, but found '<tag>'
  in "<unicode string>", line 16, column 20:
      Tag: !get_tag !stack_outpu

[2018-05-29 07:56] lukeplausin opened #380 "stack_output resolver fails when stack_name of that stack is set"
I am having an issue where the `stack_output` resolver fails when resolving an output which belongs to another stack, which has the `stack_name` parameter set.

For example

[code]

[code]

I would expect the `stack_output` resolver to check whether the `stack_name` of my other stack was set in the yaml config, however it fails with an error like this:

[code]

(stack names were changed)

[2018-05-29 09:57] nmyster commented on #377
@mattvonrocketstein current `master` branch is the WIP for Sceptre V2. If you are looking to work with the current live version, take a look at the `v1` branch.

[2018-05-29 12:16] alytle commented on #177
Is anyone working on this? Do we have any ideas of exactly what the interface would be?

[2018-05-30 10:19] ngfgrant opened #382 "Improve visibility of integration test results"
CONTEXT

Currently our integration tests are not consistently run for PRs that are opened from forked repositories. This means that we only see if the integration tests pass or fail after the PR has been merged. This has recently led to a few unnecessary reverts in master, and additional work for our contributors.

DONE WHEN

Immediate term - our integration tests are run when a PR from a forked r

[2018-05-30 10:43] #336 closed

[2018-05-30 15:10] #198 closed

[2018-05-30 15:39] ngfgrant commented on #366
Hey there are you using v1 branch or master branch? Master is currently a WIP for v2, if you checkout v1 and try with that it should work.

[2018-05-30 15:52] nabeelamjad commented on #379
You should be able to use `!stack_output_external`, let me know if something like this works:

[code]

[2018-05-30 15:54] JuanCanham commented on #379
Not at this time, somebody looked at this a while ago, but it never got merged, you  '!get_tag' resolve could do chain the resolvers, but it would be messy.

I'll see if I can produce a hook for this to unblock you (today/tomorrow), but as the hooks system is being overhalled in 2.0, not sure the original PR will be accepted

[2018-05-30 16:09] nmyster commented on #379
@sergioissi After another go at reading your question versus examples, my new understanding is this.

You have created a new resolver called `get_tag` which you want to use the returned value of for  the `Tag` parameter. In your example, you want to pass the returned value of the `!stack_output` resolver as the input into this new resolver - as @JuanCanham suggests, nested resolver usage doesn't c

[2018-05-30 16:13] JuanCanham commented on #349
template name or entire stack name?
file name is {{ self._TemplateReference__context.name }}
stack name can be derived from a few variables and passed as sceptre_user_data
`{{ environment_config.project_code }}-{{ environment_path | join('-') }}-{{ self._TemplateReference__context.name[:-5] }}` (however you'd be better of using  the pseudo parameter (https://docs.aws.amazon.com/AWSCloudFormation/l

[2018-05-30 16:53] edubxb commented on #369
Thanks for taking care of this.

Any estimation of when will be fixed?

[2018-05-30 17:10] zaro0508 commented on #366
I thought I was using v1.  Tried again with `Sceptre, version 1.3.4` and it seems to be working.  thanks.

[2018-05-30 17:10] #366 closed

[2018-05-30 17:14] niallgrantcloudreach commented on #369
I’ll aim to get this merged into v1 branch tomorrow. Release might be a little while yet but nothing stopping you from using latest v1 branch.

[2018-05-30 18:28] edubxb commented on #369
Thanks a lot!

[2018-05-31 02:41] trenigma commented on #160
Sorry if this is a dumb question (new guy here 🙂) but could someone direct me to the location of the sceptre code relating to the `delete-change-set` command? As a budding coder I’m guessing that might be a good place to start..

[2018-05-31 16:59] ngfgrant opened #385 "Sceptre Multi-Cloud Support"
# Proposal: Multi-Cloud Support

For a while now there has been a desire to add support for other clouds in
Sceptre (#68). The purpose of this proposal is to start a fresh discussion
about how we can best architect Sceptre to support multiple clouds, namely
Azure and GCP.

I'd like to see a final architecture that plays to Sceptre's strengths whilst
avoiding becoming another Terraform. We shouldn'

[2018-06-01 08:26] lukeplausin commented on #380
@nmyster I know about the `stack_output_external` resolver, but this means I need to hard code the stack name in the resolver and for each environment. I think the `stack_output` resolver should still be capable of resolving the `stack_name` parameter if it set.

[2018-06-01 09:42] #271 closed

[2018-06-01 09:54] ngfgrant commented on #382
I have attempted to setup CircleCI to run tests for forked branches. This was unsuccessful due to our AWS credentials not being available to the forked PRs.

In the immediate term, I will update the documentation to help contributors run the integration tests locally and how to setup their own CircleCI instance. Some contributors have already setup their own Circle instance and have reported that

[2018-06-01 10:45] ngfgrant commented on #376
Hi @alytle

Thanks for the PR. This sort of thing might fit in further down the line with an idea we have for creating a `sceptre solution gallery`. As it stands, this sort of thing can be achieved using the built in `touch` command (http://www.linfo.org/touch.html) and so I am going to close this issue for now and also close the PR.

We can review this in the (hopefully) near future.

[2018-06-01 10:45] #376 closed

[2018-06-01 10:49] ngfgrant commented on #358
@JohnVonNeumann did @nmyster suggestion work for you?

[2018-06-01 13:59] JuanCanham commented on #379
I put something together, that should work on sceptre v1 and sceptre v2, unfortunately the sceptre v1 part is a little hacky as we didn't support extensibility through module entry_points, so i'm not sure @jakubincloud will let me open source it under the cloudreach org, however i'm happy to share it with anybody that asks as the code should work, has tests, etc

https://github.com/cloudreach/scep

[2018-06-01 15:22] nmyster commented on #380
At the moment, `stack_output` doesn't support custom stack names. Take a look at using variables and variable files to help with the hardcoding issue you mention.

The problem with using `stack_output` with a custom name is that the way that a stack is named is based on the file path of that stack config. If you set a custom name, there is no current way to determine what stack that actually refer

[2018-06-01 17:39] ngfgrant opened #389 "Breakout docs in to their own repository"
CONTEXT

Our docs are currently part of our core repository and part of the deployment process, which is not entirely necessary. I'd like separate the deployment of the documentation from the deployment of the code so that one is not constrained by the other. There is a decent amount of documentation to create and update. Currently, the deployment process is a bit verbose too, we currently use Jey

[2018-06-03 10:11] rdkr commented on #81
Hey @trenigma, sorry for the delayed reply. No objections here!

[2018-06-03 17:17] rdkr commented on #389
I'd prefer to explore [Read the Docs](https://docs.readthedocs.io/en/latest/index.html) over continuing with a more DIY approach using GitHub Pages. It:

- provides documentation versioning support out of the box, although I'm not sure the current git tags will work with this immediately, as the `v` tag prefix may not be PEP 440 compliant.
- requires no deployment, just merge to version branch. Th

[2018-06-04 22:38] matrinox opened #390 "Convert numbers to strings"
Even though CFN only accepts strings, it would be nice if Sceptre can support numbers in config files to create the illusion that it does. See similar ansible issue: https://github.com/ansible/ansible/issues/25013

Example config:
[code]

The workaround is to add quotes but it's just a bit awkward. Plus, you don't get to write the numbers with underscores as commas: e.g. `65_535`.

[2018-06-04 22:59] nabeelamjad commented on #390
We'll need to have a look, this is likely because yaml automatically parse certain data types.

[2018-06-05 19:08] mattvonrocketstein commented on #377
@nmyster do we think that the v1/v2 split means my previous question has no answer?   To paraphrase: what is the best way to accomplish [basic programmatic usage] in a way that will be stable across many sceptre versions in the recent past and moving forward?

[2018-06-06 09:16] edubxb commented on #369
Hi, any updates about the status of this issue?

Thanks!

[2018-06-06 13:41] jeshan opened #392 "Run multiple stacks in one go?"
Is it possible to run multiple stacks in one go?
I'm looking for something like:
`sceptre launch-stack dev stack1 stack2`

It would be nice to have this or something that launches the first stack in the background and I can launch the second just after. Can this be done at all with the CLI/api?

[2018-06-06 15:00] jeshan commented on #392
I know about "sub-environments" like:

* `staging/config.yaml`
* `staging/group1/stack.yaml`
* `staging/group2/another-stack.yaml`

Is that the only way to go?

[2018-06-06 15:42] JuanCanham commented on #392
environments is the recommended way to go, currently you cant provide multiple stacks. can you describe the setup that wouldn't work with

* `staging/group1/stack.yaml`
* `staging/group1/stack2.yaml`

`sceptre launch-env staging/group1`

It might be possible to work into 2.0, but it might also break any command that requires 4 arguments, so the more detail you can provide the better.

[2018-06-06 18:23] jeshan commented on #392
understood. No it will work as you describe. It's just that "environment" seems like a misnomer for this use case.

[2018-06-06 18:23] #392 closed

[2018-06-09 21:18] cboss24 commented on #368
Just a note, resolvers/hooks have access to `self.connection_manager`. This is a boto3 client that has been wrapped to be threadsafe. It is initialized with the values from `iam_role`, `profile`, and `region` from your config.yaml

So if you want a boto3 client identical to the one launching/deleting your stacks, use self.connection_manager.

Example usage:
[code]

[2018-06-10 17:45] robertwnorris opened #394 "Cannot get launch-env working"
Apologies if this is not the correct place to ask this question.

I’ve been playing around with Sceptre for creating an ECS cluster with a single service. I have everything working when using launch-stack for each template but when I try and use launch-env it fails.

The reason it’s failing is because it is creating the stacks in the wrong order. I have three stacks: vpc, cluster, and component (w

[2018-06-10 18:28] jeshan commented on #394
Instead of putting all your templates for a certain environment flat in the same path, use sub-directories. Sceptre will treat these as "sub-environments" (if that makes any sense). Example for your test env, you can have:

test/
├── cluster
│   └── ecs.yaml
├── config.yaml
├── frontend
│   └── my-frontend-stack.yaml
└── infrastructure
    └── vpc.yaml

Then to invoke in your desired order:
[code]

[2018-06-11 07:01] robertwnorris commented on #394
Thanks for the information.

What I was looking for was a single command to build an environment. I can already do what you are suggesting just using multiple launch-stack command. I was assuming that launch-env would do something similar to a build system in that it would use dependencies to determine build order.

It’s not a major problem, it just means I need a script with a few lines instead o

[2018-06-11 07:14] jeshan commented on #394
ok maybe there's something on [the roadmap](https://github.com/cloudreach/sceptre/wiki/Roadmap) to address what you're saying.
If you use `launch-env` as I showed, the stacks in each of the logical groups are launched in parallel and will make your build faster instead of using individual `launch-stack`

[2018-06-11 07:21] rdkr commented on #394
This sounds like it could be related to #159?

[2018-06-11 12:14] jeshan commented on #372
Exactly. there's plenty of info here:
https://sceptre.cloudreach.com/latest/docs/install.html

I'm a new user too and the doc site was very helpful to me.

[2018-06-11 15:04] ngfgrant commented on #389
Hey @rdkr

Yeh I agree that a more streamlined development and deploy solution needs to exist. There are effectively three types of documentation that we need consider:

1. "End User" Documentation - tutorials, guides, etc.

2. API / Technical Documentation - currently generated by sphinx from inline code comments.

3. General Project Documentation - currently, a mix of .rst files including: READM

[2018-06-11 15:43] ngfgrant commented on #377
@mattvonrocketstein V2 will unfortunately introduce breaking changes. If you want to have your code work for previous versions then it is probably best to write something branching off `v1` and once version 2 is complete amend as appropriate for `v2`.

This is something we would probably include int the `contrib` directory in v1.

[2018-06-11 15:48] ngfgrant commented on #355
@et304383 Did you resolve your issue? Are you happy for me to close this?

[2018-06-11 15:50] et304383 commented on #355
I guess my main problem is that in every stack config file I have to explicitly pass in the environment config.

It would be nice if it was just available like this:

[code]

[2018-06-11 15:53] ngfgrant commented on #355
Does https://github.com/cloudreach/sceptre/issues/256 describe the desired outcome?

[2018-06-11 16:04] ngfgrant commented on #394
@robertwnorris @rdkr - yeh looks like #159 would probably resolve this. The good news is that it is on the roadmap for `v1.3.5`, the bad news is that work has currently not started on it.

I am going to close this issue, if there are any further questions though please feel free to open it up again.

[2018-06-11 16:04] #394 closed

[2018-06-11 16:09] ngfgrant commented on #64
Closing this issue as this is part of a newer issue (#256) currently being resolved as part of v2.

[2018-06-11 16:09] #64 closed

[2018-06-11 16:11] ngfgrant commented on #344
@nmyster -  you reckon you could turn what is here into a suitable PR?

[2018-06-11 16:13] et304383 commented on #355
I don't see how.  I just want environment config to be available to all stacks without having to pass in to scepture user data.

[2018-06-12 05:45] mtb-xt commented on #359
+1 on supporting 'use previous value' -  my use case - creating an RDS clusters.
Imagine a template with two parameters set from env variables - db password and db snapshot to create aurora cluster from.
I don't want to specify the password and the snapshot every time I need to update my cluster, and I don't want to hardcode those parameters either, for security and reusability reasons.

On a side

[2018-06-12 11:01] nmyster commented on #372
This issue was more to track some tasks we wanted to achieve to improve our docs. Tutorials would focus more on scenarios when to use the various features.

Some examples:
* Create a full VPC with Subnets, route tables and NAT Gateways using Sceptre, multiple stacks and  Variables
* Using advanced techniques to improve the reusability and readability of your Sceptre/CloudFormation templates
* Writ

[2018-06-12 13:49] #382 closed

[2018-06-12 16:19] ngfgrant commented on #350
this functionality is now back in latest v1.

[2018-06-12 16:19] #350 closed

[2018-06-12 20:49] fkhokhar commented on #372
I have put together a google doc on how to spin up a vpc, subnet and ec2 using the golden sceptre templates. Just needs some polishing and then it'll be ready for sharing.

 I've also been playing around with custom resolvers and created one that fetches the correct Amazon Linux AMI ID from https://aws.amazon.com/amazon-linux-ami/ based on the region parameter defined in your config.yaml - I've be

[2018-06-13 00:28] m1keil commented on #228
We don't use the lock feature, but having a terminate protecting config option is definitely useful.
The special case with removal of the terminate protection config can be handled by:
1. Nothing. Having a good error message during termination attempt can help.
2. Always trying to add/remove protection on every run of sceptre.

I would use the hook method but the only issue I have with it atm is t

[2018-06-13 07:44] sustacek commented on #228
If it helps anyone, I've implemented a simple hook for this. The nice thing it does it for the current stack automatically - no need to reference the underlying CloudFormation stack, it will be computed by the hook itself:

[code]

[code]

[2018-06-13 07:57] m1keil commented on #228
cheers, haven't realized the stack name is exposed under `self.stack_config.name` !

[2018-06-13 08:02] sustacek commented on #228
Yeah, I'm just very freshly beginning with Spectre (love it so far) and I found that code snippet somewhere around forums / issues discussions.

[2018-06-13 12:56] sustacek commented on #85
For anyone interested, I also needed to solve this using custom resolver. I figured out a way to reuse the original StackOutput resolver, only changing the underlying region before the resolving is done (if needed).

Please note I'l just starting with Sceptre, so no guarantees, but it seems to work fine:
[code]

Usage:
[code]

[2018-06-14 04:01] bmgoau opened #402 "Can't seem to get Hooks working"
Hey Team,
I just cannot seem to get hooks working, following the example in https://sceptre.cloudreach.com/dev/docs/hooks.html
Here is my custom_hook.py:
[code]
setup.py
[code]
stack.yaml
[code]
When I attempt to run sceptre --debug launch-stack env stack I get:
[code]
My custom hook is installed into the same python as sceptre
[code]
I'm using this version of sceptre
[code]
I have tried  python s

[2018-06-14 06:19] bmgoau commented on #402
Ok, I was reading the docs under /dev and https://sceptre.cloudreach.com/latest/docs/hooks.html has the correct information.

[2018-06-14 06:19] #402 closed

[2018-06-14 07:08] niallgrantcloudreach commented on #369
Hi working on “picking” this across. although it looks like the implementation of this relied on v2 chanages. Might take a little longer to modify for v1.

[2018-06-14 09:27] 1oglop1 commented on #389
I do not really see the reason in splitting the docs into separate repository.
as @rdkr pointed out RTD should be good enough option because they support sphinx and documentation versioning, and since they host so many docs for other projects.
example: http://www.writethedocs.org/guide/ Which we can certainly use and benefit from it.

@ngfgrant there is info about doc versioning
 http://docs.readt

[2018-06-14 10:45] JuanCanham commented on #402
For anybody [reading this from the future](https://xkcd.com/979/), the core issue is that the docs are referring to sceptre 2.0 which supports extensibility via python entry points.

[2018-06-14 16:28] edubxb commented on #369
Ok, thanks for the update!

[2018-06-15 11:23] ngfgrant opened #403 "Azure Spike"
# CONTEXT

As part of our effort for #385 we want to develop a "spike" of "Azure support for Sceptre".

The purpose of the spike is to experiment and figure out some of the challenges we might face when implementing Azure support "properly". With a working prototype we can avoid any "big design upfront" and make use of learnings for the full implementation. The spike shouldn't focus on code qualit

[2018-06-15 12:52] ngfgrant opened #404 "GCP Spike"
CONTEXT
As part of our effort for #385 we want to develop a "spike" of "GCP support for Sceptre".

The purpose of the spike is to experiment and figure out some of the challenges we might face when implementing GCP support "properly". With a working prototype, we can avoid any "big design upfront" and make use of learnings for the full implementation. The spike shouldn't focus on code quality or t

[2018-06-15 19:14] ngfgrant commented on #389
Hey @1oglop1

Where to host of the documentation, is not the primary issue with this ticket. Could you also elaborate on not seeing the reason for splitting out the docs based on what has been said, so that I can try to address the main concerns you have?

The main goal is to be able to iterate the docs, specifically end-user (non-API docs), without the same burden currently imposed by:

- the con

[2018-06-18 08:21] webknjaz commented on #389
@ngfgrant it's entirely possible to use @travis-ci for docs only without separating them into a detached repo and even restrict it to run only tagged commits for example. There's also a Pages deployment provider I wrote, which cares care of putting html into gh-pages and is configured in declarative manner right from Travis CI config.

[2018-06-18 16:50] zaro0508 opened #406 "Resolver for AWS SSM"
Similar to issue #368, sceptre should include a resolver to get values from AWS SSM (the parameter store).

[2018-06-18 17:07] chhibber opened #407 "Question - ETA for the latest release?"
I am looking to pull in a number of fixes,  is there an ETA to release the next version of sceptre?

Thanks
Sono

[2018-06-18 18:18] niallgrantcloudreach commented on #407
Hey @chhibber - there are two streams of work going on right now. One stream is for v1.3.5 and one is for v2.

I am hoping that we will be in a position to get v2 out within the next 2 weeks. This is the main focus.

For version 1 depending on how things for v2 are going we could also get a release out in the next couple of weeks.

Which features are you needing to use and I could help with instru

[2018-06-19 05:17] craighurley opened #410 "hook fails when var-file used"
My hook fails when I use a var-file.  It succeeds otherwise.  Can someone please advise on how to fix/workaround?

# Version

[code]

# Reproduction

## Files

`vars/prod.yaml`:

[code]

`config/prod/network.yaml`:

[code]

## ERROR output

[code]

# Notes

If I change `config/prod/network.yaml` to use defaults for what would normally be passed in from the var-file, the hook works:

[code]

SUCCES

[2018-06-19 14:47] 1oglop1 commented on #389
Just an addition - bare in mind that separating the repositories will bring a lot of side development overhead which is not really necessary to have given the size of project.
Another advantage of RTD it does build the docs for you.
I'd go for a simple version schema to cover the docs - dev, latest stable, few previous versions.

[2018-06-19 17:37] matrinox opened #411 "Sceptre will say stack not found when stack is in ROLLBACK_COMPLETE"
[code]

Technically none of the resources are active but it'd be better if they can do cleanup duty and remove the stacks.

[2018-06-20 13:46] ngfgrant commented on #389
Hey @webknja - thanks for joining the conversation. At the moment we aren't looking to move from CircleCI, it currently does what we need including recognising tagged commits.

@1oglop1 - Yep there would be some admin that doesn't currently exist for the maintainer. I think I've addressed the points on RTD and builds above.

As an aside, and more of a note to myself, I will need to check if there

[2018-06-20 16:01] webknjaz commented on #389
My point was not about moving to Travis completely, but if you wanted to separate docs builds it would be a perfect place to do so.

[2018-06-20 16:56] rdkr commented on #389
These goals seem like they are achieveable by adding a step in the process to check "does this commit only touch `docs/*`" before continuing or not with the rest of the automated build, test, deploy process.

For me, the greatest downside of the two repo approach is not a technical concern but instead the more complicated experience for code contributors who would have to update two repos and for

[2018-06-21 08:49] 1oglop1 opened #412 "Convert Jeckyll and MD to Sphinx and RST"
Current docs are in MD and as we are having a discussion about docs structure #389 , one thing is clear.
We are going to use Sphinx and RST.
 @rdkr Let's discuss the conversion here as you suggested.

[2018-06-22 09:06] #407 closed

[2018-06-22 09:54] ngfgrant commented on #410
Hi @craighurley

Just quickly looking at the CLI code for this. It looks like the CLI is expecting a file rather than a path to a file. Could you experiment with moving the var file up one level and running

```sceptre --var-file=prod.yaml launch-env prod```

It might not be the root cause but it is a starter for 10. I'll dig deeper on this in a bit.

[2018-06-22 10:01] ngfgrant commented on #410
Ah actually - can you try using `--var-file` without the `=` (keep the directory structure as you originally had):

```sceptre --var-file prod.yaml launch-env prod```

I think this might be a case of outdated docs.

[2018-06-22 10:51] mithun opened #414 "update-stack-cs does not exit with an appropriate return code"
The return code for `update-stack-cs` is not consistent with other commands such as `create-stack` or `update-stack`. In the cases where a change-set execution rolls back and leaves the stack in a ROLLBACK_COMPLETE state, `update-stack-cs` should exit with a return code of `1` to indicate a failed execution whereas it currently _always_ exits with a `0`.

## Steps to Reproduce

Create a new stack

[2018-06-22 12:45] ngfgrant commented on #410
Hi @craighurley

Ok so looking into this it looks like there is a limitation in the information we make accessible within Hooks.

Basically, it looks like the main thing you are trying to get the `stack.external_name`. In doing so, you create a stack and environment. Unfortunately, the methods that this triggers means you don't have access to the user_variables that you have passed in on the CLI.

[2018-06-22 13:40] ngfgrant commented on #380
@lukeplausin - did you get a resolution to this at all?

[2018-06-22 16:24] zaro0508 opened #416 "Is cascading environment config being deprecated?"
I noticed the docs says "Cascading stack config is being deprecated, and should not be used".  I also noticed discussion in issue #256 around general redesign of configs.  It wasn't clear to me whether the redesign includes environment configs so I'm wondering if cascading environment configs will be deprecated as well?

[2018-06-25 09:19] 1oglop1 opened #417 "Documentation update"
This issue will serve as an aggregator for what's missing in documentation.
Once #389 and #412  is resolved, it will be good to split this into separate issues.

**Issue:** Sceptre documentation silently assumes prior `CloudFormation` knowledge.
**Issue:** Command description is somewhat vague - it's very unclear what `execute` does.
[code]

Action points:

- [ ] Write down information about confi

[2018-06-25 10:11] ngfgrant commented on #417
Hey @1oglop1

There are a couple of issues (#306, #372) that already exist to collate and track feedback relating to documentation/user guides, so I am reluctant to start another.

More than happy to have issues that deal with specific shortcomings such as #262.

Regarding the `execute-change-set` command. Sceptre effectively acts as a wrapper around boto3. As such, `execute-change-set` is an AWS

[2018-06-25 10:14] ngfgrant commented on #416
Hi @zaro0508

I think the previous maintainers had wanted to deprecate cascading stack config. However, after discussion, it seems like the consensus is to keep cascading config for both environments and stacks. Hope this helps to clear things up. I will be updating the docs for the upcoming v2 release.

[2018-06-25 10:14] #416 closed

[2018-06-25 10:47] ngfgrant commented on #298
@achidlow - if you have that patch still available could you submit it as a PR? If you need help with this just let me know and I'll be happy to help.

[2018-06-26 07:33] 1oglop1 commented on #417
@ngfgrant
I somehow missed #306, I guess that's more than appropriate place for this. Feel free to move the content from this one there.

I also found nice example how we should provide the necessary link when we wrap original commands without change.
Look at this example:
https://elasticsearch-py.readthedocs.io/en/master/api.html#snapshot

Explanation is pretty brief (though effortless) and conta

[2018-06-26 09:31] #417 closed

[2018-06-26 09:32] ngfgrant commented on #417
Closing as #306 deals with the aggregation of documentation tasks for v2.

[2018-06-26 09:54] 1oglop1 commented on #306
This issue will serve as an aggregator for what's missing in documentation.
Once #389 and #412  is resolved, it will be good to split this into separate issues.

**Issue:** Sceptre documentation silently assumes prior `CloudFormation` knowledge.
**Issue:** Command description is somewhat vague - it's very unclear what `execute` does.
[code]
-------------------------

Action points:

- [ ] Write do

[2018-06-26 16:05] #257 closed

[2018-06-26 16:45] zaro0508 commented on #349
I'm looking to do the same sort of thing.  I want to pass the stack name to the cmd hook.  Is this possible?  Something like this..

[code]

[2018-06-28 13:35] JuanCanham commented on #177
Nobody is working on this, I'm considering spiking this as a hook post v2.

There is a serious limitations that would make it inappropriate for a lot of usecases though, namely that the stacksets don't work with OUs, if the OU gets updated, so it would need to be re-run on OU changes.

[2018-06-28 13:41] JuanCanham commented on #67
I know this is an old thread, but can we close as will not implement?

`.yaml` is the "correct" extension as per http://yaml.org/faq.html and most of the workarounds are quite hacky

[2018-06-30 08:47] 1oglop1 commented on #306
@rdkr @ngfgrant Live version of RTD
https://beta-doc-sceptre.readthedocs.io/en/sphinx-doc/#

To update docs, all I needed was to push to the branch.

[2018-07-02 01:43] craighurley commented on #228
@jordie23 what version of sceptre did that work for you?  Keen to know in order to resolve a same use case as described here: https://github.com/cloudreach/sceptre/issues/410

[2018-07-02 03:56] jordie23 commented on #228
Sceptre 1.3.4

But I've just realised we define our stack name  "stack_name" in our config that's why it's working for us

https://sceptre.cloudreach.com/latest/docs/stack_config.html#stack_name

[2018-07-03 10:27] jakul opened #421 "Support Transforms"
When I try to update a stack with Transforms in I get the following error:

"An error occurred (ValidationError) when calling the UpdateStack operation: UpdateStack cannot be used with templates containing Transforms."

This behaviour worked in https://github.com/cloudreach/sceptre/pull/326, which was merged to master in https://github.com/cloudreach/sceptre/commit/10c71e7ab459287a451ccdcfc4876ec9

[2018-07-03 10:32] ngfgrant commented on #421
Thanks for the heads up on this @jakul - will aim to get this back in again soon. Maybe once it is ready to get merged again I could get you to test this from it's branch?

[2018-07-03 10:49] jakul commented on #421
Yup sure.

[2018-07-03 12:50] JuanCanham commented on #421
yeah, sorry i failed at git, then had to do some other work, i'll try and figure out how to resubmit that at some point this week.

[2018-07-03 15:50] ngfgrant opened #422 "Refactor Stack Dependency Handling"
# CONTEXT

There are a number of issues open regarding dependencies:

- #298
- #304
- #360
- #159
- #302
- #38

There are a few legitimate limitations with stack dependency handling which this refactor will deal with but more importantly this refactor will ensure that regardless of launch order, explicit and implicit dependenies will be resolved or a useful error thrown.

Whilst I don't expect the

[2018-07-03 16:49] ngfgrant commented on #421
Looks like everything is passing as required for this https://github.com/cloudreach/sceptre/pull/419

@jakul maybe you could checkout Juan's changes from the above PR to test:

`git checkout -b JuanCanham-auto-create-change-sets-full-change-for-v1 v1`
`git pull https://github.com/JuanCanham/sceptre.git auto-create-change-sets-full-change-for-v1`

If it is all working I'll get that PR merged in.

[2018-07-04 01:41] mattvonrocketstein opened #423 "Feature Request: unconditional "after" hook"
For sceptre version 1.3.4, `after_update` hooks do not fire if stack changes were not performed and execution simply halts with

`[2018-07-03 21:31:15] - sceptre.stack - env/stack_name - No updates to perform.`

As long as there is no actual error, there are many cases when a hook is useful to fire off even if the stack itself is not updated. (Examples of this might include say a slack notifier sa

[2018-07-04 02:57] cboss24 commented on #423
Potential copy of 358.

[2018-07-04 04:37] mattvonrocketstein commented on #377
I'm still interested in the question of basic programmatic usage, but I'm more familiar at this point with writing Sceptre hooks, and rather than driving Sceptre from Ansible I can see it would possible to drive Ansible from Sceptre.

Here's a few more possible integrations I'm brain storming about.  I have code for much of this, I'm now looking for feedback about whether I ultimately might need t

[2018-07-04 05:59] mattvonrocketstein commented on #355
Issue #256 does seem kind of related, but the namespaces/global-config/command-line stuff it is mentioning seems to propose extra conventions.  What makes the most sense to me for this ticket is just putting both `environment_config` and `stack_config` in the jinja context if possible, because this actually makes existing conventions from jinja more symmetric with python resolvers / hooks.

[2018-07-04 06:55] jascination opened #424 "Cannot use update-stack; get "AWS::DynamoDB::Table CREATE_FAILED {{table name / s3 bucket name / etc }} already exists" errors"
I'm trying to use Sceptre to update a stack of dynamodb tables. I've continually had issues with Sceptre / AWS / Cloudformation; when I try to update a stack (i.e. adding new tables or deployment buckets to a stack) it fails with `CREATE_FAILED: your-table-name already exists`.

My template:

[code]

My config:

[code]

`DynamoDbTableProjects` has been added since the last deployment. I'm running

[2018-07-04 08:15] schotlandzegtja commented on #372
RE: videos being time-consuming to produce, perhaps worth taking a look at https://asciinema.org

[2018-07-04 08:30] ngfgrant commented on #306
Nice work on the rst/sphinx conversations. The CLI doc tool seems to work nicely as well. Could I ask that those docs are taken off RTD for the time being though?

[2018-07-04 09:17] jakul commented on #421
@JuanCanham https://github.com/cloudreach/sceptre/pull/419 is very far behind `sceptre/master` and I'm unable to test it. Can you update it to have the latest code?

[2018-07-04 09:46] ngfgrant commented on #423
Yep agreed that this is the same as #219. Something we will do. Closing this issue for now in favour of the discussion that has already happened in #219.

[2018-07-04 09:46] #423 closed

[2018-07-04 10:35] jakul commented on #421
Oh. I don't know how to test stuff against v1. I can test against v2 once it's merged in there.

[2018-07-04 10:46] et304383 commented on #355
Making environment_config available in the jinja2 context would be the most flexible.

[2018-07-04 12:46] #406 closed

[2018-07-04 13:22] ngfgrant commented on #377
Definitely happy for this to progress but it's not something I'll be able to help with it the near-mid term. I think it would be reasonable to introduce this as a new feature or plugin somewhere in post v2.0 release if there is enough interest etc.

Re `from sceptre import contrib`. If you'd created your directory here as a python module with a `__init__.py` then I doubt the import will work. If y

[2018-07-04 13:29] ngfgrant commented on #67
Yeh I agree @JuanCanham. It is not a priority at the moment, I will make sure it is clear in the docs to use .yaml and not .yml.

[2018-07-04 13:29] #67 closed

[2018-07-04 13:32] ngfgrant commented on #177
It is down on the Roadmap for 2.1 - so if there is any effort put toward this please do it off master rather than v1.

[2018-07-05 16:35] fkhokhar opened #425 "Fetching AMI IDs from AWS CLI"
It would be nice to be able to pull AMI IDs from AWS CLI with a custom resolver. Will save time and prevent errors as opposed to doing it manually. Fetching various kinds of Amazon Linux AMI IDs should be a good start.

[2018-07-05 16:44] JuanCanham commented on #425
I have a cmd resolver i was going to release with V2 as a separate piece of code, but if this helps unblock you, you can stick this in `resolvers/cmd.py`

[code]

[2018-07-05 17:04] pc-mreeves commented on #275
Link is broken. Only reference I can find is here: https://aws.amazon.com/blogs/mt/aws-cloudformation-2017-in-review/

[2018-07-05 18:40] mattvonrocketstein opened #426 "`stack_tags` does not support !resolvers"
I have a custom resolver that tags my stacks with repo name/git hash, but using that I end up with cloudformation stack tags like `<resolver object>`.

[2018-07-06 01:03] craighurley commented on #425
Not quite what you asked for, but you can get the latest AMI using AWSs public SSM parameters within your CloudFormation template, e.g.

[code]

WARNING: this will replace instances when the AMI is updated and you perform a CloudFormation update.

For a full list of available AMI paths:

[code]

[2018-07-09 18:54] 1oglop1 commented on #306
@ngfgrant yeah no problem, it was just for the demo.

[2018-07-10 17:02] zaro0508 commented on #70
@jamesroutley I see that templates can be automatically uploaded to S3 but it doesn't seem like the docs mention that sceptre can deploy templates referenced directly in an S3 bucket.  What would you specify for the template_path if you want to reference a bucket, something like `s3://org.acme.mybucket/foo-template.yaml`?

[2018-07-10 21:34] edubxb commented on #369
Will be this issue finally addressed to get it solved in the v1? Thanks!

[2018-07-11 20:10] kriansa opened #431 "Fail to install on python 3.7"
PyYAML 3.12 is failing to build on python 3.7.

A newer version (3.13) is working and should be used instead.

[2018-07-14 02:09] craighurley opened #432 "How to conditionally add items to a list parameter?"
Is it possible to conditionally additional items to a list parameter being passed to a template?

For example... `config/dev/test.yaml`:

[code]

[2018-07-14 02:33] craighurley opened #433 "How to use dependencies across subfolders within config?"
Is it possible to use `dependencies` when config contains subfolders?

For example, using this folder structure...

[code]

Essentially it's the approach described as "DevOps team who manage all the infrastructure for thier service" on this page: https://sceptre.cloudreach.com/latest/docs/architecture.html

`config/dev/b/appB1.yaml` looks like this:

[code]

1. I deploy using `sceptre launch-env d

[2018-07-17 10:51] #253 closed

[2018-07-17 12:16] ngfgrant opened #435 "Sceptre Update & Feedback"
Hi all,

I thought I would give an update about the status of Version 2, as of 17th July
2018; for an up to date view of V2 [see the roadmap](https://github.com/cloudreach/sceptre/wiki/Roadmap).

As it stands, Version 2 (in `master`), can be used for experimentation
purposes. There are two outstanding items that are still to be completed but
shouldn't have a negative impact once introduced. The ou

[2018-07-17 15:16] vazkarvishal opened #436 "Unable to install sceptre using python 3.7"
Hello,

I have tried to install sceptre using python 3.7 (as that is the version which gets installed with brew) and am having trouble trying to install the tool. The error is as given below:

`$ Failed building wheel for PyYaml`

Following that error, I have done some looking around and realised that PyYaml have released a latest version **3.13** which resolves the wheel issues. However, on runni

[2018-07-17 15:38] jeshan commented on #436
issue #413 already open

[2018-07-17 15:51] jeshan commented on #431
Running on 3.6 gives:

`docker run --rm -it python:3.6 pip install sceptre`
[code]

Running on 3.7 fails:
`docker run --rm -it python:3.7 pip install sceptre`

[code]

[2018-07-17 15:59] ngfgrant commented on #436
Hey Vishal,

From a Python point of view, for now we support Python 3.6 and there are no immediate plans to "support" Python 3.7; that's not to say we won't support 3.7; but for now there are bigger fish to fry.

Looking at our `requirements.txt`, it looks like `PyYaml==3.12`. That is probably is something we can update without much controversy in `v1.3.5`. It is also the source of your issues.

I

[2018-07-17 16:02] ngfgrant commented on #436
Correction: I will close this issue and use #431 to track the discussion, it was open first and this is a duplicate.

[2018-07-17 16:02] #436 closed

[2018-07-17 16:03] vazkarvishal commented on #436
Hello,

Thanks for the update. I can wait till the end of the month and just work off the 2.x installation I have at the moment.
 Virtualenv: yes I am using this. Have it setup locally and a requirements,.txt created with sceptre on there too!

Thanks,
Vishal

[2018-07-17 16:04] ngfgrant commented on #431
Thanks for the more detailed description.

#436 also raised this issue and my response was:

From a Python point of view, for now we support Python 3.6 and there are no immediate plans to "support" Python 3.7; that's not to say we won't support 3.7; but for now there are bigger fish to fry.

Looking at our requirements.txt, it looks like PyYaml==3.12. That is probably is something we can update wi

[2018-07-17 22:20] vazkarvishal commented on #433
I was going to ask a question which is very similar to this one. Have you tried using Resolvers?  Here is a reference on [How to use resolvers](https://sceptre.cloudreach.com/latest/docs/resolvers.html)

you coukd achieve this by either using stack_output or the stack_output_external resolver as shown below:

Example of a stack output which has been provisioned using sceptre
[code]
and then use th

[2018-07-20 04:43] pilgrim2go commented on #422
really really need this feature
+1

[2018-07-20 09:55] jaymecd commented on #433
Sceptre builds list of dependencies only direct path hierarchy, see [v1.3.4/sceptre/environment.py#L306](https://github.com/cloudreach/sceptre/blob/v1.3.4/sceptre/environment.py#L306) for more info.

There are two ways to solve such problems:
1. use `!output_stack_external` resolver, but as argument full stack name from CloudFormation have to specified.
2. write another resolver for project absolu

[2018-07-23 13:54] ngfgrant opened #437 "Improve stack with no outputs error message"
Context

The previous error message was KeyError: 'Outputs', which doesn't tell you which stack is the problem.

Done When

A better error message is shown - displaying the offending stack.

[2018-07-27 10:06] #437 closed

[2018-07-27 12:08] ngfgrant opened #438 "Add contrib to the sceptre package"
Contributions are in the same repo as core sceptre therefore it's
versioned with core sceptre. This would mean that it should also
be released with sceptre.

[2018-07-27 12:18] #438 closed

[2018-07-27 20:49] alytle opened #439 "InvalidClientTokenId error after commit bf70aec9f88e095d295c93a40d091d4d45f57b3e"
When I upgrade past this commit, my environment variable based credentials stop working: https://github.com/cloudreach/sceptre/commit/bf70aec9f88e095d295c93a40d091d4d45f57b3e

Old Build:
[code]

New Build:
[code]

My AWS CLI still works with the same credentials, and so does boto3 if I instantiate it with defaults (boto3.client('cloudformation')). I expect this relates to a change in this build in

[2018-07-30 12:46] ngfgrant commented on #302
@cboss24 I am having issues recreating this. Would it be possible to share the full output of your template and config files? There is a fix in for this and want to test it against your exact scenario.

[2018-07-30 13:00] nabeelamjad commented on #439
I think I have an idea what could be causing this, could you try installing the following Sceptre version: https://github.com/nabeelamjad/sceptre/tree/session-token-fix

Let me know if that works.

[2018-07-30 15:33] et304383 opened #441 "Please release 1.x update to address dependency issues"
Jinja2 version issue was fixed, but no new version was pushed.

Click is stuck at version 6.6 but 6.7+ is available.  Can't install aws sam cli as a result.

[2018-07-30 16:57] alytle commented on #439
I tested it with the same environment/templates and it seems to work correctly. Anything specific you need me to test other than the command which failed previously?

[2018-07-30 20:52] nabeelamjad commented on #439
Nope, no need. I'll get this fix in PR soon and hopefully merged not too long. I just need to run some tests to ensure everything is good with or without AWS security tokens.

[2018-07-31 05:52] akdor1154 opened #443 "What does my workflow look like when I have to administer both sceptre-v2 and sceptre-v1 projects?"
Sceptre v2 projects will be incompatible with Sceptre v1, and vice versa (confirm?)

Eventually, all my projects will be migrated to Sceptre 2. However, especially in a large organization, there's going to be a reasonable period of time where I need to interact with both sceptre-v1 and sceptre-v2 projects.

How do I do this? The bludgeon approach would be to `pip3 install sceptre<2` before I do sc

[2018-07-31 06:02] akdor1154 commented on #424
Guessing you are hitting an old CloudFormation design drawback - for certain changes on certain resources, CloudFormation wants to create a new replacement resource with the changes applied, then delete the old one once the new one has been created. However, forcing resource names prevents this from working. See https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.htm

[2018-07-31 06:06] akdor1154 commented on #432
[code]
?
[code]

[2018-07-31 07:40] 1oglop1 commented on #443
imo virtualenvs are way to go. Plus whoever is using sceptre is not "end-user" and should be aware of working with python. Same applies for the ansible or saltstack. It may be not needed but it really helps.

[2018-07-31 10:39] #439 closed

[2018-07-31 10:41] ngfgrant commented on #441
@et304383 sure no problem. Assuming that click 6.7 doesn't break things and require further work, I will get this into our next release which will be this week.

[2018-07-31 21:21] rgitzel opened #445 "An official Docker image?"
I have just started using `sceptre` _(sweet! no more hand-rolling a bash script for every project's set of stacks)_ and run it as a Docker container. Since there's no official image, either I can use out-dated third-party images from Dockerhub, or roll my own.

It would be much nicer (and quicker) to be able to pull official images, particularly when a new version of `sceptre` comes out.

This see

[2018-08-01 07:35] ngfgrant commented on #445
Hey @rgitzel

Good suggestion. Currently, we have https://hub.docker.com/r/cloudreach/sceptre-circleci/ which is built from https://github.com/cloudreach/sceptre/blob/master/.circleci/Dockerfile and is used in our CircleCI builds. Is this the sort of thing you mean?

Cheers,
Niall

[2018-08-01 11:15] ngfgrant commented on #302
@cboss24 I have now been able to recreate this and identified the core part of the issue.

I think if we are going to go down the route of loading in all stacks but only acting on `y`
then we need to probably resolve and execute all implicit and explicit dependencies of `y`.
For example, if `y` has `stack_output` from `x` and x does not exist then we will need to
launch and resolve all of `x`'s de

[2018-08-01 15:03] ngfgrant opened #446 "Fix typo in stack launch docstring"
docstring for Stack.launch() says "create_complete" when it should be "create_failed".

[2018-08-01 15:08] #446 closed

[2018-08-01 20:43] rgitzel commented on #445
Hey @ngfgrant,

That Docker image has a much different purpose.  As I understand it, it gives CircleCI a command-line environment that's able to run the build.  It's not used to run Sceptre, itself.

In this case, the Docker image already has Sceptre installed, ready to run.

Thus you can run Sceptre without ever even having Python installed.

[2018-08-02 07:30] seddarj opened #447 "Support CloudFormation built-in functions (!Join, !Sub etc.)"
Are there any plans to support built-in CloudFormation functions like `!Join` or `!Sub`?

It is often necessary to grab the output of a stack using a `!stack_output` and append something to it etc. which cannot be **generically** defined using the current Troposphere + Yaml paradigm alone.

From an implementation standpoint it would mean to have the Yaml parser ignore those tags or something simil

[2018-08-02 08:45] #425 closed

[2018-08-02 08:48] ngfgrant opened #448 "Update v1 dependencies"
Requests have been made to update a couple packages.

PyYaml - #431
Click - #441

This ticket will deal with updating any packages for v1and any more packages as required.

[2018-08-02 08:50] ngfgrant commented on #441
I am going to close this issue but it will make it into next v1 release as part of #448

[2018-08-02 08:50] #441 closed

[2018-08-02 08:50] ngfgrant commented on #431
Closing as this will be dealt with as part of #448

[2018-08-02 08:50] #431 closed

[2018-08-02 08:52] #298 closed

[2018-08-02 12:57] ngfgrant commented on #38
@robgodfrey-ft can I ask which version of sceptre you were using when this issue affected you? I am struggling to recreate it and think it might have been resolved as part of 970c118f2a18105e13e5bb370930f6e2de2ed674 but need to investigate further.  The commit that looks like it might have fixed this made it into the v1.20 release so if this has solved the problem any version since v1.20 might be

[2018-08-02 15:37] #448 closed

[2018-08-02 15:44] ngfgrant commented on #433
This is related to #159

[2018-08-02 15:56] ngfgrant commented on #302
This is also partially related to https://github.com/cloudreach/sceptre/issues/159 too.

I think we probably need a more considered view for a v1 fix for this; even if it is a better error message, that "the stack cannot be created as it depends on another stack that doesn't exist".

Having looked into the issue a bit further I am a little concerned about changing the behaviour of `Environment.lau

[2018-08-02 16:46] robgodfrey-ft commented on #38
Hi, 6 months on I don't know. I'll try and reproduce with 1.3.4 tomorrow. Will post steps to reproduce if I can.

[2018-08-03 06:49] akdor1154 commented on #447
Can't you still just do it in the second stack with !Join in its template?

[2018-08-03 06:58] seddarj commented on #447
That's the question 😃 @akdor1154

I don't think you can from the `.yaml` file because sceptre tries to interpret `!Join` when it parses the yaml but doesn't know how.

[2018-08-03 07:59] ngfgrant opened #451 "Update HISTORY for next v1 release"
DONE WHEN

`HISTORY.rst` reflects the changes since 1.3.4.

[2018-08-03 08:14] ngfgrant commented on #38
@robgodfrey-ft Thanks - any pointers would be greatly appreciated.

[2018-08-03 09:08] #451 closed

[2018-08-03 14:26] ngfgrant commented on #360
I think this is probably due to a dependency in one environment being referenced in another external environment. Suggest using `!stack_output_external` or explicitly define your dependencies as @nmyster suggested.

[2018-08-03 14:27] ngfgrant commented on #358
@JohnVonNeumann any luck with this or can I close it out?

[2018-08-03 14:28] #368 closed

[2018-08-03 14:29] ngfgrant commented on #328
@jjm I think this is just a docs update.

[2018-08-03 14:31] ngfgrant commented on #304
This will be properly dealt with as part of #422 in version 2.

[2018-08-03 14:31] #304 closed

[2018-08-03 14:31] #249 closed

[2018-08-03 14:32] #187 closed

[2018-08-03 14:34] ngfgrant commented on #411
Good spot. I think we can probably handle this better.

[2018-08-04 04:42] akdor1154 commented on #447
You should be able to do it from the template file, just not from the stack config file.

[2018-08-07 11:35] seddarj commented on #447
FYI, I ended up adding a functionality in the base class which all my templates inherit to parse the sceptre_user_data object and look for certain keywords and convert those to CloudFormation intrinsic functions.

This issue can be closed ;-)

[2018-08-07 11:35] #447 closed

[2018-08-07 11:49] seddarj opened #456 "stack_group_path doesn't contain the whole path at every stage"
In v1, the `environment_path` variable used to contain the whole path to the stack being deployed.

In v2, the `stack_group_path` variable only contains the path up to the file being considered at a given point. For example, in the following case, this is what happens:
[code]

Was the new behavior designed like this for some reason or was it changed inadvertently?

I have use cases where the old b

[2018-08-09 08:12] ngfgrant opened #458 "Remove cascading config depreciation warning."
CONTEXT

Currently, there is an outdated warning about removing cascading config from the project. It was decided that this is not the direction we want to go down so need to remove the notice.

DONE WHEN

The warning is removed.

[2018-08-10 13:55] JuanCanham commented on #193
As this is fairly high up the google results for `sceptre --disable-rollback`, i'll just add that #194  solved this by implementing `on_failure` in the stack config, so you can specify
[code]
Documentation for this is here: https://sceptre.cloudreach.com/latest/docs/stack_config.html#on_failure

[2018-08-12 22:50] akdor1154 commented on #443
Worth considering from the CI agent point of view as well - do I need to have a separate agent for sceptre1 vs sceptre2 projects? Or should the CI scripts for my projects need to be aware of how to set up virtualenvs?

[2018-08-16 12:26] SaMnCo commented on #421
Hi there,

Kudos team for the work on Sceptre. Just started using it and it drastically improved my CF experience.

I am facing a similar issue as @jakul while working on SAM templates. It seems it has been referenced in here #197, #198, #240 but I don't understand how to get these updates.
I am currently on 1.4.0 which seems to be the latest and greatest, and I am getting:

[code]

Any advice / r

[2018-08-16 12:46] JuanCanham commented on #421
I'm not sure exactly when it will hit mainline, but given there are MRs, it should be soon (unfortunately due to other commitments @ngfgrant has been left with the unenviable job of figuring out what i did to my git history and how to get the fixes in (sorry Niall))

Serverless support is not likely in the short term, as serverless likes to control the cloudformation stacks itself, so we would lik

[2018-08-16 12:50] SaMnCo commented on #421
Thanks for the quick answer and info, I appreciate it. Still not familiar enough with the tool to assist much at this stage unfortunately.

I think I'll keep Sceptre + SLS for now. SLS is no good to manage the persistent assets as far as my experience goes, so I still rather deploy the blueprint with Sceptre and only APIG/Lambda with SLS.

Anyway, thanks for the update, I'll keep an eye on the rel

[2018-08-19 16:03] stolendog commented on #435
Hello @ngfgrant
when can we expect the v2 release?

[2018-08-19 18:46] stolendog commented on #145
The same question as @cboss24 wrote, why we don't have a possibility to register hooks from `hooks` folder in v2?

[2018-08-20 08:32] ngfgrant commented on #435
Hey @stolendog - I was hoping to get it out last week. Unfortunately, the final task I am working on is taking a bit longer than hoped; really hoping to get (at least) a release candidate out in the next couple of days. As it stands you can experiment with v2 and there shouldn't be any major changes from now and the released version.

There are still some documentation update in #306 that need wor

[2018-08-20 08:44] akdor1154 opened #461 "Crash on 1.4.0 after stack config handling changes"
I think there is some bug going with stack config merging.
[code]

[code]

[code]

Repro at github.com/akdor1154/sceptre-bug .

[2018-08-20 08:50] ngfgrant commented on #461
Hey @akdor1154 thanks for this - I will look into this today if there is something funky going on I'll get a patch out asap.

[2018-08-20 12:11] ngfgrant commented on #461
Hey @akdor1154  - good spot. https://github.com/cloudreach/sceptre/pull/462 can you checkout this PR and see if it solves your issue?

[2018-08-20 13:03] ngfgrant commented on #456
Hi @seddarj - not had a chance to look at this yet. Will get to it when I can.

[2018-08-21 13:34] stolendog commented on #191
if I use jinja2 include, I can include a file only from the current config path? but I would like to share a common file in more than the single environment

[2018-08-22 16:35] dragonraid opened #464 "Cascading stack config parameters overwrites the entire parameter section"
Hello,
I have following config directory structure.

[code]

In both vpc.yaml files I am referencing the same cf template and have `parameters` section. My intended use is to overwrite some of the parameters from `vpc.yaml [first_level]` in `vpc.yaml [second_level]`

Here is the example of my config:

`vpc.yaml [first_level]`
[code]

`vpc.yaml [second_level]`
[code]

However when I try to launch t

[2018-08-23 00:39] ngfgrant opened #465 "Vacation Notice"
Hi folks,

Just wanted to let you know that I will be away from the 23rd August to the 10th September. I will have no cell coverage or internet access for almost the entire duration.

Despite best efforts, I've been unable to get V2 to a point where it can be released but will resume work when I am back; it's not far off. Given v2 in `master` is ready to experiment with if anyone can help update t

[2018-08-23 00:40] ngfgrant commented on #464
Hey @dragonraid can you just confirm which version of sceptre you are using. This should have been fixed in >v1.4

[2018-08-23 08:45] dragonraid commented on #464
Hi @ngfgrant,
I was originally trying with version `1.4.0`. Today I tried with `1.4.1` and I am still getting the same behaviour.

[2018-08-23 12:58] et304383 opened #466 "Feature request: variable resolution within self (env and stack config files)"
Basically, I want to reduce copy/paste of strings.  I'd like to be able to do this:

[code]

[2018-08-23 14:44] ngfgrant commented on #464
Ah yes, that is the intended behaviour - i.e child-wins - for attributes of stack config except for dependencies (dependencies get merged rather than overwritten.

The changes introduced in v1.4 let you specify in the code which merge method you want to adopt. So in order to change this behaviour, you probably want to change the code base in `config.py` https://github.com/cloudreach/sceptre/blob/v

[2018-08-23 15:59] nbjcn1 commented on #466
This opens up a few issues with recursion and loops, but will leave @ngfgrant to comment on the feasibility of implementing, however it is currently possible in a 2 ways

1) `{% set prefix = 'value' %}`
2) for some use cases you can use `yaml` anchors - https://blog.daemonl.com/2016/02/yaml.html

Furthermore I'd advise against having lists of similar values instead:
1) refactor the template to use

[2018-08-23 16:07] et304383 commented on #466
Closing as I realized I can just do set calls inside the yaml file:

[code]

[2018-08-23 16:14] JuanCanham commented on #466
This opens up a few issues with recursion and loops, but will leave @ngfgrant to comment on the feasibility of implementing, however it is currently possible in a 2 ways

1) `{% set prefix = 'value' %}`
2) for some use cases you can use `yaml` anchors - https://blog.daemonl.com/2016/02/yaml.html

Furthermore I'd advise against having lists of similar values instead:
1) refactor the template to use

[2018-08-23 16:15] JuanCanham commented on #466
ah sorry slight delay in me finding the right account to post this from, will re-close

[2018-08-23 16:15] #466 closed

[2018-08-24 00:26] akdor1154 commented on #465
Have a great trip! Help with the docs is a bit of a bootstrapping problem I think - I'd happily contribute but I have no idea how to use v2 because there are no docs or example projects for it, so I can't write docs or example projects for it... :)

[2018-08-27 11:47] dragonraid commented on #464
`dict_merge` strategy was what I was looking for, but I think, that original implementation, does not work as intended.

Function https://github.com/cloudreach/sceptre/blob/v1/sceptre/strategies.py#L26 does not return merged dicts (as I believe is intended), but operation result, which is in successful case, is `None`.

IMO Correct implementation should be:
[code]

With this change I was able to u

[2018-09-04 17:46] rgitzel opened #467 "`--dir` is ignored for `init` commands?"
If I use `init` from a folder where I have write permissions (say `/tmp/s`), the command succeeds:
[code]

If I then remove write permission on this folder, the command fails as expected:
[code]

So then I try to specify a different folder where I _do_ have write permission... and the commands fails unexpectedly:
[code]

So it seems Sceptre is ignoring `--dir` for `init` commands?

[2018-09-11 12:41] ngfgrant commented on #465
Thanks all -  I am back now. Getting caught up and will get more communication out in the coming days about next steps.

[2018-09-11 12:41] #465 closed

[2018-09-11 13:17] dsumsky opened #468 "Deleted stacks are shown in 'PENDING' state"
Why deleted stacks are shown in 'PENDING' state? Is this a typo or is there any reasoning behind this?
https://github.com/cloudreach/sceptre/blob/fcbc2edf2ac3818ce14d3d45f3b001151d5fcdef/sceptre/environment.py#L163

[2018-09-11 13:44] ngfgrant opened #469 "Give Your Feedback"
Hi everyone,

As our community grows we are particularly keen to encourage as many people as possible to be involved with the discussions and to ensure you are kept up to date with the development of the project.

We are also keen to get to know many of you better, how you are using Sceptre and what you would like to see prioritized.

As the project evolves post version 2.0 we have a fantastic opp

[2018-09-11 14:57] ngfgrant opened #471 "Update HISTORY for v1.4.2"
Update history for release.

[2018-09-11 15:32] #471 closed

[2018-09-11 15:32] #464 closed

[2018-09-14 21:31] rgitzel commented on #445
Apologies for not following up with this sooner.

I forked the repo to implement this feature, and have deployed an image to Docker Hub.

Instructions are here:  https://github.com/rgitzel/sceptre/tree/docker#docker

I've tested it with common commands on a simple stack, and it seems to work fine (except for `init` which hampered by https://github.com/cloudreach/sceptre/issues/467).

I'm going to

[2018-09-25 10:14] 1oglop1 opened #474 "[Doc] How to invoke hook for testing"
During the slack discussion it came up that this is a good way of testing hooks before they are invoked.
Simply invoke hook as a script. For further testing it might be better to implement it with pytest.
[code]

[2018-09-26 07:48] jakubincloud commented on #474
Updated the code
[code]

[2018-09-28 23:53] mattvonrocketstein opened #475 "Cannot embed shell for debugging during development"
Sceptre seems to suffer from exactly the same issue as is [described here](https://github.com/google/python-fire/issues/19) namely that pdb has kind of reserved `cmd.py` for itself.  Can cmd.py be renamed?

[2018-09-30 23:46] mattvonrocketstein opened #476 "Support for custom Jinja filters"
My use-case involves adding new custom Jinja filters into projects using the v1 releases of sceptre, which I haven't found a supported way to accomplish.  I think this should work in way similar to hooks/resolvers, i.e. loading this project-specific functionality from "jinja_filters" folder underneath the sceptre root.

EDIT: [pull here](https://github.com/cloudreach/sceptre/pull/477) for discussi

[2018-10-02 07:19] 1oglop1 commented on #476
+9001

[2018-10-04 19:46] fibonascii opened #478 "Custom Resolvers return Yaml constructor errors"
I seem to be getting YAML Constructor errors when trying to implement a custom resolver. This happens as well with the example custom resolver in the documentation

    from sceptre.resolvers import Resolver
    import json
    import os

    class PackerImageResolver(Resolver):

        def __init__(self, *args, **kwargs):
            super(PackerImageResolver, self).__init__(*args, **kwargs)

[2018-10-09 21:48] akdor1154 commented on #478
Where are you putting the resolver .py? Also just to check, sceptre v1.x?

[2018-10-12 23:42] canvaswang commented on #355
I agree. It will be a lot cleaner if we can simply have access to **environment_config** in jinja2 template without having to explicitly adding sceptre_user_data section in stack config file.

[2018-10-15 15:25] dragonraid opened #480 "Change default strategies for `paramters` to `dict_merge`"
Hello,

I propose to change default strategy for `parameters` https://github.com/cloudreach/sceptre/blob/v1.4.2/sceptre/config.py#L33
to `dict_merge` https://github.com/cloudreach/sceptre/blob/v1.4.2/sceptre/strategies.py#L16

IMO it works better with configuration cascading.
For example:
I want to deploy CF stacks to multiple AWS Regions. Those stacks are using the same CF templates and only diff

[2018-10-16 10:21] ngfgrant commented on #480
Hey @dragonraid

For version 1, we are going to keep the behaviour as `child wins`, but obviously the user can change it. The main reason we are keeping it with `child wins` is that if we changed it to say `dict merge` then it would introduce breaking changes and require a major version bump, which is already underway in master (v2) and we wanted to still include this flexibility in v1.

I've also

[2018-10-16 17:29] dragonraid commented on #480
Hi @ngfgrant,

sound awesome!

Thank you!

[2018-10-18 10:52] basvank opened #483 "Problem when launching a subset of an environment and using resolvers across profiles"
This problem arose after playing around with the implementation of #395. It concerns sceptre v2 (I am using the master branch).

Consider the following sceptre environment:
[code]
The `dev` and `prod` environments live in different accounts, so in `config/dev/config.yaml` we set `profile: aws_test_account` and in `config/prod/config.yaml` we use `profile: aws_prod_account`. Both these profiles wor

[2018-10-19 00:47] brian-provenzano opened #484 "Jinja support in templates"
I'm fairly new to sceptre and I was wondering what is supported in jinja templates?  Can we do things like "includes", looping etc or is it just limited to referencing sceptre_user_data?

`{{ sceptre_user_data.something }}`  this works OK

`{{ include('user-data.sh')|indent(6) }}`  is this supported?  I couldnt get this to work. I was trying to reference a script as an external resource similar to

[2018-10-19 06:10] 1oglop1 commented on #484
@brian-provenzano Yes colleague of mine ran into same issue where we found out that many directives are not supported like `include` or `extends` etc..
As a workaround we ended up with custom resolver - which is not very practical solution.

@niallgrantcloudreach - I already discussed it on CR slack and Juan said it was for security reason, which I believe is not valid argument since sceptre is le

[2018-10-19 06:31] akdor1154 commented on #484
I'm currently using {% include %} in *stack config* happily, haven't tried it directly in a template though.

(for it to be disabled for "security reasons" would be puzzling given the ability to directly execute python code as templates anyway...)

[2018-10-19 06:50] 1oglop1 commented on #484
@akdor1154 Do you have any example of using it? for some reason it did not work in our environment
and instead doing anything it just printed file name from include

given stack config
[code]

when called `sceptre generate-template env stack` the result is:
`somefile.yaml.j2`
nothing else is executed

[2018-10-19 07:53] nbjcn1 commented on #484
Include is fully supported as we simply use jinja with no customization. @1oglop1's responses are wrong

`{{ include('user-data.sh')|indent(6) }}` is not native jinja functionality and must be implemented as a macro for more info see (https://stackoverflow.com/questions/10821539/jinja-keep-indentation-on-include-or-macro)

Due to the nature of jinja, you can not escape the directory the file being

[2018-10-19 19:46] eikenb opened #485 "CreateStack cannot be used with templates containing Transforms."
Trying to create a stack with an AWS::Include FN::Transform in it and am getting this error.

An error occurred (ValidationError) when calling the CreateStack operation: CreateStack cannot be used with templates containing Transforms.

This might be the same as #421 but that one is specifically about updates where this is create.

[2018-10-19 20:59] eikenb commented on #421
It looks like the current PR #454 should resolve this and it has been waiting for review since August. Any chance that will get reviewed soon?

[2018-10-19 22:04] brian-provenzano commented on #484
Thanks @nbjcn1 !

That does appear to work for me.  I can work with that limitation.  It would be great if this was explained in the docs as well.  It seems like it is quite misunderstood.

Are the other jinja features supported as well (looping, conditionals, etc)?

[2018-10-22 23:34] akdor1154 opened #486 "Feature request - "launch stack and its dependencies""
Sometimes I want to launch not just a whole environment, but instead just a stack and whatever its dependencies are. The canonical example is for doing DB schema updates, where I would like to do -
`sceptre launch-stack --with-deps prod db`
`./update-db-schema.sh`
`sceptre launch-env prod`

Would a PR to add this be accepted? I think it will be quite a minimal amount of code.

[2018-10-23 09:59] ngfgrant commented on #486
Hey @akdor1154 I am working on a PR for v2 at the moment that should manage this behaviour by default. If you want to add something for v1 please feel free and I will have a look, although it might be a bit more coding than first appears.

[2018-10-23 10:38] craighurley opened #489 "Hook execution before create-change-set?"
[code]

It appears that hooks do not get called when calling `create-change-set`, like this:

[code]

From looking at `stack.py`, it looks like that is a deliberate...

https://github.com/cloudreach/sceptre/blob/v1.4.2/sceptre/stack.py#L517

[code]

vs

https://github.com/cloudreach/sceptre/blob/v1.4.2/sceptre/stack.py#L183-L184

[code]

I was planning on using the `cmd` hook to perform custom act

[2018-10-23 14:15] padilo commented on #489
related to: https://github.com/cloudreach/sceptre/pull/227

[2018-10-25 10:30] craighurley opened #491 "template bucket encryption"
[code]

When using `template_bucket_name` (https://sceptre.cloudreach.com/latest/docs/environment_config.html#template_bucket_name), the bucket is automatically created by sceptre if it does not already exist:

... it would be nice if server side encryption was enabled by default; got to keep ticking those encryption boxes to keep security folks happy :)

[2018-10-25 14:57] seddarj opened #492 "[v1] Inconsistent launch-env behaviour"
Hi,

Observed using v1.4.2 on Mac, Linux and Windows

I've noticed some inconsistencies when using `launch-env` on folders containing around 80 files in multiple subfolders.

In those circumstances, I sometimes get errors on some stacks that don't happen if I run `launch-env` again or if I run `launch-stack` on that particular stack. Running `launch-env` again might sometimes lead to the same erro

[2018-10-30 19:43] fitchxlin opened #494 "deploy to china aws using sceptre"
Does sceptre support deploying to AWS China (Beijing and Ningxia)?

[2018-10-31 08:55] nbjcn1 commented on #494
There isn't anything partition specific in our code, so if you have the aws cli correctly configured it should just work. If you have any specific issues let us know though, as it hasn't been tested in Bejing or Govcloud.

[2018-10-31 16:00] rgitzel commented on #445
I've created a pull request:  https://github.com/cloudreach/sceptre/pull/479

It's contains the `Dockerfile` and a bit of documentation.

I've also created a Dockerhub page for the image, which contains detailed documentation:  https://hub.docker.com/r/rgitzel/sceptre/

It's not under source control, per se, but if/when the PR is accepted and the image published, I can provide the source to be pas

[2018-10-31 16:07] chaitand28 opened #495 "Creating stacks in multiple regions."
Use case: I need to deploy multiple CFN templates in ALL the aws Regions
Can the field 'region' in the config file be a LIST of regions or it has to be a single region per config file?

[2018-10-31 16:30] ngfgrant commented on #491
Hi @craighurley yeh I agree happy to look over a PR for this.

[2018-10-31 16:32] ngfgrant commented on #486
@akdor1154 I am going to close this for now as it should be handled by default in version 2 and a fix for v1 would actually be quite tricky and error prone without changing quite a bit of behaviour.

[2018-10-31 16:32] #486 closed

[2018-10-31 16:37] ngfgrant commented on #475
Just looking at this real quickly I think it would result in a breaking change to the API which would require a version bump. I will fix for v2 as it is a real pain.

[2018-10-31 16:38] ngfgrant commented on #474
@1oglop1 can you add/update the docs with this?

[2018-10-31 16:40] ngfgrant commented on #467
Hey @rgitzel is this on `master` or in `v1`?

[2018-10-31 16:43] ngfgrant commented on #456
@seddarj I have spent quite a bit of time around this issue in v2 whilst working on a refactor of a bunch of stuff. Getting the full or any part of the path will become trivial with: https://github.com/cloudreach/sceptre/pull/493

I am going to close this as it will now be resolved in v2.

[2018-10-31 16:43] #456 closed

[2018-10-31 16:48] ngfgrant commented on #433
As an update to this I have been working on resolving this issue is a robust way as part of #482. In `v2` you will be able to reference stacks as dependencies and have them resolve properly (as well as their dependencies) by just using `dependencies:` in your stack. @vazkarvishal your question looks good and I don't want to lose it can you open a new issue with it?

Thanks @craighurley and @jaymec

[2018-10-31 16:48] #433 closed

[2018-10-31 16:48] seddarj commented on #456
Got it, thanks @ngfgrant !

[2018-10-31 16:50] ngfgrant commented on #228
@jordie23 - would you be willing to open a PR with your code as an addition to `contrib/`?

[2018-10-31 16:54] ngfgrant commented on #494
Might be related to https://github.com/cloudreach/sceptre/pull/455

[2018-10-31 17:04] ngfgrant commented on #492
@seddarj

Not sure where to start with this 🤦‍♂️  - good effort in finding this. You've also hit on a number of things a few of my recent PRs should fix in v2. I want to keep this open for now - I don't think it will be fixed in v1 in the near future. Once v2 is out would you be willing to test using that and report back?

[2018-10-31 17:18] seddarj commented on #492
Thanks for looking into this!

I'll report back once v2 is out to see if the aforementioned errors still exist.

[2018-10-31 17:18] rgitzel commented on #467
Ummm... v1 I _think_?

I don't have it installed anymore (I'm using the Docker image), so for sure it's an issue with v1.
[code]

[2018-10-31 17:45] 1oglop1 commented on #474
shall we include it after #389?

[2018-10-31 18:31] fitchxlin commented on #494
Was deploying to ningxia and beijing yesterday and had issues with s3 bucket.  It seems sceptre or cloudformation is default to us-east-1.  I had to comment out the template_bucket_name in config.yml and was able to launch with no issues.

[2018-11-01 06:17] akdor1154 commented on #495
As a workaround, you could do
[code]
and then launch Sceptre like
[code]
If parallelism is required you could use bash job control or GNU parallel for a fancier option.

[2018-11-06 14:22] akilleen commented on #495
I'm doing some brainstorming on this issue and wonder if utilizing [Stack Sets](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-concepts.html) may be a good way to implement multi-region configs? It would have the added benefit of multi-account configuration.

[2018-11-07 16:05] ryanpagel commented on #198
What is the status of this?  We'd like to be able to use changesets when deploying new stacks to production then let another developer review the changeset and Execute it from the AWS console.  Is it possible to do this with sceptre?

[2018-11-07 18:32] ryanpagel commented on #435
Any update on a v2 release date?

[2018-11-08 05:16] akdor1154 opened #497 "Sceptre launch-stack exits with success even if update fails"
Sceptre v1.

`sceptre launch-stack env stack` succeeds (exits with code 0) even if the update fails, as long as the update rollback succeeds.

Expected behaviour: sceptre should exit with code > 0 if update fails.

To reproduce:
- Launch an env with this single stack:
[code]
- Rename `Bucket00` -> `Bucket01` (to force update to fail)
- Run `sceptre launch-stack env bucket`
- Note sceptre exits wit

[2018-11-13 07:02] 1oglop1 opened #499 "sceptre requirements "incompatible" with awscli"
Sceptre has older requirements than awscli

when `pip install awscli`
then `pip install sceptre`

[code]
the reason is pinned versions in `setup.py` [L19](https://github.com/cloudreach/sceptre/blob/master/setup.py#L19)

`pipdepttree` requirements comparison

[code]

[2018-11-13 11:48] akdor1154 commented on #499
This is because install_requirements in setup.py lists exact version constraints. This is in direct conflict with advice at https://packaging.python.org/discussions/install-requires-vs-requirements:

Going by this advice, deps in sceptre's setup.py should have unlocked versions unless there is a known incompatibility.

[2018-11-13 12:12] ngfgrant commented on #499
Thanks for raising this issue - happy to receive a PR for this. I am not aware of any restrictions but there might have been reasons for this from previous maintainers.

If the packages that are pinned to a specific version are semantically versioned then I am happy for the next major version to be set as an upper bound and what ever the current version is as the lower bound. i.e. `click >=6.7, <=

[2018-11-13 20:41] zaro0508 commented on #342
I would love to see this feature.  I've used a tool for jenkins, jenkins-job-builder, that manages jobs similar to how sceptre manages stacks.  Their way of managing jenkins jobs is to cache md5 checksum of all jobs locally on an initial connection.  Then it will update the cache when jobs are added/removed from jenkins.  This allows it to know which jobs exist and which jobs can be removed.  I'm

[2018-11-14 06:10] 1oglop1 commented on #499
Agains which branch shall I make the PR?
Cuz master is V2 and `setup.py` in master is missing `networks` in `install_requires`

[2018-11-14 08:06] ngfgrant commented on #499
Put into v1 branch and I will sort out the rest for the v2 release on master.

[2018-11-14 09:18] jakul commented on #275
Now released! https://aws.amazon.com/blogs/aws/new-cloudformation-drift-detection/

[2018-11-14 20:37] craighurley commented on #495
Using native stack sets is the way to go.  You can watch this issue and hope stack set support comes to sceptre: https://github.com/cloudreach/sceptre/issues/177

[2018-11-16 15:00] nabeelamjad opened #502 "Remova ResolvableProperty in v2"

[2018-11-19 09:47] 1oglop1 opened #503 "Sceptre v2-rc missin internal sub packages during installation."
In Sceptre v2-rc `setup.py` packages are updated manually and does not support newly created/refactored sub-packages.

https://github.com/cloudreach/sceptre/blob/v2-rc/setup.py#L45

For example sub-package `sceptre.config` is not installed now.

[2018-11-19 11:15] nabeelamjad commented on #483
@basvank sorry for the delay, this issue will be fixed for 2.0.

[2018-11-19 18:33] nabeelamjad commented on #503
We've fixed this under the [use_stack_graph_for_dependencies](https://github.com/cloudreach/sceptre/tree/use_stack_graph_for_dependencies) branch, it'll be out _shortly_.

[2018-11-19 19:06] zaro0508 opened #505 "use resolvers in config files"
Do sceptre config files support resolvers?  I would like to use a resolver to pass an existing stack output value to template_bucket_name.  something like this..

--- config.yaml file ---
project_code: my-project
profile: "default"
region: "us-east-1"
template_bucket_name: !stack_output_external bootstrap:: CloudformationBucket
template_key_prefix: "testing"

[2018-11-19 19:08] nabeelamjad commented on #505
They do not, only [these properties](https://github.com/cloudreach/sceptre/blob/3981da00427a487d503e5b7c6c83c91da13fac78/sceptre/stack.py#L49) support resolvers.

[2018-11-19 19:44] zaro0508 commented on #505
Thanks you @nabeelamjad.   @ngfgrant Could we mark this as a feature request?

[2018-11-19 20:01] nabeelamjad commented on #478
Make sure you install the custom sceptre package as well (`pip install .`) as it wouldn't find the entry points otherwise. and you _may_ need to update https://github.com/cloudreach/sceptre/blob/master/setup.py#L70 (unsure)

[2018-11-19 23:14] ngfgrant commented on #505
@zaro0508 will put this down as needs discussion as we need to think if this would have an unintended implications elsewhere. I think it would certainly only be considered in the context of `v2` codebase.

[2018-11-20 08:21] 1oglop1 commented on #503
@nabeelamjad so PR can be closed?

[2018-11-20 09:38] 1oglop1 opened #507 "Sceptre is silencing 3rd party exceptions"
I have had a Jinja error inside my `stack_config.yaml` and sceptre just printed the message from the exception without notifying it's an error or any other problem so the result looked like correct program exit.

example:

`env/stack.yaml`
[code]

`sceptre launch-stack env stack`

Actual result:

`Expected an expression, got 'end of statement block'`

Expected result:
Jinja2 exception trace back w

[2018-11-20 11:34] nabeelamjad commented on #503
I think so, I'll check with @ngfgrant because we may want to update some dependencies that are interfering with awscli perhaps.

[2018-11-20 15:09] medwig commented on #328
N.B. `sceptre diff` is still listed in the docs: https://sceptre.cloudreach.com/latest/docs/cli.html

[2018-11-20 19:09] 1oglop1 commented on #503
Fine with me as long as it's fixed :)

[2018-11-21 21:24] ngfgrant opened #513 "Sceptre 2.0 Release Candidate 1"
We are delighted to announce Release Candidate 1 of Sceptre 2.0! :tada:

Version 2 has been a long time in the making and today we get a big step closer to our final release.

We'd love it if you could try out Release Candidate 1 and give us feedback. You can pip install it:

[code]

Just remember to setup a fresh virtualenv to do so 😉

# Improvements

We'd say the main improvements of Sceptre 2.0

[2018-11-21 23:31] #503 closed

[2018-11-21 23:34] ngfgrant commented on #499
`click 7.0` removes support for Python 2.6, which according to our `setup.cfg` we still support. I am very open to dropping Python2 support but not during v2. Also, I can't see any requirement in `awscli` that points to `click`. Closing for now.

[2018-11-21 23:34] #499 closed

[2018-11-21 23:36] ngfgrant commented on #492
@seddarj - would you be able to test this with our v2 release candidate? You should be able to install it with `pip install sceptre --pre` in a fresh virtualenv and the Migration Guide is here: https://github.com/cloudreach/sceptre/wiki/Migration-Guide:-V1-to-V2

[2018-11-21 23:38] ngfgrant commented on #483
@basvank would you be able to try and test this again with our v2 Release Candidate? You should be able to install it with `pip install sceptre --pre` in a fresh virtualenv? The Migration Guide is here https://github.com/cloudreach/sceptre/wiki/Migration-Guide:-V1-to-V2

[2018-11-21 23:40] ngfgrant commented on #435
@ryanpagel there is now a release candidate out for version 2 and we are targeting the end of the month for the full v2 release.

[2018-11-21 23:41] ngfgrant commented on #432
Closing as it appears this is resolved.

[2018-11-21 23:41] #432 closed

[2018-11-21 23:42] ngfgrant commented on #360
Closing see: https://github.com/cloudreach/sceptre/issues/422

[2018-11-21 23:42] #360 closed

[2018-11-21 23:42] ngfgrant commented on #159
Closing see: https://github.com/cloudreach/sceptre/issues/422

[2018-11-21 23:42] #159 closed

[2018-11-21 23:42] ngfgrant commented on #302
Closing see: https://github.com/cloudreach/sceptre/issues/422

[2018-11-21 23:42] #302 closed

[2018-11-21 23:43] ngfgrant commented on #38
closing see: https://github.com/cloudreach/sceptre/issues/422

[2018-11-21 23:43] #38 closed

[2018-11-21 23:44] ngfgrant commented on #422
Closed as https://github.com/cloudreach/sceptre/pull/509 resolved this issue and the associated issues.

[2018-11-21 23:44] #422 closed

[2018-11-21 23:50] ngfgrant commented on #69
Closing - Sceptre v2 now allows this to happen. Won't be fixed by the core team for v1.

[2018-11-21 23:50] #69 closed

[2018-11-21 23:53] ngfgrant commented on #467
Hey @rgitzel would you be willing to test this on our version 2 release candidate? It is easy to install into a fresh virtualenv using `pip install sceptre --pre`. Would be good to know if this issue still exists.

[2018-11-22 02:43] ryanpagel commented on #435
Just upgraded and got `environment_config is undefined` when running `sceptre update [path/to/stack]`

[2018-11-22 03:49] ryanpagel commented on #513
I'm getting "environment_config is undefined" even for stacks that don't use any environment_config.  I can provide more details on our setup if needed.  But I will say that we're not doing anything complicated, we have a pretty basic setup.

[2018-11-22 07:40] ngfgrant commented on #513
Hey @ryanpagel could you open up an issue and we can continue the conversation there?

[2018-11-22 08:50] basvank commented on #483
@ngfgrant It still fails, unfortunately, and it now even fails when I try to launch an environment that does not depend on a stack somewhere else in the tree. That was not the case earlier (I was on master, commit `c17cfc5622c62ac3d679926dc5fd9657c10744be`.

The error now looks as follows:
[code]

[2018-11-22 10:48] include opened #514 "Managing multiple accounts, one environment per account."
How can I split and organize my sceptre into multiple repositories, one per account/environment?

Lets say I have dev, stage, prod and finally a services account for shared services.

Git repositories:

[code]

With this in mind, how should I organize my project?
How can I reutilize a global templates repository and how can I use this schema in a secure and wise way?

KISS ideas are welcome :)

Th

[2018-11-22 11:20] 1oglop1 commented on #514
We are using `git subtree` to share common templates/hooks/resolvers.
It's not super fluid but works.

[2018-11-22 13:02] nabeelamjad commented on #514
The way we do it is pretty similar to yours @include

[code]

- `config/vpc.yaml` contains the relevant information such as `template_path` and `sceptre_user_data` (to dynamically populate using environment variables or stack outputs)
- The stacks under `dev/vpc.yaml` and `prod/vpc.yaml` are just empty files
- `dev/config.yaml` and `prod/config.yaml` contain account information for that stack grou

[2018-11-22 13:45] nabeelamjad commented on #483
@basvank you will need to follow the migration guide: https://github.com/cloudreach/sceptre/wiki/Migration-Guide:-V1-to-V2

Specifically, `StackOutput` (not external) resolver needs to specify the full relevant path from the project config to the stack file (including the extension)

[code]

If you had **prod/B.yaml* with `!stack_output dev/A::testOutput`, then that should now be `!stack_output de

[2018-11-22 14:46] include commented on #514
Hi guys, thanks for your feedback.

@1oglop1 , I had bad experience in the past using git submodules. I try to avoid them... my bad :)

@nabeelamjad , that struct is built in the same git repo or do you have different git repos for each environment?

I think each major struct should have a specific git repository, say, prod, stage, templates or even a third party / contrib.

[2018-11-22 15:06] 1oglop1 commented on #514
@1oglop1 That's why we are using **subtrees** https://codewinsarguments.co/2016/05/01/git-submodules-vs-git-subtrees/

[2018-11-22 15:41] ngfgrant commented on #513
Actually, @ryanpagel I think we have fixed this with `rc2`, released today.

I have also updated the migration guide. In this case you will need to update some project files.  So that where you have `stack.environment_config` you access the attributes you want directly from the stack, i.e. `stack.project_code`.

If you do `pip install sceptre --pre` again in your v2-testing virtualenv you will get

[2018-11-22 15:45] nabeelamjad commented on #514
@include we divide our apps/workers/etc in separate repos, but all environments (dev/staging/prod/test) lives in the same app repo, primarily because the only difference between them is the use of a different AWS account.

[2018-11-22 18:37] include commented on #514
I am going to replicate this at home, perhaps using this https://github.com/ingydotnet/git-subrepo/blob/master/ReadMe.pod.

Meanwhile, do you run any CI/CD on top of this? (cnf-lint and friends) in a Jenkins pipeline?

[2018-11-23 16:49] nabeelamjad commented on #483
Nested stacks shouldn't be an issue, if possible could you post a full example tree of your current setup? Just the minimum set to make this scenario fail so I can test it out locally.

[2018-11-23 17:45] arnaudgay-cr opened #516 "bad dependencies resolution in two layers configuration"
In same folder i have 3 files with dependencies:

[code]

[code]

and

[code]

when I try to to execute the following command, i got an error but i was expected an explicit stack dependencies resolution.

[code]

[code]

[2018-11-24 03:59] ryanpagel commented on #513
When I try this I now get a "stack is undefined" error message.  Any thoughts?

[2018-11-25 00:34] janrotter opened #518 "[RC2] The describe command ignores formatting flags"
The `--output` and `--no-colour` flags are ignored in the describe commands ('changes' edited for readability):
[code]

The attached PR resolves this issue:
[code]

I'm not sure whether the [code below](https://github.com/janrotter/sceptre/blob/output_formats/sceptre/cli/helpers.py#L84)
[code]
 is needed, commenting it out does not break the tests. Could you please take a look at that part?

[2018-11-25 01:49] janrotter opened #520 "[V2] Improve Change Set behaviour"
Since all cli commands use `SceptrePlan` in sceptre 2.0 to modify the stacks, each time an action is taken on a stack, all stacks that it depends on take that action as well. This makes directly translating the sceptre 1.0 commands like: `generate-template` and `update-stack` to their 2.0 equivalents impossible.

Please consider the following example:
[code]
The stack `B/dummy.yaml` has `dependenc

[2018-11-25 14:01] ngfgrant commented on #520
Hey @janrotter

Got ahead of myself and pushed a WIP branch [add-ignore-dependencies-option](https://github.com/cloudreach/sceptre/tree/add-ignore-dependencies-option) to try and resolve this.

Single Stack/StackGroup commands should be possible on this branch if you do:

`sceptre --ignore-dependencies ...`

Could you just confirm this is the sort of behaviour you would be after/expect based on th

[2018-11-25 14:35] ngfgrant commented on #516
Hey @arnaudgay-cr  I can see that `common/audit/sharedservices/config-addrecorder` failed to launch. Does the AWS Console give you any more information about why? Because it failed to launch the other dependencies couldn't be resolved, hence the error.

[2018-11-25 14:44] ngfgrant commented on #513
Hey @ryanpagel

Ok so I have found what the issue is here.

Basically there was a divergence between the docs (https://github.com/cloudreach/sceptre/blob/v1/docs/docs/environment_config.md) and what seems to be happening in reality. The intention of `v1` environment_config was to only allow the following keys:

[code]

[2018-11-25 15:39] janrotter commented on #520
That's exactly it! Excellent work! I guess you could use something like [this test from my pull request](https://github.com/janrotter/sceptre/blob/output_formats/tests/test_cli.py#L632) to ensure, that the `--ignore-dependencies` flag is propagated correctly.

What do you think about the change set update proposal I described previously? Would you be willing to pull something like that into the v2

[2018-11-25 16:32] ngfgrant commented on #520
Thanks @janrotter - I will need to think about how best to deal with Change Sets. I like the idea in #65 whereby the user could be "stepped through" each change set. Although, with all the refactoring we have done we will be able to generate a full print out about what will happen ahead of time. In terms of updating whole StackGroup, I think this problem is probably solved with v2. Again not 100%

[2018-11-25 17:31] janrotter commented on #520
I would propose something like:

[code]
If there are multiple batches `[A,B,C]`, you can't tell if the changes in `A` affect the change sets for `B` (e.g. stacks from `B` may rely on outputs from stacks in `A`), so you can't compute the change sets for the whole plan in advance. That's why you need to create change sets and ask for confirmation before each batch.

Launching empty stacks and applyi

[2018-11-25 18:03] ngfgrant commented on #520
Thanks for the suggestion - will be sure to include this in the discussion.

Just as an FYI more than anything else, what are Plan and Graph do is create batches where by each batch is executed in serial but each stack in the batch are executed concurrently. We can guarantee that by the time the launch_order is generated that there no stacks that will be generated without first having all of its d

[2018-11-26 00:34] janrotter commented on #520
I'd like to clarify what would be the expected behavior.

Let's consider the sample sceptre v2 project:
https://github.com/janrotter/sceptre_devops_meetup/tree/master/v2/1_dependencies
The stacks there just rewrite the Nonce parameter from the input to the output. Their dependencies are as follows (-> = depends on):

[code]

After the launch (`sceptre launch /`), all `dummy.yaml` stacks have the o

[2018-11-26 08:51] basvank commented on #483
@nabeelamjad It's a corporate project, so I would need to discuss if sharing the code is possible. We have about 200 stacks currently configured via sceptre, so creating a minimum set might be a challenge.
Would it be useful for you if I provide the config directory, but not the templates? I might get that approved easier. But I don't know if that will help debugging the issue in any way?
I'll see

[2018-11-26 11:05] basvank commented on #483
@nabeelamjad Playing around with it a bit more I get the impression that the issue might be in the dependency graph. In total, we have 507 `stack_output` resolvers, would you be able to reproduce such a setup and see if you might encounter similar recursion depth errors? I tried increasing the recursion depth of python, but when I do I eventually run into a `Segmentation fault: 11`.

Note: sometim

[2018-11-26 12:20] nbjcn1 commented on #520
Create changesets right before each batch set, reduces the value in change sets though.

I think the ideal UX depends on the workflow
For `update -c`  "Create changesets right before each batch set" makes the most sense

For `create-change-sets`, `describe-change-sets`, `execute-change-sets`:
* on execute-change-sets, prior to each change set execution (for stacks that have dependencies) create a

[2018-11-26 12:33] nabeelamjad commented on #483
Will do @basvank - are all the stack outputs connected in some way? Do you know the max depth of the "most connected" stack group?

If we assume the following stacks: 1, 2, 3, 4, 5, 6, 7, 8, 9 where 9 is connected to 8, to 7, etc. Then that'd be a depth/level of 8/9

[2018-11-26 14:18] basvank commented on #483
The deepest depth I have traced is about 9 levels deep. I cannot imagine it to be much deeper than that.

[2018-11-26 14:37] ngfgrant opened #522 "Single stack CLI operations are not possible"
I am breaking this issue out from #520 as it deals with a separate sceptre-wide issue.

This ticket is complete when a `--ignore-dependencies` flag is available to use on each Sceptre command.

WIP branch is https://github.com/cloudreach/sceptre/tree/add-ignore-dependencies-option

[2018-11-26 15:14] janrotter commented on #520
After a short discussion with my coworker, we agreed that actually the launching of non existing stacks could be not required for the `update -c` command. It should simply fail and ask the user to launch the stack manually. The _update or create if not exists_ behavior could be implemented in `launch -c`.

Assuming that the above is true, I have prepared a working proof of concept for the update w

[2018-11-26 15:34] nabeelamjad commented on #483
I'm testing this out now with a recursion limit of 20 levels deep and a total of 200 stacks where each stack is dependent on the previous stack.

This may take a while to launch on AWS, but so far I've had no problems generating the actual dependency graph nor launching it. Monitoring the progress on AWS shows everything seems to be going fine.

I've attached a zip file with the setup, you will ne

[2018-11-26 16:07] ngfgrant commented on #520
Hey @janrotter

Yeh launch has always been used to create _or_ update. Where are update/create were more aimed at individual stacks. I think I would still like to propose a nice way, similar to something you suggested to handle change-sets. It is a best practice to use change-sets when updating CloudFormation and I think it would be useful to have Sceptre automatically manage Change Sets for the u

[2018-11-26 16:45] ngfgrant commented on #516
Hey @arnaudgay-cr

Hmm, if I recall correctly this has appeared as an issue before, it might even still be open. This issue will be resolved in version 2, however.

Sorry can't be more help right now - main effort is to get v2 released.

[2018-11-26 16:50] arnaudgay-cr commented on #516
Ok thx let us try on V2 and let you know.

[2018-11-26 16:52] ngfgrant commented on #516
That would be great, the migration guide is here: https://github.com/cloudreach/sceptre/wiki/Migration-Guide:-V1-to-V2

[2018-11-26 18:16] janrotter commented on #520
I didn't know that you can create a change set for a non existing stack. That's great news!

The change set name is already [generated](https://github.com/cloudreach/sceptre/blob/v2-rc3/sceptre/cli/update.py#L55) for the `update -c`.

I don't know what the error handling should be for the change set update. I assumed it should just finish the current batch, report the result to the user and abort

[2018-11-26 19:07] ngfgrant commented on #520
Yeh just needs to be clear what the behaviour will be for certain.

I think for the latter point we will add a feature to support Drift Detection - which is a recent addition to the CloudFormation offering. Won’t be until after 2.0 release. That will be the most robust way to see what the diff is between local and actual.

[2018-11-27 00:38] ngfgrant commented on #520
# Proposal

From the documentation the below image shows how AWS sees the interaction with Change Sets. I don't think Sceptre should stray from this flow.

![update-stack-changesets-diagram](https://user-images.githubusercontent.com/6362273/49047655-0427aa00-f1d0-11e8-9bad-36c51dbca28a.png)

We have currently have 6 CLI command groups that handle Change Sets.

`sceptre/cli/create.py`
`sceptre/cli/

[2018-11-27 08:47] basvank commented on #483
@nabeelamjad Your note about the ValueError is interesting. Any way to narrow down where the problem might be? I've checked the paths to the templates dir and the file extensions in the output_resolvers, but haven't found the issue yet. This is the complete stacktrace:

[code]

Also, using the working version of sceptre, as of commit `c17cfc5622c62ac3d679926dc5fd9657c10744be`, I was able to constr

[2018-11-27 12:10] nabeelamjad commented on #483
@basvank I've taken your launch order and converted them into templates/config files and had no issues attempting to launch it, slightly confused what it could be. I think I'm still edging towards some sort of configuration error.

I've attached the stack zip with your launch order re-generated into mock templates (non-dependant stacks output their stack name and dependent templates use those as t

[2018-11-30 10:36] #522 closed

[2018-11-30 16:26] ngfgrant opened #530 "Version 2.0.0 Released!"
# Sceptre 2.0.0

We are delighted to announce Sceptre 2.0.0 :tada: 🎈 🍾

Version 2 has been a long time in the making and we are very grateful for those
who have contributed along the way; thank you.

You can pip install Sceptre 2.0.0:

[code]

We recommend that you use a fresh virtualenv and git branch to do the migration.

# Improvements

The main improvements of Sceptre 2.0.0 are:

- Simplified

[2018-11-30 16:28] #513 closed, assigned to nobody

[2018-11-30 16:39] christierney-cr commented on #530
Well done to everyone involved!

[2018-12-01 09:18] ryanpagel opened #531 "Normalise OS paths v2"
Running sceptre generate in v2.0 is giving the following error: `ValueRrror: max() arg is an empty sequence`.  Any ideas on this?  I'm just doing a barebones with one template.
![image](https://user-images.githubusercontent.com/805791/49326423-be444c00-f517-11e8-9a6b-c53c44dcf2cc.png)

[2018-12-01 14:41] ryanpagel commented on #531
Here's the whole thing in a screenshot.  Am I missing something simple here?
![image](https://user-images.githubusercontent.com/805791/49329469-f57d2200-f544-11e8-9a6f-565cb610f21d.png)

[2018-12-02 18:43] janrotter commented on #531
It's a windows specific issue.

Here:
https://github.com/cloudreach/sceptre/blob/master/sceptre/config/reader.py#L206
the `abs_path` equals to:
`c:\myproj\config\dev\test.yaml`
while `full_command_path` is:
`c:\myproj\config\dev/test.yaml`
(**mind the slash!**)

This results in the stack not being added to the command stacks and the exception above.

@ryanpagel could you please try to run `sceptre

[2018-12-02 19:03] ngfgrant commented on #531
Yeh I have a local branch for this. We tried to catch the Windows incompatible path manipulations from v1 but looks like a couple slipped though. Will get a patch out this week with a couple of other small things. We are looking to use Python's `os.sep` where we need to split out paths.

[2018-12-02 23:31] sopeters opened #532 "Reading Stack config variables from custom resolvers"
Using v2.0 - I'm trying to write a resolver that will need to read other config parameters from the same config file.

self.stack.parameters is a recursive error (due to the ResolvableProperty).

Can a resolver read specific values/parameters from the stack specific config file?

[2018-12-03 00:12] nabeelamjad commented on #532
You shouldn't need to write a resolver for that purpose, in your stack file you can have something like:

[code]

Replace region with whatever you want to fetch from your config.

[2018-12-03 00:53] sopeters commented on #532
I tried something like this but got error:
if not isinstance(key, collections.Hashable)

My config has
`
template_path: test.yaml
parameters:
    param1: !custom_resolver {{ stack_group_config.param2 }}
    param2: value2
`

I'm trying to write a resolver that calculates / determines an ALB priority from an existing ALB (which is the parameter I'd like to pass into the resolver).

[2018-12-03 10:15] sopeters opened #533 "Stack update fails when config has dependency / stack_output reference with no change"
If I do a change in a stack config xyz.yaml which has a dependency / reference to an output of stack abc.yaml (with !stack_output) and I run sceptre update env/xyz the result is that it tries to update the dependency stack "abc" (which hasn't changed) and giving me the below and exits

sceptre.plan.actions - env/abc - Updating Stack
An error occurred (ValidationError) when calling the UpdateStack

[2018-12-03 10:51] nabeelamjad commented on #533
Does the behavior work correctly as you expect it with "launch" instead of "update"?

[2018-12-03 10:55] nabeelamjad commented on #532
Just to be clear, you have a stack (test.yaml) specifying `param1: {{ stack_group_config.param2 }}`, which is referencing your `config.yaml` which has `param2` specified in there?

Could you post your `config.yaml` as well (minimal failing example).

[2018-12-03 11:03] sopeters commented on #533
Thanks - "launch" works vs "update" doesn't. Might be good to track as bug

[2018-12-03 11:09] sopeters commented on #532
stack_group_config isn't what I need.

I'm trying to forward an existing stack output from a different stack to a custom resolver.
Alternative trying to read another config parameter in the same stack.

* I have an ALB that is created in template A (and gets and output for the ARN there).
* In template B (for an application that uses above ALB) I want to use a custom resolver that calculates the A

[2018-12-03 11:17] nabeelamjad commented on #533
We'll get this fixed in the next bug fix update, which will hopefully hit this week.

[2018-12-03 12:56] ngfgrant commented on #531
Hi @ryanpagel I have removed the last of the path manipulations that would be causing any issues with windows. Once merged, you should be able to just use normal Windows path separators (`\`) in your commands. I will also update the docs to make sure other Windows users are aware.

[2018-12-03 12:59] ngfgrant commented on #516
Closing for now as this should be resolved in v2. Feel free to open if you run in to this issue again in v2.

[2018-12-03 12:59] #516 closed

[2018-12-03 13:03] ngfgrant commented on #495
So this should be possible in both v1 and in v2. The logic to pass in region as variable would sit outside of Sceptre. Definitely think we will support StackSets and so we will have more "native" support for this use case there. Closing as this will be handled by #177

[2018-12-03 13:03] #495 closed

[2018-12-03 13:04] ngfgrant commented on #467
fixed in v2.0

[2018-12-03 13:04] #467 closed

[2018-12-04 05:00] sopeters commented on #532
Thanks - I wouldn't know how to do this otherwise if not using a !stack_output to feed into a custom resolver and/or have the custom resolver read the other config variables from the to-be-build stack.

[2018-12-04 21:09] arcturial opened #538 "CAPABILITY_AUTO_EXPAND required for SAM templates"
I am trying to create a stack using SAM templates like so:

[code]
I receive the following message when running it.

`An error occurred (InsufficientCapabilitiesException) when calling the CreateStack operation: Requires capabilities : [CAPABILITY_AUTO_EXPAND]`

Are SAM templates not fully supported?

[2018-12-04 21:40] #538 closed

[2018-12-05 09:10] enricopesce opened #539 "Sceptre 2 resolver problem"
Hi, after the upgrading to sceptre 2 I'm blocked with this error:

yaml.constructor.ConstructorError: could not determine a constructor for the tag '!myresolver'
  in "<unicode string>", line 13, column 11:

[2018-12-05 10:22] enricopesce commented on #539
I tried the migration from 1.4 to 2 i refactored all correctly (I hope!) but for the hooks and the resolvers I have this strange problem.

I tested the code with Python 3.6 and 2.7

[2018-12-05 13:04] ngfgrant commented on #539
Hi @enricopesce

Turns out this is a documentation error.

The PR for the docs fix is at https://github.com/cloudreach/sceptre/pull/542/files

Basically can you `py_modules=[...]`  to your `setup.py` you will then need to `pip install -U .` again to make the changes have effect.

Let me know how you get on?

[2018-12-05 15:00] jmwyson commented on #539
Hi @ngfgrant

The change seems to be missing a comma at the end: `py_modules=['custom_resolver'],`

[2018-12-05 15:23] jmwyson opened #543 "Update Docs on Resolver Attributes"
Hi,

I was trying to write a resolver and access `connection_manager` using the `self.connection_manager` but got `AttributeError: 'MyResolver' object has no attribute 'connection_manager'`. Is the correct way to access connection manager `self.stack.template.connection_manager`?

Docs indicate :

Resolvers may have access to `argument`, `stack_config`, `stack_group_config` and `connection_manager

[2018-12-05 15:42] ngfgrant commented on #543
Hey @jmwyson

So you can access connection manager from stack like you suggested:

[code]

Looks like we need to update the docs. Thanks for point that out. we have a patch release coming out this week, will aim to get it in with that.

Best Wishes,
Niall

[2018-12-06 04:13] sopeters opened #544 "SecretManager resolver in templates throws error"
I'm trying to use Secrets Manager to hold DB passwords and part of my template is

MasterUserPassword: '{{resolve:secretsmanager:<name>:SecretString:password}}'

When launching the stack for an existing RDS I'm getting

`An error occurred (ValidationError) when calling the UpdateStack operation: Parameters: [MasterUserPassword] must have values`

Uploading the template directly into CloudFormation

[2018-12-06 09:30] ngfgrant commented on #544
Hey @sopeters

Which version of Sceptre are you using and can you provide a bit more information about your stack and template? Can you also share the secrets manager custom resolver you are using?

[2018-12-07 03:47] sopeters commented on #544
Hi @ngfgrant - using 2.0.0 release and it's a pretty simple YAML template. No custom resolver as AWS supports {{resolve:secretsmanager:<name>:SecretString:<string>}}:

https://aws.amazon.com/blogs/security/how-to-create-and-retrieve-secrets-managed-in-aws-secrets-manager-using-aws-cloudformation-template/

I have one template that creates a secret via:
`
DBSecret:
  Type: 'AWS::SecretsManager::Sec

[2018-12-07 23:10] db-beachbody commented on #514
Great conversation on a similar subject is anyone using hooks to decide which environment to deploy too?  For example you may have many environments i.e. dev/qa/prod.  Using the Prod key and deploying to dev would install dev to the prod account.  Any idea's about managing the deployment methods or solutions to manage multiple accounts would be great.

Support for assuming roles would be cool too.

[2018-12-08 02:16] jmwyson opened #545 "launch --ignore-dependencies with stack output resolver error"
Hi,

I have the following stack config structure:

config/env/s1.yaml

[code]

config/env/s2.yaml

[code]

config/env/s3.yaml

[code]

I run the stacks manually in order using these commands:
`sceptre --ignore-dependencies launch env/s1.yaml`
`sceptre --ignore-dependencies launch env/s2.yaml`
`sceptre --ignore-dependencies launch env/s3.yaml`

s1 and s2 complete but s3 fails with this error:

[cod

[2018-12-08 02:59] jmwyson opened #546 "launching/deleting stackgroup whose name is substring of other stackgroup will also launch/delete other stackgroup"
I have the following stack config structure

env/s1.yaml
[code]

env1/s1.yaml
[code]

When I run the command `sceptre launch env` both env/s1 and env1/s1 are launched even if they are unrelated. Similarly when I run `sceptre delete env` both env/s1 and env1/s1 are deleted even if they are unrelated.

I also tested the scenario renaming env to env2 and in this case env1 and env2 can be launched sep

[2018-12-08 11:53] ngfgrant commented on #546
Hey @jmwyson

Thanks for raising this issue, I was able to reproduce it. The section of code that deals with deciding which stacks will eventually be executed is https://github.com/cloudreach/sceptre/blob/master/sceptre/config/reader.py#L206

[code]

I have tested a couple of potential solutions to this. Whilst using strict equality here will fix your issue it means we can't support execution on S

[2018-12-08 12:19] ngfgrant commented on #545
Hi @jmwyson

A couple of questions - looking at the config for s3 should the output on the `stack_output` be like the below?:

[code]

Also, could you try using a external_stack_output_resolver to see if that solves the issue:

[code]

The issue with `env/s3.yaml` is that it is using a Stack Output resolver, Sceptre will add the stack you are referencing as a dependency but obviously we are wantin

[2018-12-08 13:43] ngfgrant commented on #478
#542 Should resolve this issue.

[2018-12-08 13:43] #478 closed

[2018-12-08 13:45] ngfgrant commented on #345
Closing as the issue has been answered. If it persists re-open the issue.

[2018-12-08 13:45] #345 closed

[2018-12-08 13:48] ngfgrant commented on #328
Closing as the update docs have now been deployed successfully.

[2018-12-08 13:48] #328 closed

[2018-12-08 13:50] ngfgrant commented on #306
V2 Docs have been updated and deployed. Still need to do #430

[2018-12-08 13:50] #306 closed

[2018-12-08 13:56] ngfgrant commented on #287
As @scanepa mentioned you can do `eval "$(_SCEPTRE_COMPLETE=source sceptre)"` and click will autocomplete subcommands and parameters. I will add this to the docs. It works pretty well. Closing for now, we can decide later if we need something more sophisticated.

[2018-12-08 13:56] #287 closed

[2018-12-08 14:05] ngfgrant commented on #65
Closing #520 will deal with this in v2.

[2018-12-08 14:05] #65 closed

[2018-12-08 14:06] ngfgrant commented on #148
Resolved as part of #370

[2018-12-08 14:06] #148 closed

[2018-12-09 08:03] #435 closed

[2018-12-09 08:06] ngfgrant commented on #424
Agree with akdor1154 this is a CF thing. Closing for now.

[2018-12-09 08:06] #424 closed

[2018-12-09 08:08] ngfgrant commented on #414
Resolved by #413

[2018-12-09 08:08] #414 closed

[2018-12-09 08:15] ngfgrant commented on #380
@lukeplausin it would be interesting to test if this issue still exists in v2. We’ve changed the way stacks are loaded so it might be that this issue has inadvertently been fixed. Do you have a test project we could use to see?

[2018-12-09 08:17] ngfgrant commented on #389
Content of docs will remain in core repo for now. Will move the static site out to another repo which will use content from sceptre from this repo where necessary. Closing for now.

[2018-12-09 08:17] #389 closed

[2018-12-09 08:19] #358 closed

[2018-12-09 08:34] ngfgrant commented on #342
With the way we have implemented stack execution in v2 this should be reasonably straight forward. Not sure if it would be worth the effort for v1 but happy to slow at v2. Also would drift detection play a useful role here?

[2018-12-09 08:35] ngfgrant commented on #282
Resolved in https://github.com/cloudreach/sceptre/commit/b2aa2d01d9e58e9321c24bf01dd9604a4520983c

[2018-12-09 08:35] #282 closed

[2018-12-09 08:39] ngfgrant commented on #140
Resolved by 473

[2018-12-09 08:39] #140 closed

[2018-12-09 08:55] ngfgrant commented on #93
With sceptre 2.0 strict handling of dependencies I am not sure this is required?

[2018-12-09 09:02] ngfgrant commented on #485
Duplicate of #421

[2018-12-09 09:02] #485 closed

[2018-12-09 09:05] ngfgrant commented on #421
Resolved in #454

[2018-12-09 09:05] #421 closed

[2018-12-09 09:07] ngfgrant commented on #355
This should be addressed in v2. Would anyone be willing to test on a simple setup?

[2018-12-09 10:56] bgdnlp commented on #93
It's been a while and I don't know how 2.0 handles it, but my point (if it helps) was to let AWS know about the dependency tree in order to benefit from whatever they do with it. Don't know if that happens now. Or if you consider that useful.

[2018-12-09 19:55] #543 closed

[2018-12-10 00:07] jmwyson commented on #545
Hi @ngfgrant

You are  correct that what I meant for the `stack_output` is getting the value of stack s2.

I tested your recommendation and using `!stack_output_external` allows `sceptre --ignore-dependencies launch`  to continue.

To summarize, to launch a single stack dependent on another stack without affecting the other stacks, we would need to change all !stack_output to !stack_output_externa

[2018-12-10 03:53] ryanpagel commented on #531
@janrotter That seems to work, although I'd prefer to use the same path separators as Unix, which used to work on Windows as sceptre 1.x.  @ngfgrant  I'll look for that minor version release soon, thanks!

[2018-12-10 04:03] ryanpagel opened #550 "sceptre v2: maximum recursion depth exceeded exception"
I'm getting the following exception when running a `sceptre update`:

![image](https://user-images.githubusercontent.com/805791/49710314-3688cc80-fbfe-11e8-985a-e35dcfc34ad8.png)

[2018-12-10 04:59] mattvonrocketstein commented on #514
We use git submodules for common cf-templates, common policies, hooks, resolvers, etc.  (Hopefully the number of submodules is reduced with sceptre v2, by having better support for pip-installable hooks/resolvers.)  These submodules are used inside a parent repo, which contains one or more environment folders somewhere.  Some environments seem to deserve a stand-alone repo, some environments are c

[2018-12-10 09:22] ngfgrant commented on #550
Hey @ryanpagel

This has come up for a couple of people when migrating across to v2. It is likely to be a error in the config. Is there anyway you can share more information about the config/stacks?

[2018-12-10 10:44] seddarj commented on #492
Hi @ngfgrant, sorry for the delayed response but I just got back from vacation and could look into this before. Do you still need help with this?

[2018-12-10 11:04] ngfgrant commented on #492
Hey @seddarj it would be awesome if you could test this out with v2. We ran some tests when developing v2 with around 20 nested folders and 200+ stacks and didn't run into any issues but always good to see how things will perform with real-world projects.

[2018-12-10 20:49] nvengal opened #551 "V2: Improve confirmation message when deleting Change Set"
When running the `sceptre delete env change-set-name` command, the confirmation message is displayed in the following format:
[code]

After recently migrating to v2 from v1, this is an alarming message (since the delete-stack and delete-change-set operations have been combined under the delete command). It is not readily clear that the delete command will not delete the entire stack along with the

[2018-12-10 21:31] ngfgrant commented on #551
Agreed - that is a little bit alarming. Will get that amended in 2.0.1.

[2018-12-11 09:32] ngfgrant commented on #545
Hi @jmwyson glad to hear that you are able to proceed.

The `launch` command will either update or create a resource. Of course, if you have a `stack_output` that isn't affected by the changes the launch command then there shouldn't be any downside to just launching as normal without `--ignore-dependencies`. Using `stack_output_external` and `--ignore-dependencies` won't guarantee success. The dep

[2018-12-11 09:32] #545 closed

[2018-12-11 09:34] #551 closed

[2018-12-11 11:46] ngfgrant opened #553 "Add `sceptre debug` command"
# Proposal

Add a convenience CLI command and API method that would generate useful information for users to share when raising issues.

Much of the time the same questions are asked when helping users to debug issues. This includes:

- project structure
- output of config files
- dependencies output

Structure of the command/api would be something like

[code]

[code]

I propose that initially th

[2018-12-11 11:59] include commented on #514
@mattvonrocketstein I see myself using those common tools/templates under a submodule too but without refer any environment flag on them. I see this as "shared libs" which are injected into each environment. They must not impose environment behaviour; be the most agnostic possible. In fact I see environments as a number (eg. I have X number of environments) not a "string"; the biggest difference i

[2018-12-11 14:13] ngfgrant commented on #369
Hi all,

So the original commit was made for v2 and multiple var files will work in v2, although the timing and docs were confusing. I'd be happy to accept a PR for this for a v1 release, however, I will not be putting effort into this for v1 myself.

Closing for now.

[2018-12-11 14:13] #369 closed

[2018-12-11 14:17] mattvonrocketstein commented on #514
Note that terraform's approach is basically equivalent, it just abstracts away the detail of the submodule management from you for better or worse.  Under the hood I think it just manages manages the submodule itself, checks it out during `terraform init` and sticks it inside `.terraform/`

[2018-12-11 19:59] et304383 commented on #539
I'm confused by this.  I don't have setup.py.  I never needed this.

I just put classes into the resolvers directory named my_resolver.py with MyResolver as the class and it worked.  Why is this not working in Sceptre 2?

[2018-12-11 23:23] ngfgrant commented on #539
Hooks and resolvers are loaded in a different way in v2. Mainly they either need to be installed with pip or python setup, as per the migration guide.

[2018-12-11 23:41] sopeters commented on #532
@nabeelamjad - Did you get a chance to look at this or need more information?

[2018-12-11 23:44] et304383 commented on #539
I'm sorry to say it but you made things more difficult with 2.0 with no clear idea why.

From this to having to put .yaml at the end of stack output references, to having to put the full environment path for dependencies in the same environment, this release seems like a lot of steps backwards.

Appreciate all your efforts, but we may need to lock at 1.x and fork if needed. I'm yet to see a positi

[2018-12-12 12:08] et304383 opened #554 "Bring back support for simple custom resolvers read from the resolvers directory"
I don't want to build pip packages or write setup.py files.  I would like a simple way to use custom resolvers like was supported in version 1.

[2018-12-12 13:31] ngfgrant commented on #539
Hey I will add the resolvers and hooks steps to migration guide, they were added to the main docs but not migration guide - an oversight on my part.

The reasons we took the steps you mentioned was because under the bonnet sceptre was making a lot of assumptions and users frequently experienced inconsistent behaviour as the implementation didn’t match the aspirations. We needed to focus on correct

[2018-12-12 13:41] ngfgrant commented on #554
Over the course of the project we’ve had a lot of requests to make hooks and resolvers easier to manage across projects. There was previously a lot of duplication between projects.

The changes made address that and actually allow the community to reliably share hooks and resolvers with each other via pypi I’d they wish.

Setting up a ‘setup.py’ is trivial but how about we add a helper to the ‘sce

[2018-12-12 13:43] et304383 commented on #554
I don't see why the original behaviour couldn't have been preserved.

If resolvers directory, read the files.

Yes, there is duplication (we have an acm resolver in every project) but deciding to just break the existing functionality seems like a poor design decision, IMO.

[2018-12-12 14:01] et304383 opened #556 "V2 stack_output vs stack_output_external clarification"
`stack_output` now seems to be able to reference stacks from a different environment.  Is this true?

`stack_output_external` seems to have been changed to require a stack controlled by sceptre as indiciated by requiring the .yaml extension. Is this true?

Also, slightly unrelated, why is the .yaml extension required now?

[2018-12-12 14:10] nabeelamjad commented on #556
stacks can reference any stack group stacks in the same project now

[code]

`stack_output_external` doesn't need the `.yaml` extension, this is only applicable to `stack_output`

[2018-12-12 14:15] et304383 commented on #556
https://sceptre.cloudreach.com/latest/docs/resolvers.html

Documentation issue then?

[2018-12-12 14:16] nabeelamjad commented on #532
I've not had the time for this yet unfortunately, have been quite busy. I'll try to get it solved this weekend!

[2018-12-12 14:17] nabeelamjad commented on #556
Looks like it, that's definitely wrong yeah.

[2018-12-12 14:17] ngfgrant commented on #556
Yeh the docs are wrong - there is already a fix in 2.0.1

[2018-12-12 14:49] ngfgrant commented on #556
Added clarification note into docs and will be available in v2.0.1

[2018-12-12 14:49] #556 closed

[2018-12-12 18:10] edubxb commented on #369
We will probably migrate to v2.

[2018-12-12 22:13] sopeters commented on #532
Cool - I'm around, so let me know what I can help with

[2018-12-16 21:33] nabeelamjad commented on #532
This seems a little bit more complicated due to the way properties are resolved right now, however when we change how that works in #502 then we can properly support this. I don't think that'll happen before January though.

[2018-12-16 22:03] sopeters commented on #532
Thanks - appreciated. If you need any more information let me know.

[2018-12-17 13:17] ngfgrant opened #558 "Fix sceptre_user_data with !stack_output"
In v2.0 When referencing `sceptre_user_data` with a `stack_output` resolver an error occurs where the resolvable property is read Sceptre enters into a recursion and eventually returns a `RecursionError: maximum recursion depth exceeded`.

[2018-12-19 05:27] m1keil opened #561 "stack_group_path.index broken in 2.0.1"
When templating path sections via **{{ stack_group_path.0 }}**
instead of getting the first item of the path, I get the first char of the path.

i.e if I use **stack_group_path.0** and my path is **dev/ap-southeast-1,** I get back **d** instead of **dev**.

Tested on 2.0.1 with py3.6 & py3.7

[2018-12-19 09:20] nabeelamjad commented on #561
Seems this has changed indeed to be a string rather than a list (split by `/`), I don't think it was intentional but I'll check with @ngfgrant

[2018-12-19 10:17] jmwyson opened #562 "stack config tags key still called stack_tags instead of tags"
The migration guide states:

[2018-12-19 10:58] m1keil commented on #561
cheers. it's not reflected in the docs so I assumed the behaviour was the same as 1.x.

[2018-12-19 11:14] ngfgrant commented on #561
Hi @m1keil

Apologies this should have been updated in the docs and migration guide to say use ‘command_path’ rather than ‘stack_group_path’. I’ll update any docs that are wrong. Can you see if using command_path gets you your desired result?

[2018-12-19 12:08] ngfgrant opened #563 "Fix $CIRCLECI_TAG in docs deployment"
CONTEXT

$CIRCLE_TAG environment variable is not being respected when deploying docs on a tagged commit (https://github.com/cloudreach/sceptre/blob/master/.circleci/config.yml#L105).

DONE WHEN

Tags are recognised and docs deployed for tagged commits.

Extra points for creating a CloudFront invalidation (https://docs.aws.amazon.com/cli/latest/reference/cloudfront/create-invalidation.html) during

[2018-12-19 12:09] ngfgrant commented on #561
@m1keil - turns out the docs site needed published and the CloudFront cache invalidated. The docs should now reflect what is required for this to work. Let me know how you get on :)

[2018-12-19 22:21] sopeters opened #564 "Stack Creation fails when dependent stack has protection"
When I launch or create a stack that has a dependency on another stack output (via !stack_output resolver) on a stack that has protect: true I get the error:

Cannot perform action on '<dependent stack>': Stack protection is currently enabled

How can I launch a stack with a reference to another protected stack?

[2018-12-19 23:44] m1keil commented on #561
@ngfgrant @nabeelamjad thanks for the quick response. Yep, that did the trick.

Just have one more quick question regarding 1.x vs 2.x changes: migration guide says **stack_tags** are now **tags** but documentation still showing [stack_tags](https://sceptre.cloudreach.com/latest/docs/stack_config.html#stack_tags) as the correct option. Is this an error in the migration guide?

Regardless, going to

[2018-12-19 23:44] #561 closed

[2018-12-20 01:00] nabeelamjad commented on #561
This was unfortunately an oversight, it was meant to be `tags` but didn't. You can safely stick with `stack_tags` and that'll stay for this version of Sceptre. We'll update the documentation after we make a decision on how to handle this (i.e. use just `stack_tags` or both `tags` and `stack_tags` for the same thing)

[2018-12-21 06:43] ryanpagel opened #566 "sceptre v2: update --change-set issue"
When I run a `sceptre update [path] --change-set` it creates and then immediately deletes the change-set.  It doesn't seem to execute the change-set, just create and then delete it.  There are definitely changes in the stack as the `sceptre create [path] "cs-name"` creates a change-set without issue.

![image](https://user-images.githubusercontent.com/805791/50328559-2fdd3d80-04b9-11e9-84d1-e903a5

[2018-12-21 07:04] ryanpagel commented on #550
What kind of information are you looking for?  At a high level we have config/dev, config/test, and config/prod.  Each environment has a few dozen stacks.  Is there anything I can look into that might cause a config error?  Here's the latest error message:
![image](https://user-images.githubusercontent.com/805791/50329319-594b9880-04bc-11e9-8ce0-8cab22409f75.png)

[2018-12-21 19:06] zaro0508 opened #568 "update-stack-cs fails on "No updates are to be performed""
running an `update-stack-cs` command will fail when there are no updates to perform which doesn't not help with setting up in a CI scenario.   This should work similar to `launch-stack` command where it will NOT fail in situations where there are no updates to perform.

❯❯❯ echo 'y'|sceptre update-stack-cs prod mystack
[2018-12-21 10:49:24] - sceptre.stack - prod/mystack - Successfully initiated c

[2018-12-26 06:00] jmwyson opened #569 "set-policy for single stack sets policy for related stacks"
I am using sceptre v2.0.1 and have the following config:

config/env1/s1.yaml
[code]

config/env1/s2.yaml
[code]

I would like to set a policy for s2.yaml stack so I run below command:
`sceptre set-policy env1/s2.yaml stack-policy/mypolicy.json`

The command completes successfully but the command applies the stack policy to both s1 and s2 stacks.
[code]

How do I set a policy for a specific/single

[2018-12-26 10:05] 1oglop1 commented on #553
I'm on this one.

how do you like folder tree better?
[code]

or without spaces

[code]

[2018-12-26 12:43] 1oglop1 opened #570 "Improve sceptre.stack.Stack.__repr__()"
Hi,
during the poc for #553 I found out that the `__repr__` is incorrect.
The `__repr__` method should ideally resolve into initialised object.
And cannot be directly transformed into a python object due to problem that `stack_group_config` is casted into `str` and once repr is printed it creates `sceptre_user_date='{'Content'}'`
same problem applies to `sceptre_user_data`

https://github.com/clou

[2018-12-26 16:31] 1oglop1 commented on #570
Another part of the issue is that sceptre has incorrectly handled API (I know the API is not meant to be used directly) which is also in conflict with current `repr` implementation

[code]

So there is no way to get `sceptre.stack.Stack` as it's not accessible from within any `___init__.py`

to fix this either use `__all__` or at least `import sceptre.stack` in `sceptre/__init__.py`

[2018-12-26 17:57] ngfgrant commented on #570
Not taken too much time to look into this although on first pass, when I call `repr()` on stack I get something like the following:

[code]

I think this is an alright representation of the object?

As per the docs there is no promise of `repr` being the exact object representation.

We can amend the values for `sceptre_user_data` and `stack_group_config` so that they are not strings, although I a

[2018-12-26 17:59] ngfgrant commented on #569
Can you try use `--ignore_dependencies` option to see if that gets you the desired behaviour?

[code]

[2018-12-26 18:33] 1oglop1 commented on #570
Okay simply try this with your `repr`

[code]

[2018-12-27 07:37] jmwyson commented on #569
Thank you. The suggestion works @ngfgrant.

Should the default usage description for `sceptre set-policy` command and other commands then have another [OPTIONS] specified prior to set-policy? Typing the command shows options available after the set-policy command.

`sceptre set-policy [OPTIONS] PATH [POLICY_FILE]`

Or would be redundant as typing `sceptre` command on its own shows the options afte

[2018-12-28 01:16] fabiodouek commented on #566
Same issue here.

[2018-12-28 10:16] 1oglop1 commented on #570
no I'm not planning to use any `eval` but it's one of the `repr` tests you could use.
`assert isinstace(eval(repr(object)), ObjClass)`

This comes to my earlier point (~3 months) about 100% test coverage .. it does not matter if coverage is 100%, the quality of tests matter.

[2018-12-28 10:27] seddarj opened #571 "Bring back support for iam_role"
Hi,

I would really like to see `iam_role` support brought back.

It is mandatory for any project with multiple accounts and multiple users which cannot be forced to setup the exact same profiles on their machines for all the accounts they have to manage.

Thanks

[2018-12-28 13:55] dragonraid opened #572 "Cascading config - merge strategies"
Hello,
is there still a plan to make merge strategies for StackConfig/StackGroupConfig configurable?

[2018-12-28 14:11] ngfgrant commented on #571
Ok I am happy to look into how this would fit within v2.

[2018-12-28 14:12] seddarj commented on #571
Thanks @ngfgrant, much appreciated!

[2018-12-29 05:49] m1keil opened #573 "adjust log format"
Here's a sample of an v1/v2 output:

    [2018-12-28 16:36:46] - dev/ap-southeast-2/redirect - Launching Stack
    [2018-12-28 16:36:46] - dev/ap-southeast-2/redirect - Stack is in the UPDATE_ROLLBACK_COMPLETE state
    [2018-12-28 16:36:46] - dev/ap-southeast-2/redirect - Updating Stack
    [2018-12-28 16:36:46] - 2018-12-28T05:36:46+00:00 dev/ap-southeast-2/redirect project-dev-ap-southeast-2-re

[2018-12-29 06:01] m1keil commented on #562
see end of #561. I guess migration guide needs an update.

[2018-12-30 04:34] priorax commented on #550
I know I had the same issue and found that #https://github.com/cloudreach/sceptre/issues/558 was the cause of my issues.
I had a user_data that was trying to get output of another stack and pass it into a stack that was based on Troposphere, once I moved this to being a parameter there was no issue and it worked fine.

Are you doing anything similar to this?

[2018-12-30 20:57] ngfgrant commented on #573
I’d be happy to discuss further, for sure.

Between v1 and v2 I removed the duplication of timestamp. In the immediate term I am happy to have the duplication removed in v1 too; should be a trivial PR.

Not sure exactly what the best approach would be for a more elaborate custom logging setup. It might tie into some form of project settings/config file (https://github.com/cloudreach/sceptre/issues

[2018-12-31 09:18] 1oglop1 commented on #573
This sounds like one more item to be configurable and probably good opportunity to introduce something like `config.toml` which could be used for the main configuration and would not conflict with `config/config.yaml`.

I'm thinking about `toml` because it does not have potential problems with escaping as yaml does.

Context: We have already had few discussions about hardcoded `templates/` directo

[2018-12-31 13:31] mithun opened #574 "Documentation for v1 and v2"
Sceptre's [documentation](https://sceptre.cloudreach.com/latest/) displays the documentation for v2. However, there are still plenty of users on v1 that will benefit from documentation being available on https://sceptre.cloudreach.com/.

Here is what I'm proposing:

1. [Homepage](https://sceptre.cloudreach.com/latest/) still defaults to latest stable version (v2.x)
2. Clearly indicate version numb

[2018-12-31 13:52] 1oglop1 commented on #574
This is work in progress https://github.com/cloudreach/sceptre/pull/567

[2018-12-31 19:54] ryanpagel commented on #550
I'm using !stack_output_external but not !stack_outuput.

[2019-01-01 10:40] #572 closed

[2019-01-02 10:56] priorax commented on #550
For the sake of seeing if it's a related bug, if you move those resolvers to being parameters instead of user data do you get the same exception?

[2019-01-02 18:19] zaro0508 opened #575 "Improve v2 Error Message "ValueError: max() arg is an empty sequence""
We've been using sceptre v 1.x and it's been working great.  I tried testing v 2.0.1 and I'm getting "ValueError: max() arg is an empty sequence" when running any command.  I've tried running sceptre on python 2.7 and 3.6 getting that error in both versions.  I also tried running from master and from 2.0.1 release tag and still getting the same error.

My sceptre test project: [scpester-infra.zip]

[2019-01-02 18:31] ngfgrant commented on #575
@zaro0508 thanks for providing the info and the test project - I will have a look and get back to you. That error however raises when stacks have not been able to be read. My first guess is that there are some incorrect values in your test project config and v2 is then not able to recognise them as valid stacks; therefore they are not able to be loaded into the graph launch order.

I should be abl

[2019-01-02 18:32] ngfgrant commented on #574
@mithun totally agree - as @1oglop1 has mentioned this should be fixed with #567 so we will have older docs available in the future.

[2019-01-02 18:41] ngfgrant commented on #573
@m1keil Yep - go ahead and submit a PR to remove the CF timestamp from v1, I don't think it provides any value.

[2019-01-02 20:32] allumbra commented on #575
I'm getting the same error

[2019-01-03 00:34] m1keil opened #576 "sceptre list output envvar format broken"
See the output:

    $ sceptre --version
    Sceptre, version 2.0.1

    $ sceptre list outputs dev/us-east-1/bucket
    - dev/us-east-1/bucket:
    - Description: Created S3 bucket ARN
        OutputKey: S3BucketARN
        OutputValue: arn:aws:s3:::RETRACTED
    - Description: Created S3 bucket name
        OutputKey: S3BucketName
        OutputValue: RETRACTED

    $ sceptre list outputs dev/us

[2019-01-03 16:00] zaro0508 opened #579 "V1: update-stack fails with "No updates are to be performed.""
running an update-stack command will fail when there are no updates to perform which doesn't not help with setting up sceptre in a CI scenario. This should work similar to launch-stack command where it will NOT fail in situations where there are no updates to perform.

(py36-sceptredev-v1) ~/w/scpester-infra ❯❯❯ sceptre --var "profile=sandbox.cfservice" --var "region=us-east-1" update-stack test n

[2019-01-04 14:49] rafcio19 commented on #575
This issue will appear if the stack config file does not exist, ie. if the `config` folder looks like:

[code]

then the command should be `sceptre validate dev/stack1.yaml`.

@zaro0508 , in your case it looks like you need to run `sceptre --var "profile=sandbox.cfservice" validate test/noop.yaml`.

@ngfgrant please improve `ValueError: max() arg is an empty sequence` error message, it is not very

[2019-01-04 16:05] rafcio19 opened #581 "V2 output in stdout not formatted correctly when running generate"
The issue appears when moving from v1 to v2 and affects old `generate-template` / new `generate` command. The output is not formatted correctly, ie. when running `sceptre generate dev/stack.yaml`
[code]

Additionally, the command line argument`--output` is not being respected, so `--output json` or `--output yaml` does not vary the output.

I think the problem is in the _write_ function in [helper

[2019-01-04 16:52] ngfgrant commented on #575
@rafcio19 Thanks for adding to the conversation. Agreed that the message is not good, working on improving it in an upcoming patch release 👍

[2019-01-04 16:57] ngfgrant commented on #566
Hey @ryanpagel will get a look at this soon - I have used update in v2 without that issue so it might be something more subtle going on. Will report back when I get a better idea of the issue.

[2019-01-04 19:07] zaro0508 commented on #324
Hasn't this been implemented with the following command in V2?

[code]

[2019-01-04 19:12] zaro0508 commented on #95
@JuanCanham would you be able to share your hook code for cloudformation deploy?

[2019-01-06 09:09] fabiodouek commented on #538
Hi @arcturial , I'm having the same issue. Did you find a solution for this?

[2019-01-06 16:55] 1oglop1 opened #582 "[For V3] `imp` module is deprecated in favour of `importlib`"
`template.py` is using deprecated `imp` module

the imp module is deprecated in favour of importlib
https://github.com/cloudreach/sceptre/blob/master/sceptre/template.py#L10

possible fix: is to take similar approach like here: https://github.com/pyinvoke/invoke/issues/214

[2019-01-06 17:14] 1oglop1 opened #583 "python templates need access to more data from stack_config"
Currently only `sceptre_user_data` is passed to `sceptre.Template`
https://github.com/cloudreach/sceptre/blob/master/sceptre/stack.py#L203

and then passed to `sceptre_handler`
https://github.com/cloudreach/sceptre/blob/master/sceptre/template.py#L129

This leads to lose relation between template and stack config.
E.G:
`stack_config.yaml`

[code]
Currently every templates needs to implement `scept

[2019-01-07 10:00] kkessels commented on #538
From what I can see this is currently not possible because in order to perform the transform we need the CAPABILITY_AUTO_EXPAND capability. Currently, when Sceptre deploys it only provides the other two capabilities: CAPABILITY_IAM and CAPABILITY_NAMED_IAM. I did a small test by adding the CAPABILITY_AUTO_EXPAND to the plan actions and this allowed me to deploy SAM templates using Sceptre.

[2019-01-07 17:48] ngfgrant commented on #581
Hi @rafcio19

I've got a wip for this hope to get something up tomorrow for you to test out.

Cheers,
Niall

[2019-01-07 17:53] zaro0508 commented on #324
That's great @kkessels would you be able to propose a PR for the `CAPABILITY_AUTO_EXPAND` addition?

[2019-01-07 20:11] ryanpagel commented on #550
The challenge here is that we have dozens of stacks that are using `!stack_output_external`.  There's not an easy way to change everything over to using parameters instead of `sceptre_user_data`.

[2019-01-07 21:14] akdor1154 commented on #579
Is there any reason to not just use launch-stack?

[2019-01-08 01:13] adv4000 commented on #538
I fixed it in Sceptre V1.4 by editing **/usr/local/lib/python2.7/dist-packages/sceptre/stack.py**
and added **CAPABILITY_AUTO_EXPAND**
Lines: 196,235,527 need to be changed
From: **"Capabilities": ['CAPABILITY_IAM', 'CAPABILITY_NAMED_IAM'],**
To:  **"Capabilities": ['CAPABILITY_IAM', 'CAPABILITY_NAMED_IAM', 'CAPABILITY_AUTO_EXPAND'],**

[2019-01-08 07:59] pha6d commented on #550
in a custom resolver, resolve method, retrieving a connection_manager instance like: `self.stack.template.connection_manager` leads to
` File "/usr/lib/python2.7/site-packages/sceptre/helpers.py", line 53, in func_on_instance
    if isinstance(value, cls):
  File "/usr/lib64/python2.7/abc.py", line 132, in __instancecheck__
    if subclass is not None and subclass in cls._abc_cache:
RuntimeError:

[2019-01-08 12:14] kkessels commented on #324
I submitted the PR #586 for getting SAM templates working.

[2019-01-08 13:44] ngfgrant commented on #553
Without spaces please.

[2019-01-08 13:46] #569 closed

[2019-01-08 15:03] rafcio19 commented on #581
Thanks but still not there:

[code]

or in yaml

[code]

It looks like you need to return 1st element from the list to ditch `[ ]` characters for both outputs; replace `\n` with the real carriage return for yaml.

[2019-01-08 15:19] ngfgrant commented on #576
I have resolved this in branch `fix-envvar-output`. Will get it released in 2.0.2

[2019-01-08 17:20] ngfgrant commented on #568
duplicate #579

[2019-01-08 17:20] #568 closed

[2019-01-08 18:18] zaro0508 commented on #579
@akdor1154 no, launch-stack would work for me but regardless IMO this is still a bug.  Also I found this issue after finding issue #568 which is the only command for deploying change set (or SAM) templates.  I looked at fixing #568 but fixed this first since it seemed like an easier fix.  Once this is merged I'll look into #568.

@ngfgrant does that mean you one fix for both commands?  My idea of

[2019-01-08 21:30] akdor1154 commented on #579
@zaro0508 reason I ask is that I think update-stack is meant to be a loose wrapper on top of the aws api, which also returns an error in this situation. (so does the cli, `aws cloudformation update-stack`).
`launch-stack` seems to exist to hide away this weirdness in the API (e.g. it implements the semantic operation "make cloudformation the same as my filesystem").

IMO you are more being bitten

[2019-01-09 16:52] ryanpagel commented on #566
`--ignore-dependencies` does not appear to be a valid option.
![image](https://user-images.githubusercontent.com/805791/50914670-ab694500-13fc-11e9-8902-aac57f40c2c0.png)

[2019-01-09 17:13] ngfgrant commented on #582
Following the approach in pyinvoke/invoke#214 will be problematic as we still support 2.7. The `importlib.machinery` was only added in 3.4.  We can take this approach when we drop python2 support in a future Sceptre version (v3+).

[2019-01-09 18:04] ngfgrant opened #593 "V1 End of Life Notice"
Hi folks,

I wanted to give you advanced notice about the End of Life (EOL) plans for Sceptre Version 1.

## What

- EOL for Sceptre Version 1 will be 1st June 2019.

- V1 won't "go away" and you are of course free to continue to use V1 up to and beyond the
  EOL date; we just won't be actively supporting it.

- From the 1st June 2019 Issues and Pull Requests that relate to only v1 feature
  reque

[2019-01-09 19:12] zaro0508 commented on #579
thanks for the explanation @akdor1154 I guess SAM support is unlikely for V1.  On the bright side it looks like SAM is going to be a thing for V2 when PR #586 merges.

[2019-01-10 05:30] ngfgrant commented on #566
Apologies @ryanpagel the ‘—ignore-dependencies’ goes right after ‘sceptre’ as it is a global option.

[2019-01-10 05:32] ngfgrant commented on #581
@rafco19 I’ve updated the code it has been merged into 2.0.2 branch could you retest from their.

[2019-01-10 07:11] 1oglop1 commented on #582
Sounds good, will you leave the issue open?
It might be good to mark it with some label then.

[2019-01-10 15:52] #573 closed

[2019-01-10 15:52] #581 closed

[2019-01-10 15:52] #570 closed

[2019-01-10 15:52] #576 closed

[2019-01-10 16:01] ngfgrant opened #597 "v2.0.2 Released"
# Release v2.0.2

v2.0.2 is now available. The following fixes were made:

### Fixed

- Fix `write` method in `sceptre.cli.helpers` to better handle `yaml` and `json` output format.

- Fix `sceptre generate` in CLI so that it respects `--output` flag.

- Update `PyYaml` dependency version to fix `CVE-2017-18342`.

- Fix `--export` option for `sceptre list outputs` for setting environment variables

[2019-01-10 22:24] ngfgrant commented on #531
@mike-rsi I am working on a branch at the moment to resolve this so you can use as in v1.

[2019-01-11 11:05] ocsig commented on #404
I'm happy to review the early design and bring in GCP, Deployment Manager expertise, please reach me out.

[2019-01-11 12:13] ngfgrant commented on #404
@ocsig Hey Adam - how are things? Would be great to get your input when I get a bit of time I will outline how I see the overall code structure for this and then we will need to think how well the current sceptre commands map on to Deployment Manager. Would be super to get your involvement.

[2019-01-11 15:15] henrybell commented on #404
Nice @ocsig!

[2019-01-14 14:45] tlkcr commented on #571
@ngfgrant Do you have any update on this?

[2019-01-14 18:48] ryanpagel commented on #566
That didn't seem to help.  I have a change in this template but it just deletes the changeset automatically.

![image](https://user-images.githubusercontent.com/805791/51133458-a7716480-17fa-11e9-9b7c-3de0252bda51.png)

[2019-01-14 20:06] 1oglop1 opened #598 "Pinned requirement six==1.11.0 collides with other packages"
I installed `sceptre` and `aws-google-auth` then received
`sceptre 2.0.2 has requirement six==1.11.0, but you'll have six 1.12.0 which is incompatible.`
I cannot run the sceptre now

[2019-01-14 21:37] ngfgrant commented on #598
It looks like every package in `aws-google-auth` is unpinned. It is also pre-v1. Can I suggest you install sceptre first, then the next package. You will get a version of six that will meet the requirements from `aws-google-auth`.

[2019-01-15 00:14] priorax commented on #575
I've tried doing similar with the following folder structure
[code]
Based on the feedback of @rafcio19
If I run: `sceptre validate dev`
Then stack1 and stack2 validate fine
If I do `sceptre validate dev/stack1.yaml` or `sceptre validate dev/stack1`
Then I still get the max() arg is an empty sequence error.

While I'm not doubting that the error needs to get fixed, is there any recommendations on w

[2019-01-15 00:15] ngfgrant commented on #571
@tlkcr I don't have a timescale for this at the moment. Accepting pull requests for this though...

I've labelled as 'help wanted'.

[2019-01-15 00:47] ngfgrant opened #600 "Milestones & Project Board"
Hi folks,

For a while, I've wanted to improve the visibility of what issues are currently in-flight and provide a way for the community to find tasks that they can contribute to, whilst prioritising important work.

I think GitHub Milestones and Projects will help us here.

We will use [Milestones](https://github.com/cloudreach/sceptre/milestones) as a way of quantifying what will go into an upco

[2019-01-15 01:02] #530 closed

[2019-01-15 01:04] #469 closed

[2019-01-15 08:32] tlkcr commented on #571
I am more than happy to help but it would be good to understand why it has been removed from V2 initially.

[2019-01-15 10:18] ngfgrant commented on #571
The original discussion (and subsequent change) happened around thihttps://github.com/cloudreach/sceptre/issues/257.

I guess there is also an option to add a feature so that a user can add a custom map of profiles as Sean originally suggested.

[2019-01-15 10:34] tlkcr commented on #571
This would introduce dependancy on a non-versionned file and sounds like a bad idea.

I see no good reason to implement a mapping neither as it would incur room for mistake between users. If a user cannot be sure he is using the same role (hence same policy) it is not predictable which permission will be available which could lead to mistake/misunderstanding.

I would recommend to recover the iam_

[2019-01-15 11:32] ngfgrant commented on #571
@tlkcr Ok - like I said, happy to receive a PR for this.

For anyone willing to pick this up. In terms of credential hierarchy see: https://github.com/cloudreach/sceptre/pull/395. The new hierarchy should be:

1. Environment variable credentials take priority over profiles
2. Region specified in the Sceptre Stack configuration will take priority over the one specified in the profile
3. Profile
4.

[2019-01-15 13:17] tlkcr commented on #571
Ok, clear.
Can you just elaborate a bit on :

[2019-01-15 14:02] paulopontesm opened #601 "pyyaml version conflicting with awscli"
The pyyaml version is conflicting with the awscli one.

Given the discussion in their repo, it seems like they will be waiting for the official 4.2 release:
https://github.com/aws/aws-cli/issues/3828

Also, considering the nature of the CVE, maybe it be possible for sceptre to stop using unsafe loads?

[2019-01-15 14:15] ngfgrant commented on #601
@paulopontesm - we've already upgraded and released (2.0.2) the PyYaml package. Agreed that there is no need for us to use `yaml.loads()` if there are any instances of `loads()` in the project, I am happy for them to be changed to `safe_loads()` although the update should resolve the issue anyway.

Given we've updated we are not going to go back so best to use sceptre v2.0.1 for now if there is a

[2019-01-15 14:18] ngfgrant commented on #571
Would just need to see that using roles you could still deploy to various accounts/regions as with profiles.

[2019-01-15 14:34] paulopontesm commented on #601
Given that the awscli is an "essential" for someone working with AWS, this can create some drag when someone installs the latest sceptre version and the tool fails right away.

As someone that is trying to use sceptre more and more (and show it to others), this isn't ideal.

I understand your argument and will go with the solution you proposed for now. Thank you

[2019-01-15 14:40] tlkcr commented on #571
oh, you mean using a role to switch to another role somewhere else? Isn't it transparent from a role/profile perspective?

[2019-01-15 15:12] ngfgrant commented on #601
@paulopontesm Yeh I understand the slight frustration. As some context we have a security team that tracks vulnerabilities and we are required to fix them asap. Honestly,  after reading through the CVE it seems the PyYaml project is a bit messy. Will probably look to move away from it at some point.

If you install sceptre ahead of installing aws-cli you might find things work with sceptre 2.0.2.

[2019-01-15 18:09] zaro0508 opened #602 "Port SSM resolver to sceptre V2"
An SSM resolver was created for sceptre V1 in PR https://github.com/cloudreach/sceptre/pull/409   Would be great if we could port this resolver to sceptre V2.

[2019-01-15 18:36] zaro0508 commented on #602
@ngfgrant could you please suggest an approach on where the resolver should live?

Should it be a core resolver?
If not, would you like to host a repo in scepter org for it or put it in a contrib folder similar to how it is done in V1?

[2019-01-15 19:40] ngfgrant commented on #602
We are going to try and keep the core resolvers to a minimum. Instead I think this would be better suited in its own repository. Cloudreach will be more than happy to host the repo although it can sit anywhere. Also happy to have it be deployed to our PyPi account. I’ve got a lot of the boilerplate for such a project and I’m happy to contribute that to help get this and other similar hooks/resolve

[2019-01-15 20:40] zaro0508 commented on #602
That would be great @ngfgrant

[2019-01-15 23:13] zaro0508 commented on #602
@ngfgrant here is the port https://github.com/zaro0508/sceptre-ssm-resolver would be great if sceptre could host this resolver with CI to deploy to PyPi.  Thanks.

[2019-01-16 03:27] eikenb opened #603 "KeyError on dependency that doesn't exist"
[code]
The config 'csorca/eu-central-1.1/roles.yaml' does not exist and is not referenced. In 'csorca/eu-central-1.1/' there is a 'config.yaml' and a vpc.nodep.yaml file. The latter has no dependencies. In 'csorca/eu-central-1/' there is a different 'config.yaml' and a 'vpc.yaml' and *that* vpc.yaml file does have the dependency `{{'/'.join(command_path)}}/roles.yaml`.

Note that the vpc.yaml, vpc

[2019-01-16 12:08] #598 closed

[2019-01-16 12:19] ngfgrant commented on #563
Should be resolved as part of #567

[2019-01-16 12:19] #563 closed

[2019-01-16 18:40] akio-outori opened #604 "Support for sceptre_user_data at the stack_group level"
Question / feature request:

Is there any support for sceptre_user_data at the stack group level?  What I'm trying to do is create a set of security group rules for a long series of subnets across multiple stacks.  Using jinja templates this works fine at the stack level, but leads to some code re-use.  It'd be great if these could be set at a project level instead.

[2019-01-16 19:55] eikenb commented on #603
I replaced all uses of sym-links in the config/ area with the files linked to and received the exact same error.

[2019-01-16 19:56] eikenb commented on #603
Probably not that  surprising, but if I run with `--ignore-dependencies` it works fine.

[2019-01-16 20:10] eikenb commented on #603
If I add a print in the section where that error occurs..
[code]
The stack that it errors on is not even the same one. Here's the output from those prints...
[code]
So it processes one I'm running against and there are no dependences, but then there is one in a later config that has one for here that doesn't exist. Maybe something about using the command_path in the dependencies is causing it?
The

[2019-01-16 20:34] zaro0508 opened #605 "Stack protection feature documentation discrepancy"
The sceptre docs refers to stack protection feature with key `protected`[1] however it only seems to work when using the `protect` keyword (i.e. `protect: true`).  a quick grep shows that many tests use `protected` keyword.  Not sure which is the correct keyword to use.

[1] https://sceptre.cloudreach.com/latest/docs/stack_config.html#protected

(py36-sceptredev) ~/w/sceptre ❯❯❯ git grep protected

[2019-01-16 20:50] ngfgrant commented on #603
Ah ok - yes we promise to handle dependencies strictly on this so it will try and resolve all dependencies for a given stack group or stack unless --ignore-dependencies is set.

[2019-01-16 22:00] eikenb commented on #603
It's definitely related to that `command_path`. While it is processing the configurations it uses the path from the command for all of them. So the problem is either that that command_path is not a replacement for the `environment_path` as the migration guide stated (I used the environment_path in v1 for the same purpose) or the other configurations are being processed when the shouldn't be.

So i

[2019-01-16 23:48] eikenb commented on #603
For posterities sake, I just want to mention that command_path is probably set the same as environment_path was...  the reason it is causing issues is that (I think) in v1 only the configurations directly being run were processed, so the path was right. Where in v2 it is processing all the configurations (looking for dependencies) and thus it is wrong for all of them except the 1. This causes my i

[2019-01-17 00:46] eikenb commented on #603
Aha! Found something that works by printing out the config contents... `stack_group_path` is just what I need. It contains the relative path to the configurations currently being processed. So it can be used to reference the dependencies in that directory dynamically without need for the command_path.

TLDR; switching from `command_path` to `stack_group_path` fixed my issue.

[2019-01-17 00:46] #603 closed

[2019-01-17 01:11] m1keil opened #606 "Adding json format option to sceptre list outputs command"
basically allowing:
$ sceptre list outputs dev -e json | jq '.'

If you are OK with this, I can submit a patch.

[2019-01-17 01:20] ngfgrant commented on #606
with 2.0.2 does `sceptre --output json list outputs ...` give you what you are after?

[2019-01-17 01:22] m1keil opened #607 "Make sceptre help pretty again"
[code]

seems like click just uses the docstring as documentation which makes the --help rather ugly. If you like, I can go over the docstrings and make these doc worthy? [Click 7.x support truncating the help text from docstrings](http://click.palletsprojects.com/en/7.x/documentation/#truncating-help-texts).

[2019-01-17 08:16] ngfgrant commented on #606
No worries 😉 glad it worked.

[2019-01-17 08:18] ngfgrant commented on #607
That would be awesome! Thanks

[2019-01-17 17:25] zaro0508 commented on #228
PR  https://github.com/cloudreach/sceptre/pull/498 is for sceptre V1, A port of that hook to sceptre V2 is here:  https://github.com/zaro0508/sceptre-stack-termination-protection-hook

[2019-01-17 23:26] zaro0508 opened #608 "Sceptre resolver to get the current date"
I would like to inject the current date to a cloudformation parameter in the stack config file.  I haven't found a way to do this with plain yaml.  A sceptre resolver would make this possible though.  Something like..

[code]

I think this would help with issue #279. Basically it would allow empty updates with sceptre instead of having to run a lambda in AWS (the work around mentioned by @mithun -

[2019-01-18 01:03] zaro0508 commented on #554
IMO we don't need multiple ways to support plugins.  It bloats the code and causes confusion.   I think V2 is a better approach.

[2019-01-18 01:08] zaro0508 commented on #571
Sceptre docs declares that sceptre supports `role_arn` in template config: https://sceptre.cloudreach.com/latest/docs/stack_config.html#role_arn

Does this not provide the same functionality as `iam_role`?

[2019-01-18 07:11] m1keil opened #609 "list outputs doesn't return error if credentails are missing"
When doing action such as deploy without credentials loaded in environment, and error message will be displayed: `Partial credentials found in assume-role, missing: source_profile or credential_source`

However, when doing list outputs, the command will silently return an empty list which my trick you to think there's no outputs instead of the list didn't actually work.

[2019-01-18 07:34] ngfgrant commented on #609
Yeh good spot I think I noticed this too before. Probably worth being consistent and throwing an error for list outputs too!

[2019-01-18 07:36] ngfgrant commented on #608
Happy to receive a PR for this. As you said it has multiple applications.

[2019-01-18 12:24] m1keil commented on #607
submitted PR.

[2019-01-18 12:33] m1keil commented on #160
I believe this issue can now be closed.

[2019-01-18 12:45] #160 closed

[2019-01-18 14:50] #607 closed

[2019-01-18 16:52] zaro0508 commented on #608
@ngfgrant Not sure whether you meant as a core resolver or a plugin so i created a plugin.  here you go https://github.com/zaro0508/sceptre-date-resolver

[2019-01-18 16:56] zaro0508 commented on #279
sceptre-date-resolver has been implemented in issue #608 which may help with this issue.

[2019-01-18 17:08] zaro0508 commented on #349
Answering my own question.  What I'm trying to do seems possible only in V2.

[2019-01-18 17:09] ngfgrant commented on #608
Thanks @zaro0508 I will add as part of Cloudreach repo along with the other resolver you've contributed.

🙏 Thanks again

[2019-01-18 17:41] zaro0508 opened #611 "More interactive channel for Sceptre discussion"
I was wondering if people in this community would be interested in an IRC or Slack channel to have more interactive discussion and support than raising github issues?

[2019-01-18 18:00] ngfgrant commented on #611
@zaro0508 I looking into this based on #469 I think there was a bit of a split opinion. 60% felt GitHub was enough 30% wanted IM/Slack. Most people wanted a better way to subscribe to announcements blog/newsletter.

[2019-01-18 18:08] 1oglop1 commented on #611
I was actually thinking about suggesting some common StackOverflow tag

[2019-01-18 18:09] zaro0508 commented on #611
@ngfgrant Hmm,  30% seems significant.  Would you consider an announcement and publishing to the Sceptre docs if there were another communications channel?  That could either be IRC/Slack or mailing list?

[2019-01-19 15:43] stolendog commented on #603
I had a similar issue. It needs to update Migration Guide wiki page. `command_path != environment_path`
Regarding `stack_group_path`, why don't make it as `command_path` which is a list, then we could access necessary items from it like `stack_group_path.0` as we could do it in v1 with `environment_path` If you agree I could make a pull request for it

[2019-01-19 16:21] ngfgrant commented on #603
@stolendog iirc we needed to separate out the `command_path` from the `stack_group_path` due to the way we traverse and generate the graph which holds the relationship dependencies and also for the execution of the stacks in that graph.

I will update the migration guide.

Can i just check, you should definitely be able to reference something like `command_path.0` in your templates as https://gith

[2019-01-20 18:41] stolendog commented on #603
Definitely, I am able to reference `command_path.0` but it doesn't work for my case, because I need a path relative to the currently processed configuration. If I use command_path.0 for stack_output (`!stack_output {{ command_path.0}}/s3Bucket.yaml::S3BucketName`) in one stack group config, it breaks if I try to work with another stack group because after new v2 dependency model it tries to load a

[2019-01-21 14:11] prantaaho opened #612 "Create or update stack"
I'm trying to build Bitbucket pipeline around sceptre. I have in my repo multiple stacks and correspondingly I have multiple lines like:
[code]
Except that would fail after initial pass, as the create will complain that stack already exists. Hence I actually have something like:
[code]
which is not nice as a) it is ugly b) if create fails due to some other error stack update is still tried. Is the