[2019-01-21 14:22] seddarj commented on #612
@prantaaho I think `launch` is what you are looking for.

If the stack already exists, it will update it otherwise it will create it.

[2019-01-21 19:30] prantaaho commented on #612
Thanks @seddarj! That was it.

[2019-01-21 19:30] #612 closed

[2019-01-21 20:34] ngfgrant commented on #603
Ok I will update the docs

[2019-01-22 15:13] mMeijden commented on #575
Arriving bit late to the party maybe, but i'm new to sceptre so i was following the tutorial (https://sceptre.cloudreach.com/latest/docs/get_started.html)
where the same error comes up as well.
`$ sceptre create dev/vpc.yaml` is where it get's stuck.
`$ sceptre create vpc.yaml` works fine
using python 3.7

[2019-01-22 16:06] medbensalem opened #613 "migrate Resolver v1 to v2 - API calls"
Hi,

I'm migrating for Sceptre v1 to v2 and I'm having some troubles adapting some custom resolvers.
For example, the script below is retrieving ECR Images tags depending on certain conditions and entry variables we are providing, this is working fine is V1 but because a lot of API calls have changed in V2, the script is now broken.

So my question is what is the equivalent to this python line wit

[2019-01-22 16:16] ngfgrant commented on #575
So we don't officially "support" python > 3.6. @mMeijden what is the `tree` of your Sceptre project.

[2019-01-22 20:06] mike-rsi commented on #575
@mMeijden I found there was problems with paths in Windows in the current release. Does this comment help you? https://github.com/cloudreach/sceptre/issues/531#issuecomment-453259989

[2019-01-23 11:13] stolendog commented on #603
What about `stack_group_path` issue? should I try to make merge request for `stack_group_path`?

[2019-01-23 11:51] stolendog commented on #603
but how can I get folders names from `stack_group_path.0` or `stack_group_path.1` on my configs which are relative to my stack_group?

[2019-01-23 13:04] ngfgrant commented on #603
So sorry @stolendog I mis-understood. Ok if you follow the 62f1323 then it should provide some inspiration for that implementation.

[2019-01-23 17:25] mike-rsi commented on #575
@mMeijden Ah, yes, I am explicitly naming my stacks in my configs.  I haven't tried it while letting Sceptre to auto generate the names, but I could imagine the same problems appears there as well.

[2019-01-23 21:08] ngfgrant commented on #575
Hey mike-rsi - Use back slashes for windows (for now, there is a ticket to improve) and read the docs on using custom stack names to see if that would impact your setup https://sceptre.cloudreach.com/latest/docs/stack_config.html#stack_name

[2019-01-25 12:44] Krzysztof-Szyper-Epam commented on #329
Any progress on that?
Maybe just give us access to `parameters` or `sceptre_user_data` inside `hooks`?

[2019-01-25 13:47] ngfgrant commented on #329
@m1keil Option 3 sounds like a very good start and we could move quickly on it?

[2019-01-25 14:04] m1keil commented on #329
@ngfgrant I can give it a go. Been some time since I looked at this issue. I'll update in few days.

[2019-01-25 14:06] Krzysztof-Szyper-Epam commented on #329
Thanks guys.

[2019-01-25 14:43] ngfgrant commented on #329
Yeh V2 only please

[2019-01-26 04:36] m1keil commented on #329
@Krzysztof-Szyper-Epam btw, you already have access to `parameters` or `sceptre_user_data` inside a hook (in v2).

[2019-01-28 10:41] Krzysztof-Szyper-Epam commented on #329
@m1keil That's great. I'll test it when I have the time.
Honestly, I'm still using 1.3.4 because I inherited it that way and just adjusting infra stacks. Haven't had time to update it yet.

So something like that should work?
`sceptre_user_data:
  db_endpoint: !stack_output_external my-other-sceptre-project-mysql::DBEndpointAddress
hooks:
  before_update: !cmd "echo {{  self.stack.sceptre_user_dat

[2019-01-28 12:06] connec commented on #329
In Sceptre 1.x we used a trick whereby we would add a custom field to the root of the configuration (e.g. `hook_data: ...`) which would contain resolvers. Because the field was 'unknown' to Sceptre it wouldn't try to actually do the resolving, but you could do it yourself in the hook by accessing the stack config field and assigning it to a resolvable property, e.g.:

[code]

[code]

I've not trie

[2019-01-28 19:44] FLavalliere opened #614 "Updating many CF at once"
[code]
Using a custom resolver that will do something like this

        client = boto3.client('cloudformation')

Got error of :

local/lib/python3.5/site-packages/botocore/session.py", line 826, in create_client
    credentials = self.get_credentials()
local/lib/python3.5/site-packages/botocore/session.py", line 425, in get_credentials
    'credential_provider').load_credentials()
...
KeyError: '

[2019-01-28 20:07] ngfgrant commented on #614
Hey @FLavalliere

Can you describe the use-case for having a custom resolver that creates a boto3 client? If you are wanting to update a bunch of stacks you could do that by creating a `SceptreContext` with the appropriate `command_path`, create a `SceptrePlan` with the context such as:

[code]

[2019-01-28 22:08] FLavalliere commented on #614
We currently use the boto client to describe the cloudformation to validate some values that was created that might of changed. Ie: Something like describe the Current Autoscaling values of the stack we will be updating, and ensure we do not decrease the current ASG size.

We currently only use the bash command line, i assume we could create a python script to actually do what you are describing f

[2019-01-28 22:34] ngfgrant opened #615 "1st July - Sceptre GitHub Organization Move"
Hey there,

I wanted to give you advanced notice as to some of the community changes that will be happening over the next few weeks.

For quite sometime I have been keen to facilitate more community engagement. One of the things getting in the way is the way the project is structured on GitHub. We have been able to acquire the GitHub organisation name "sceptre" and shortly this will become the hom

[2019-01-28 22:39] ngfgrant commented on #614
Yep sounds like you could script this in python an utilise the methods in `plan`. Probably a mix of `generate()` and/or `describe_*()` and then `update()/launch()`

API docs: https://sceptre.cloudreach.com/latest/docs/api/sceptre.plan.html

[2019-01-29 19:07] zaro0508 commented on #613
hmm.  sceptre V2 doesn't seem to provide access to a `user_variables` from resolvers or hooks.  This seems like a bug to me.

Although I'm wondering if this might be by design because I think you can pass user_variables to your resolver with a var reference i.e. `{{ var.Tag }}`

In your case I think it would work like this..
[code]

[2019-01-29 19:12] ngfgrant commented on #613
I think the tag thing in particular is a bug related to #426 and/or https://github.com/cloudreach/sceptre/issues/562

[2019-01-29 19:12] #579 closed

[2019-01-30 10:10] medbensalem commented on #613
For the moment I was able to hack this by defining "stack_group_config" variables and make their values loaded/overwritten by the CLI.
Example:
[code]
Like mentioned before this seems more like a hack, I hope this bug get fixed soon.
Please let me know what do you guys think.

[2019-01-30 13:56] jeffmacdonald commented on #497
Curious if this is something in the pipeline for V2 ?

[2019-01-30 16:19] ngfgrant commented on #611
this will be resolved in #615

[2019-01-30 16:19] #611 closed

[2019-01-30 18:31] zaro0508 commented on #613
I agree that it's a hack,  nice workaround though.  I think `user_variables` should be directly accessible from the any plugin.  @medbensalem maybe you can create an issue for this?

[2019-01-30 20:50] ngfgrant commented on #531
#531 and #616 will resolve the initial request here. Better DOS path support also on the way with #535

[2019-01-31 03:36] sopeters opened #617 "Support for multiple paths / files"
I'd like to launch a sceptre run for multiple config directories, e.g.

sceptre launch "development/dir1 development/dir2"

I'm currently getting:

Do you want to launch 'development/dir1 development/dir2' [y/N]: y
Traceback (most recent call last):
  File "/usr/bin/sceptre", line 11, in <module>
    sys.exit(cli())
  File "/usr/lib/python3.6/site-packages/click/core.py", line 722, in __call__

[2019-01-31 06:01] mike-rsi commented on #617
What OS are you running Sceptre on?

[2019-01-31 06:14] sopeters commented on #617
I run it in a docker container based on alpine and also MacOS

[2019-01-31 10:09] medbensalem opened #618 "Access the "user_variables" from Resolvers and Hooks - sceptre v2"
Hi,

It seems like there is a bug with scepter v2 where you can not access the `user_variables` from hooks and resolvers.
In v1 you could perform that by doing this for example:

But it doesn't seem to be an equivalent way in v2.

[2019-01-31 10:10] medbensalem commented on #613
Yep, you are totally right, I have created an issue to track this #618.
Thank you guys for your time.

[2019-01-31 10:12] ngfgrant commented on #617
Ok, appreciate that would avoid adding another layer in docker although not sure about adding this at the CLI level off the top of my head I can't think of a nice way to do it.

In dockerfile you could do something like:

`RUN sceptre launch development/dir1  &&  sceptre launch development/dir2`

That might achieve the same thing in a single run command?

[2019-01-31 10:56] connec commented on #617
Also, if there's a reason for launching `development/dir2` after `development/dir1` you could add an [explicit dependency](https://sceptre.cloudreach.com/latest/docs/stack_config.html#dependencies):

[code]

[2019-01-31 19:35] ngfgrant commented on #566
@ryanpagel thanks for reporting this - I can confirm the issue has been resolved in #619 and will make it out in v2.0.3

[2019-02-01 18:49] zaro0508 commented on #615
This is great however i'm wondering how this nullifies the need for issue #611 ?     I'm would be interested in core, cli, hooks, docs and resolvers.

[2019-02-01 19:40] ngfgrant commented on #615
Amazing thanks @zaro0508 there is a neat feature in GitHub orgs for team chat.

[2019-02-01 20:58] SmoothGlide commented on #571
I have attempted to use the role_arn in the stack config and it simply does not seem to work.
This is one reason I have not been able to move to v2

For example when running a template validate on a large template, I use a template_bucket. The validation in v1.4.2 works just fine with iam_role defined in the config.yaml
With v2 - I try adding role_arn directly in the stack config and the template

[2019-02-01 22:09] seddarj commented on #571
@zaro0508 @SmoothGlide As per the documentation,  `role_arn` refers to something completely different than `iam_role`:  `role_arn` is the ARN of the role CloudFormation (not Sceptre) should use to handle (create, update, delete) the stack resources.

@ngfgrant Could you give more details about the cross-account feature when it comes to profiles? How does a profile enable Sceptre to do cross accoun

[2019-02-01 22:32] SmoothGlide commented on #571
@seddarj As far as I can tell, the profile simply uses IAM keys

[2019-02-01 23:33] zaro0508 commented on #615
Ahh, i didn't realize that.  I just gave it a try but do not feel that it's the same as what was requested in issue #611   The request in that issue is an interactive channel for discussion like a real (synchronous) conversation.  The Github discussion feature is more like a mailing list, akin to google groups, which is good for asynchronous communications.

[2019-02-03 23:40] m1keil commented on #615
That's great news. I'm definitely keen on all of the above.

[2019-02-04 01:59] m1keil commented on #558
An easy way to reproduce:

template.yaml
[code]

config.yaml
[code]

stack1.yaml
[code]

stack2.yaml
[code]

[2019-02-04 02:02] m1keil commented on #550
This issue happens with both stack_output & stack_output_external resolvers.

[2019-02-04 04:00] m1keil opened #621 "Sceptre returns stacktrace if credentials are missing"
With very simple stack that doesn't contain the `profile` or any AWS keys under ~/.aws/config or envars:

[code]

The issue is the log line in line number 134 in `connection_manager.py` which assumes `session.get_credentials()` is never `None`:

[code]

Adding a quick `if session.get_credentials() is not None` seem to solve this one. Let me know if I should PR that.

[2019-02-04 04:51] m1keil opened #622 "Adding official py3.7 support"
3.7 was released more than 6 months ago. 3.8 is scheduled to be released in October. Personally, I've been using Sceptre v2 with 3.7 for few months now without any issues. Is it time to add py37 to tox?

[2019-02-04 08:41] ngfgrant commented on #609
I think it would be better to keep the try/except but we could potentially handle the except better.

[2019-02-04 08:43] ngfgrant commented on #621
👍  yes please @m1keil :)

[2019-02-04 09:02] ngfgrant opened #623 "Improve exception handling for KeyErrors"
# CONTEXT

If a required key is missing from a stack or config file and Sceptre attempts to load the config or stack the user is presented with a KeyError.

[code]

Required keys are detailed in the dicts: https://github.com/cloudreach/sceptre/blob/master/sceptre/config/reader.py#L54

and

https://github.com/cloudreach/sceptre/blob/master/sceptre/config/reader.py#L66

# DONE WHEN

Instead of a Key

[2019-02-05 01:30] m1keil commented on #609
What do you have in mind? I believe currently in most places around Sceptre currently credentials exceptions are just left to go all the way up.

Maybe best way is to catch credentials related exceptions all the way at the top somewhere in the CLI, instead of handling it on each action individually?

[2019-02-05 11:37] ngfgrant commented on #622
Hey @m1keil if you could try add 3.7 to tox and run tests, if everything passes then I am happy to add official support for 3.7. If there are things that are breaking then for v2 we will support >=2.7-3.6 for now. Plan is to drop Py2 for v3.

[2019-02-05 11:46] ngfgrant commented on #609
I'd prefer to catch as soon as we can within the core API rather than CLI so that those using sceptre as a module will benefit too.

Probably makes sense to add the check in somewhere in `connection_manager.py` (https://github.com/cloudreach/sceptre/blob/master/sceptre/connection_manager.py). Just a quick look at that file I can see a couple of areas where we can improve things. Maybe in the insta

[2019-02-05 17:06] zaro0508 opened #624 "Reference stack_name from stack config"
I have a jinja template and would like to pass the stack_name to the template.  The only way to do this is to pass it in with a sceptre_user_data key.  Since it's already defined in each stack config it would be nice to be able to reference the stack_name instead of having to define multiple times.  This also applies to passing it to any plugin like hooks and parameters.

This works `template/test

[2019-02-06 14:23] aduzsardi opened #627 "Ref SecuityGroup id's that will be created by the template in yaml config ?"
Hi,
I would like to define all the securitygroup rules in a config file for a stack , the problem is that beside the regular cidr,ports allow/deny rules i would like to also add the rules that will reference the security groups that will be created by this stack/template.

Is this possible ?

i.e.
[code]
is this possible with sceptre configs ?

Thank you!

[2019-02-06 14:30] 1oglop1 commented on #627
This depends on your template, but it is possible to write template using python and `troposphere` to do so. All you need to do is to check for `SourceSecurityGroupId` and then process the reference.

[2019-02-06 15:46] aduzsardi commented on #627
The template is python and yes , i know you can reference the security group using troposphere's `Ref` class but i wonder if there's some kind of trick to add the security group that will be created in the stacks's config file instead

let's say have some rules in mystack.yaml
[code]
i want to iterate over this rules with a `AWS::EC2::SecurityGroupIngress` resource and where `my-sec-group-name` wi

[2019-02-06 21:29] zaro0508 commented on #564
This use case is not supported with sceptre core.  It will probably require a custom hook.  I would image that you can enumerate all the dependent stacks in the hook then turn off protection in a `before_create` or `before_update` hook call.  Once the stack is deployed you can turn protection back on in `after_create` or `after_update` hook call.

[code]

Take a look at https://github.com/zaro0508

[2019-02-06 21:36] sopeters commented on #564
Thanks - will have a look and see if I can extend the hook.

[2019-02-06 21:49] zaro0508 commented on #624
related to issue #355

[2019-02-06 21:58] zaro0508 commented on #219
This is related to issue #279
sceptre-date-resolver has been implemented in issue #608 which may help with this issue.

[2019-02-06 22:15] jamielennox commented on #575
I hit this issue because I did `sceptre launch config/dev` instead of `sceptre launch dev` and so it didn't find the right template. This should be a pretty easy stack not found message.

[2019-02-07 00:27] ngfgrant commented on #575
Yep
https://github.com/cloudreach/sceptre/commit/244288ea25274db4a542eacff489fb6f26cc98aa resolves this. Will be released in 2.0.3.

[2019-02-07 05:16] sopeters commented on #564
Hi @zaro0508 - The hook deals with StackProtection in AWS.

I'm referencing to sceptre/sceptre/plan/actions.py -> def _protect_execution(self) which checks the config parameter "protect: true" and prevents create, update and launch.

Any dependent stacks that reference any output will fail to execute (I believe already when building the plan).

[2019-02-07 16:29] mMeijden opened #628 "adding template_bucket_name to the config throws error"
Im currently running into an issue that when i provide the **template_bucket_name** param the stack creation fails:

`An error occurred (ValidationError) when calling the CreateStack operation: TemplateURL must be an Amazon S3 URL.`

Result is that it won't trigger cloudformation to deploy the stack. However, when i look inside the bucket the cloudformation template has been stored there.

If I do

[2019-02-07 16:44] ngfgrant commented on #628
Ok might be an AWS thing.

Could you check the name is valid (no spaces or anything at the end): https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-s3-bucket-naming-requirements.html

and that the name is globally unique (i.e. not just your account).

It is probably the latter that is the issue. Could you try add a bunch of random numbers and letters to your custom name?

[2019-02-07 16:56] mMeijden commented on #628
The bucket name is globally unique and it's a valid one.
The bucket already exists and i'm able to upload files to it through the cli

I've added 123 to the end of the bucket name and ran the script again.

Result is still the validation error but sceptre created the bucket and also uploaded the file into the bucket

[2019-02-07 17:22] ngfgrant commented on #628
What sceptre command are you running? Just thinking if you are running `sceptre create` then it might be worth trying `sceptre launch`

[2019-02-07 22:06] zaro0508 commented on #624
My workaround for this issue is to create the [sceptre-identity-resolver](https://github.com/zaro0508/sceptre-identity-resolver)

[2019-02-07 23:06] myoung34 commented on #329
I'm currently using v2 (newbie here) but i dont see any way to get outputs during a hook.

`self.stack.sceptre_user_data` is empty dict `{}`

my yaml:

[code]

[2019-02-09 11:32] devenney commented on #623
I've been playing around with this to determine the best solution - ideally one which will adapt to the addition/removal of mandatory keys. However I've got a few questions:

1. Is it intentional that all configuration (that is, both stack and stack group config) can be stored in a single file? I had been differentiating these in my error messages such that the user knew which type of configuratio

[2019-02-09 22:40] devenney commented on #622
I tinkered with this a bit when I was getting set up. For what it's worth, the only issues I experienced were with the test dependencies:

* `freezegun` has to be upgraded to 0.3.11.
* `moto` has to be upgraded to 1.3.7.

There is an outstanding deprecation warning coming from `PyYAML` which is covered by [PyYAML #202](https://github.com/yaml/pyyaml/issues/202). This either pollutes Sceptre output

[2019-02-10 08:49] aduzsardi commented on #627
I figured it out , if anybody is interested i'll add an example

[2019-02-11 16:56] mMeijden commented on #628
@ngfgrant Sorry for the late reply.
But i'm running sceptre create. I've tried your suggestion but without any luck, I still get the Validation error

[2019-02-11 22:13] dennisconrad opened #630 "'--output yaml' outputs non-YAML Types as Python Objects"
`--output yaml` outputs non-YAML types as Python objects.  For example:

[code]

Since the output will never be a Python object, it should be printed as plain YAML.

Note: tested with Python 2.7.15

[2019-02-11 22:15] dennisconrad commented on #630
PR https://github.com/cloudreach/sceptre/pull/631

[2019-02-11 23:55] waderobson opened #632 "before_update hook always runs"
Hi I just ran across some unexpected behavior today.

After I've deploy a stack(create) the `before_update` hook runs even if there are no updates to perform..
The `after_update` hook however, only runs if there is updates performed.

Is this intended behavior?

[code]

[code]

[2019-02-12 12:46] #575 closed

[2019-02-12 14:58] zaro0508 commented on #632
The docs are not real clear but I believe the intended behavior is that hooks should only execute when there are stack updates.  I have confirmed that all hooks behave this way except for the `before_update` hook which seems to run even if there there are no stack updates.  I believe this is inconsistent behavior and should be a bug.

[2019-02-12 17:17] waderobson commented on #632
That's my take too.
[The examples](https://github.com/cloudreach/sceptre/blob/1cb1d003d872aa5039d3444b6c65e5f186531620/docs/docs/hooks.md#examples) suggest that you can run the provided asg hook before, to `suspend` and  and after,  to `resume`. This would create a problem if you're suspending all the time but only resuming if the stack had an update.

I'll try and dig into this more and see if th

[2019-02-13 13:21] mMeijden commented on #628
I've ran the same commands on a MacBook. I do not have the issue here. So it's probably a Windows issue.

I think it's related to the forward and backward slashes but I cannot confirm. This slashes problem is related to #575 and should be fixed in 2.0.3 right?

[2019-02-13 14:07] ngfgrant commented on #628
Yep @mMeijden almost certainly related to #535

[2019-02-13 21:30] ryanpagel commented on #566
@ngfgrant Any idea when 2.0.3 will be released?

[2019-02-14 13:02] et304383 commented on #615
So, you're going to try to be Terraform now?

[2019-02-14 13:06] et304383 commented on #554
Is this behaviour going to be restored in any way?  If not, then Sceptre, for us, will be forever stuck at version 1.x and/or we'll have to switch to another product.  :(

[2019-02-14 13:40] ngfgrant commented on #615
@et304383 not really, just trying to make it easier for people to contribute to the areas they are interested in, with less blockers. Pretty standard approach to a GitHub org :)

If you want to draw a comparison to Terraform then I guess you could say we are going to take a cloud-native approach to IaC offering all the advantages of the current project just on the other cloud providers.

[2019-02-14 13:43] ngfgrant commented on #554
Hey @et304383 don't know yet - there have been other more pressing things. Obviously, I want every one to feel that they can continue to use the tool. I am happy to review a PR for this if someone is willing to take a stab at it? It's still on my radar to look at but at this moment I can't make any promises that we can definitely bring it back; would need to see what was changed in more detail.

[2019-02-14 14:49] et304383 commented on #575
Getting this error when using a symlink for the config path.

[code]

So sceptre 2 broke symlinks on config dirs too?  My goodness, V2 is less than ideal.

[2019-02-14 14:57] et304383 opened #633 "Migration guide V1 to V2 is unclear on how to access stack [group] config"
https://github.com/cloudreach/sceptre/wiki/Migration-Guide:-V1-to-V2#stackgroup-config

I don't even know where to begin.  This section is so poorly worded and back and forth that I cannot figure out how to correctly reference these variables in stack config files or templates.

How does one reference project_code in a jinja2 template?  None of these work:
* {{ project_code }}
* {{ stack.project_c

[2019-02-14 15:04] et304383 opened #634 "Symlinks with stack group config doesn't work"
[code]

This worked fine in sceptre 1.  We do this because most test environments are identical except for the environment name (stack group name).

[2019-02-14 15:16] ngfgrant commented on #634
An immediate fix for this would be to reset your symbolic links using their absolute path. I will see if we can fix for relative paths later although Sceptre path handling now bases itself off of absolute paths.

[2019-02-14 15:18] et304383 commented on #634
Huh?  You're saying, just don't use symlinks is the solution to symlinks being broken?

What changed in V2 to break this?

[2019-02-14 15:20] ngfgrant commented on #634
no I mean you can use symbolic links but you will need to potentially re-add them but instead of using relative paths using the abs path. Example:

[code]

[2019-02-14 15:30] vaneek commented on #634
That sounds like a bit of a kludge and will break any portability and automation. I use sceptre in codebuild and have no desire determine and rewrite links everytime a checkout and build is performed.
I may revert back to using Makefiles.

[2019-02-14 15:37] ngfgrant commented on #634
Will definitely investigate this further - it is likely to be some python path shenanigans.

[2019-02-14 16:50] davidtaddei commented on #634
@et304383 could you possibly provide your OS version and exact python version down to the patch level please? This may help others reproduce the issue. I have attempted your setup in MacOS and it seems to work. I also tried symbolically linking individual yaml files which also worked. I'll check my exact python version and get an inventory of everything in my virtual environment. Thanks!

[2019-02-14 16:53] et304383 commented on #634
Ubuntu 18.04

I'm using a virtualenv:

[code]

[2019-02-14 20:01] ralthi commented on #627
Yes, Please add a sample

[2019-02-15 08:10] davidtaddei commented on #633
@et304383 I don't believe you are meant to reference them in a jinja2 template, rather you can use them in the stack definition (which works) for example:

[code]
We can certainly update the docs around template types etc to try and make it clearer, if you have any specific suggestions for what would make it clearer for you I'm sure it would be well received. 👍

[2019-02-15 09:14] ngfgrant commented on #630
resolved by #631

[2019-02-15 09:14] #630 closed

[2019-02-15 09:14] ngfgrant commented on #634
resolved by #635

[2019-02-15 09:14] #634 closed

[2019-02-15 11:20] ngfgrant opened #637 "2.0.3 Released"
# 2.0.3 Now Available

v2.0.3 has been released and is now available to use. Below is the change log for this release.

Hoping to follow up very shortly with 2.1 which contains a few issues that have spilled over from the original 2.0.3 plan see https://github.com/cloudreach/sceptre/milestone/5

### Fixed

- Fix ConfigReader to follow symbolic links.

- Fix output of `--output yaml` with Python ob

[2019-02-15 11:20] #597 closed

[2019-02-15 11:38] SaMnCo opened #638 "variables are processed at the project level"
Good morning all! First of all thanks for building this tool, it's been very good to us and made my life much much easier.

I am now working on the migration from v1 to v2, and there is a change that is due to the global "graph" approach taken in v2 that impacts us negatively, and I am not sure if it is intended or not.

Basically, I have a number of stacks in my Stack Group, and some of them have

[2019-02-15 11:41] ngfgrant commented on #638
Hey @SaMnCo really glad to hear that you are getting value for the project. Thanks for highlighting this and explaining well. I will look into see if there is a way we can scope vars scoped to the stack. 👍

[2019-02-15 12:05] et304383 commented on #633
The docs literally say:

"In version 2 you would access these in a Template like:"

Keyword: **Template**

Still looking for clarity on stack, stack_config, stack_group_config.  Where are these exposed/used?  What is referenced in a template?  Is it still just sceptre_user_data ?

[2019-02-15 12:50] ngfgrant commented on #633
I've updated the Migration Guide to be clearer on this. As you said the word "Template" is confusing so that has been change to "stack config".

You can still reference `sceptre_user_data` in template.

[2019-02-15 13:05] m1keil commented on #609
aight sounds like a good idea. I'll check the code and see if I can make a PR.

[2019-02-15 17:44] aduzsardi commented on #627
i've pushed an example here https://github.com/aduzsardi/sceptre-example
of course you could create some wrapper functions to deal with different parameter series or ingress vs egress (inbound , outbound)
Also if `IpProtocol` = `-1` ,  **FromPort** and **ToPort** should not be specified as parameters for ingress or egress rules (it will work , but it will be seen as drifted if you check the drif s

[2019-02-16 05:47] ryanpagel opened #639 "Converting yaml to json"
This is just a question... Is there a way to convert JSON to YAML as part of the template generation process?  I am writing AWS State Machine language as part of a stack and it has to be written in JSON but YAML would make it much easier to work with.  Here is an example...

![image](https://user-images.githubusercontent.com/805791/52895162-2e0fbd80-317c-11e9-9dda-837e9c268bce.png)

You can see th

[2019-02-16 07:41] 1oglop1 commented on #639
can you share your `template` and `stack_config.yaml` file?
It should be possible to write just yaml, we solved this by loading state `.json` file directly into a template written in troposphere.

[2019-02-16 16:32] ryanpagel commented on #639
@1oglop1  We don't use troposphere for our templates.  We just use YAML templates with some Jinja2 (.j2 file extensions) for loops and conditions.  Our `stack_configs` are passing values through `sceptre_user_data`.   The screenshot in my above comment is part of one of our templates.
I'm going to try what you you suggested and pass a yaml file in through the `sceptre_user_data`.  It looks like yo

[2019-02-16 17:23] ngfgrant commented on #639
You could use `sceptre --output yaml generate PATH/TO/STACK-OR-STACKGROUP` might get you most of the way there.

[2019-02-16 17:24] ryanpagel commented on #639
I gave this a try and it work but has a couple limitations that are deal-breakers for us:

- the JSON it generates is not standard JSON that CloudFormation is happy with.  For example it replaces `null` values with the word "None" in double-quotes; it uses single-quotes for all JSON property names and values; it capitalizes the word `true` to `True`.
- by passing the yaml-converted JSON string thr

[2019-02-16 17:32] ryanpagel commented on #639
@ngfgrant I want to be able to define my AWS State Machine in YAML but have it converted to JSON when running `sceptre update`, etc.   Would that help me with that?

[2019-02-16 19:02] ryanpagel commented on #558
Any idea when this might get released?  We make heave use of `stack_output_external` so this issue is preventing us from upgrading to sceptre 2.x.

[2019-02-16 19:20] ngfgrant commented on #639
Ok you might want to look into a custom `before_update` hook (https://sceptre.cloudreach.com/latest/docs/hooks.html) that uses a library to parse your yaml to json at runtime. Not sure this would 100% work but would be worth a shot.

[2019-02-16 19:28] ryanpagel commented on #639
@ngfgrant  Thanks, I'll look into that.  Since I'm still on sceptre 1.x does the current hooks documentation still apply?

[2019-02-16 20:40] ngfgrant commented on #639
Best to use the docs in the v1 branch in that case.

[2019-02-17 05:21] jmsuzuki opened #640 "Providing Meaning Errors when launching a stack group"
When launching stack groups, if one of the stack config's templates is invalid, meaningful errors are not bubble up.

I have to launch the specific template to get error that needs to be fixed.
Finding the specific template to launch to get the error back can be frustrating and time consuming with multiple templates.

[code]

[2019-02-17 07:11] 1oglop1 commented on #639
@ryanpagel just in case here is a link https://github.com/cloudreach/sceptre/blob/v1/docs/docs/hooks.md
Or you could also try to write custom resolver
because resolver has access to the `stack_congfig`.

then you could process `stack_config.yaml` in similar way
[code]

`secptre.ResolvableProperty` - will enable you to use other resolvers in STM definition
`resolved_values` - will contain python ob

[2019-02-18 06:09] ryanpagel commented on #639
@1oglop1 It appears that in sceptre 1.x we don't have access to the stack object from a custom hook.  We'll probably wait until we are able to upgrade to 2.x and take another look at that time.    In sceptre 2.x is it possible to actually change the content of the generated template before it is uploaded within a custom hook?

[2019-02-18 06:57] 1oglop1 commented on #639
The provided sample is exactly what am I using in `sceptre 1.4.2`.
the `self.stack_config` is only accessible inside `resolve()` method.
I will provide you a little broader example how do I imagine it could work

[2019-02-18 07:42] 1oglop1 commented on #639
@ryanpagel

Here is a more complete example how I see it could work, it's not perfect but should do the job
https://gist.github.com/1oglop1/9aadac1a5185129a1891bc0bcf843757

I did not test it, but CFN should not have anything agains as `DefinitionString` is a string.

`recursive_get` function allows nested structure in `state_machines` definition in case you want to produce more than 1 within the

[2019-02-20 15:51] dmegyesi opened #641 "Variable precedence is not respected if using dicts"
First of all, many thanks for your work on this project, it's an amazing tool!

I encountered an issue regarding variable precedence and I would like to clarify it. If this is a 'works as designed' case, I think it would be nice to highlight it in the documentation because it was not very clear.

My use-case:
- I'm using a `--var-file` + additionally override some variables with `--var` in the CLI

[2019-02-21 13:42] vlatko-onica opened #642 "Spelling mistakes in documentation"
"This configuration will be used by the **create, update, and create commands**. "

"A custom **name name** to use instead of the Sceptre default."

[2019-02-21 15:25] 1oglop1 commented on #642
@vlatko-onica Thanks for reporting it!

@ngfgrant I will fix this in my branch for new version of docs

both errors seems to come from `stack_config`

I fixed
`A custom name name to use instead of the Sceptre default.` ->
`A custom name to use instead of the Sceptre default.`

However I'm not entirely sure about
`This configuration will be used by the create, update, and create commands. ` ->
`Thi

[2019-02-25 01:31] edstafford opened #643 "AWS profile with role_arn does not appear to work."
My apologies for raising this as an issue as I'm not sure if this is intended or if I've lost the plot somewhere.

Given an IAM user in a group with a policy of trusted account roles (which works on switching accounts and assuming roles on the cli) I then have a 2nd service role for cloudformation which I'm attempting to use for stack creation.

My assumption is that by specifying the `profile` an

[2019-02-25 14:26] h1f1x opened #644 "Is there a reason to pin colorama?"
After upgrading my python env (3.6) with pip (pip3 install --upgrade boto3 awscli), sceptre don't run anymore (see below).
Is there a reason why to pin the colorama version to exactly one (old) version?

sceptre --dir cfn/ launch -y dev

[2019-02-26 07:33] ngfgrant commented on #644
Hey @h1f1x - generally the reason to pin an exact pre 1.0.0 version of a package is that there is no guarantee of backward compatible changes between versions. In this case I think we should be ok to update to 0.3.9 but would need to test etc.

[2019-02-26 07:37] ngfgrant commented on #628
Going to close this as it is related to #535

[2019-02-26 07:37] #628 closed

[2019-02-26 07:41] ngfgrant commented on #622
@devenney thanks - going to update this anyway. Also going to evaluate moving from PyYaml in favour of ruamel as it is better maintained and PyYaml.

[2019-02-26 15:36] h1f1x commented on #644
Tahnks @ngfgrant. Isn't this covered by tests in tests/ ;)

[2019-02-26 17:52] pwrmiller commented on #617
I've submitted a PR (see above) for the specification of an alternative 'config' path. This allows for multiple configurations in the same project with different paths (this is useful if many projects are using the same templates in the same repository).

[2019-02-27 09:15] ngfgrant commented on #644
Parts of the output from the library are covered in some tests but it still doesn't negate the better practice of pinned unstable APIs. I'll pop in a PR to update this to 0.3.9.

[2019-02-27 11:16] SaMnCo commented on #638
Morning! As I am moving further into v2, this issue is actually a big struggle. I got into another issue that seems related.

Figure a config folder structured as:

[code]

Now the app.yaml depends on queues.yaml, which I indicate in the config yaml via

[code]

When I try to deploy the WAF via

[code]

I get

[code]

As you can see in the KeyError, Sceptre is trying to locate the queues.yaml in t

[2019-02-27 19:54] et304383 commented on #543
Have these changes not been published?  I just ran into the same issue.

https://sceptre.cloudreach.com/latest/docs/resolvers.html

This still states that connection_manager is an attribute of self.

[2019-02-27 20:11] et304383 opened #650 "V2: cannot reference stack output against another stack using variables for command_path"
config/common/networking.yaml:

[code]

config/common/ec2.yaml:

[code]

If I run this to create the ec2 stack, it gets into a circular reference issue and craps out (tail end of output):

[code]

If I change networking.yaml and hard code environment to `common` instead of `command_path.0` it works.

Yet again, this was never an issue under V1.  Still trying to figure out what problems V2 solved.

[2019-02-27 20:56] ngfgrant commented on #650
Hey @et304383 sorry you are running into issues migrating - obviously that is not what I or anyone involved in project wants. This specific issue is known and is related to #550 and #558 so I am going to close this issue.

[2019-02-27 20:56] #650 closed

[2019-02-28 08:02] ngfgrant commented on #640
Better, more useful error reporting is definitely something that has been front of mind. I think we probably need to adjust the response structure from `executor` or `actions` such that they are able to capture the response and any errors e.g.
[code]

Worth having a discussion on this point because we will apply the solution across the whole project.

[2019-02-28 08:32] h1f1x commented on #644
Thanks! :)

[2019-02-28 09:09] #633 closed

[2019-02-28 09:17] ngfgrant commented on #613
Closing as this is tracked in #618

[2019-02-28 09:17] #613 closed

[2019-02-28 13:33] pwrmiller opened #651 "Allow for a default in stack_output resolver"
Currently the stack_output resolver does not support a default, raising `DependencyStackMissingOutputError` if an output parameter is not found.

Consider modifying the stack_output resolver to add an additional parameter specifying a default if the output parameter is not found.

The other option we have would be to make sceptre parameters conditional by adding a jinja2 filter like Ansible's `omi

[2019-02-28 17:54] mobee-pdufresne commented on #643
Hi there

I'm currently having the same issue.  Attempting cross-account role based deployment.

I pass the profile name with --var "profile=profile_name" in the CLI. Regardless of the value passed, the profile (or something) is not taken into account it seems, the deployment is done in the same account as the EC2 instance instead of the intended destination account.

Using AWS CLI, can deploy a s

[2019-03-01 09:30] #324 closed

[2019-03-01 09:30] #623 closed

[2019-03-01 09:30] #644 closed

[2019-03-01 10:00] ngfgrant opened #653 "2.1.0 Released"
# 2.1.0 Now Available

v2.1.0 has been released and is now available to use. Below is the change log for this release.

# Added

- Support for SAM templates.

- Improve handling of missing config attributes.

# Nonfunctional

- Update colorama dependency version.

- Fix circleci build

[2019-03-01 10:00] #637 closed

[2019-03-01 15:32] mike-rsi commented on #531
I noticed this got bumped from the last two releases. Is there a complication with the solution? Anything I can do to help? I've really been waiting for this one.  Thanks.

[2019-03-02 16:39] ngfgrant commented on #531
@mike-rsi would be really useful to get some help with this, I've not got a windows box so testing this properly has been a bit slow. As you noticed it has been a couple of months since I was last able to look at this.

Looking at my commits so far I think I was trying to go for the following:

- when sceptre interacts with the file system and stores paths we should use `os.sep` which will give us

[2019-03-03 09:12] aduzsardi opened #656 "Jinja variables in yaml config files"
It would be nice if we could use jinja variables in yaml files to avoid repetition

[code]

by the way , does sceptre support yaml anchoring in config files ?

[2019-03-04 09:18] ngfgrant commented on #483
Closing as not heard back, reopen if the issue persists.

[2019-03-04 09:18] #483 closed

[2019-03-05 21:09] zaro0508 commented on #651
This does seems like a useful feature.    The other option, which i've been using, is to add the parameter to your CF template and set a default value there.

[2019-03-05 21:17] zaro0508 commented on #656
I believe yaml anchoring should be independent of sceptre.  sceptre uses pyaml to parse yaml so as long as pyaml library supports anchoring then it should be available.

In general, this request does seem like a useful feature.  In this use case I believe you can move some_dict to config yaml and reference it in the template yaml multiple times.

[2019-03-06 05:09] luketn opened #658 "Generate Command"
Tried to run:
[code]

Fails to write the generated template (no error message).

Without the output statement it writes a strange array of resources which are escaped.

[2019-03-06 06:52] maheshbisl commented on #658
$ sceptre --output yaml generate ap-southeast-1/waf.yaml
/usr/local/lib/python3.7/site-packages/yaml/constructor.py:126: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  if not isinstance(key, collections.Hashable):
An error occured whilst writing the YAML object.
An error occured whilst writing th

[2019-03-06 12:08] et304383 commented on #574
Is this available yet?  Many of us will not be moving to V2 so having access to V1 documentation is crucial.

[2019-03-06 13:04] ngfgrant commented on #574
@et304383 You can see from the 2.1.1 Milestone, the Project Board and the PR that this is "In Review" at the moment. Review comments have been made and are being addressed by @1oglop1 when he's got time.

[2019-03-06 14:36] jeshan commented on #324
@theseanything

Not available as at 2.1.0, right? (inline code works though)
Where are we tracking the relevant issue?

[2019-03-12 06:14] aduzsardi commented on #656
yes i could, it's just that i would like to keep only global variables in config.yaml , it's not always the case, sometimes you have stack specific option that you keep reppeting

thanks for the input though , i actually went with a stackgroup config yaml for now :)

[2019-03-12 08:13] ngfgrant commented on #658
Hey @luketn and @maheshbisl

I can't seem to reproduce this. @luketn could you try using `.yaml` instead of `.yml`?

@maheshbisl could you try copy and paste `ap-southeast-1/waf.yaml` into an online yaml validator or use a library to check that your file contains valid yaml?

If possible could you share the `ap-southeast-1/waf.yaml` file (assuming it doesn't contain anything sensitive)?

[2019-03-12 08:17] maheshbisl commented on #658
Maheshs-MacBook-Pro:bentobox mbisl$ sceptre --output yaml generate ap-southeast-1/cloudtrail.yaml
/usr/local/lib/python3.7/site-packages/yaml/constructor.py:126: DeprecationWarning: Using or importing the ABCs from
'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  if not isinstance(key, collections.Hashable):
An error occured whilst writing the YAML o

[2019-03-12 08:18] maheshbisl commented on #658
Maheshs-MacBook-Pro:bentobox mbisl$ cat config/ap-southeast-1/cloudtrail.yaml
dependencies:
- ap-southeast-1/circleci-user.yaml
sceptre_user_data:
  Dependencies:
  - circleci-user
  HostedZoneName: meteorscout.org
  Subnets: 2
  fileName: /tmp/bentobox/templates/cloudtrail_ap-southeast-1_realised.yaml
  region: ap-southeast-1
  sceptre_stack_group_dir: /tmp/bentobox/config/ap-southeast-1
  stack:

[2019-03-12 08:19] maheshbisl commented on #658
Maheshs-MacBook-Pro:bentobox mbisl$ cat templates/cloudtrail_ap-southeast-1_realised.yaml

AWSTemplateFormatVersion: 2010-09-09
Description: Cloudtrail by Bentobox

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: Trail Configuration
        Parameters:
          - EnableLogFileValidation
          - IncludeGlobalEvents
          - MultiRegion

[2019-03-12 08:20] maheshbisl commented on #658
@ngfgrant , please check the above three comments.

[2019-03-13 11:39] 1oglop1 opened #660 "Caching in CI for Docs 2.0"
At the moment Docs are always built from fresh clone.
Which might impact performance at some point.

Let's measure current implementation to see if we need to implement caching.

Details for implementation:

- require changes in `.circleci/github-pages.sh`
specifically `git` operations which would need to adapt based on the information whether it's fresh clone or update and handle corner cases to

[2019-03-13 12:27] aweiland commented on #95
Would you be able to share this?  I could use this today even if it's not in a final form.

[2019-03-14 03:04] DamianBis opened #662 "Cannot reference files from higher up in directory structure"
We have a use case where we would like to include some config that all stacks get..

See below for an example of how we set up. We'd like to have a vpc-base.yaml that is outside of the Dev/Test/etc folders, and then the VPC.yaml inside dev includes the vpc-base YAML file.

├── config
│   ├── vpc-base.yaml
│   └── dev
│    ...  ├── config.yaml
│    ...   └── vpc.yaml
│   └── test
│    ...   ├── con

[2019-03-14 07:33] 1oglop1 commented on #662
Yes this is because jinja `Environment` starts at `stack_config.yaml` I already proposed that it should start at project root as it does with all other frameworks

[2019-03-15 14:11] stolendog commented on #658
the same here

[2019-03-16 01:52] hampsterx commented on #349
kudos @zaro0508 looks like you solved this huh: https://github.com/zaro0508/sceptre-identity-resolver

would be great to have this included in sceptre :)

[2019-03-19 22:06] #349 closed

[2019-03-22 18:35] kirkhansen opened #663 "Add ability to create a new stack with change sets"
I would like to be able to use change sets on new stacks as well as existing stacks.

AWS/boto supports creating a new stack with change sets using the `ChangeSetType` keyword [see here for details](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/cloudformation.html#CloudFormation.Client.create_change_set).  To the untrained eye, it appears that updating the cli `create`

[2019-03-26 19:02] myoung34 opened #665 "Use non-prerelease version of Pyyaml"
Currently the pyyaml version in setup.py specifies `PyYaml>=4.2b1,<5.0` which are all set as pre-release.

This causes problems with things that care about pre-release (like Pipenv etc).

Is it possible to pin to non-pre version 5.1 of PyYaml?

[2019-03-26 21:38] akamel001 commented on #658
Getting the same issue here.

[2019-03-29 11:00] chris-h-barrett commented on #558
I would echo @ryanpagel 's comment - this is blocking our upgrade to v2 sceptre, and given the timelines on end-of-support for v1 I'd ideally like to start our upgrade sooner than the 2.1.1 milestone is currently scheduled (end of April). If this was to be released sooner I would be very happy!

[2019-03-30 22:51] SmoothGlide commented on #256
Forgetting environments, is there an easy way to have several stacks share a common set of parameters plus some stack specific ones?  That would go a long way.  For example, if parameters could be stored in the config.yaml for a stack group all of those parameters could be used by all the stacks in the group.

[2019-04-01 10:47] cristiangauma commented on #658
Same here. We have not been able to create Yaml or Json outputs for a while. Text output works properly.

We have created a script that converts text output to Yaml (using only sed), and it results with a well-formed yaml file.

Cloudformation validation works too, as all our templates are Yaml, so I guess it is the "sceptre --output" part the one that is creating a bad Yaml.

[2019-04-01 13:54] alytle commented on #640
This is causing me a great deal of grief currently, as I'm working on a project with a large number of stacks. I've had to resort to adding print statements within StackActions to find out which Stack is actually causing the error.

[2019-04-01 16:24] alytle opened #669 "Is it possible to inherit configurations?"
I have read through a bunch of issues about nested configs, but I'm not clear on whether I can do what I want to with sceptre currently.

I have a large project which has about 30 stacks. I've broken the configuration files up into an appropriate subfolder within config (/dev, /prod, /test, etc). The challenge is that since I have 4 environments, I need to maintain the configuration files independ

[2019-04-03 23:52] maheshbisl opened #670 "'sceptre delete' does not take the dependencies into account"
Thanks for the great product.

I would expect 'sceptre delete --yes <stack group>' to delete the stacks in the order of dependency.

Otherwise, the deletion fails because if we have used "Export" and "ImportValue".

Please look into fixing this.

Thanks again

[2019-04-04 13:31] mike-rsi commented on #669
You can do this by restructuring your config directory slightly.  Instead of having /dev, /prod, /test etc. just have one config directory for your project, and have every value that is different between environments set by a variable (e.g. `{{ var.env_name }}`) and have one variable file per environment that you pass in with a `--var-file` option (e.g. `sceptre --var-file dev.yaml launch <project

[2019-04-08 16:48] jfhamlin commented on #520
Hi folks, I'm curious about the status of this work. I'm working on moving from a self-maintained tool to sceptre, and change set support is one of the big missing features. I'd be happy to contribute if there's a clear plan of record. There are a few points of confusion for me right now (not all related to change sets, but good change set support would resolve all):

1. `sceptre update -c ...` si

[2019-04-09 10:39] nmyster opened #672 "Set output format at config.yaml Level"
Coming from using Sceptre v1 a lot to 2.0 I have noticed the move towards favouring text output as the default output_format rather than JSON as it was before.

It took me a little while to figure out that a lot of my commands looked broken as I was not setting an `--ouput` flag on my commands to JSON (or YAML) and since getting used to it, It has occurred to me that at a project level and even at

[2019-04-09 10:48] nmyster commented on #672
PR Raised to get this implemented. #673

[2019-04-09 19:03] cyphus opened #674 "Enhancement: Cache assume-role credentials across sceptre invocations"
Currently, sceptre (more specifically, botocore) will cache assume-role credentials in-memory for the duration of the process, allowing multiple sessions to be created against the same profile. Botocore added support in 2017 ([PR](https://github.com/boto/botocore/pull/1338/)) for persisting assume-role credentials in the filesystem, compatible with awscli. However, it is not enabled by default.

B

[2019-04-09 20:06] cczimskey commented on #665
We see similar behavior, as we also use pipenv to help segregate different projects.  Would be nice to have this updatd as above so pipenv install doesn't always fail on the required pyyaml version.

[2019-04-10 13:08] thomas-ncino opened #676 "Is Sceptre 'smart enough' to know when changes have been made?"
Hello! My team and I are evaluating Sceptre, and we wanted to know if using the `sceptre create` command would evaluate the current templates for changes. In the documentation, it states `Creates a stack or a change set.` -> does this imply that sceptre will automatically know if there has been changes?

[2019-04-10 13:13] craighurley commented on #674
For each environment, I tell sceptre which profile to use by setting the `profile` group_config item: https://sceptre.cloudreach.com/latest/docs/stack_group_config.html#profile

I use `aws-mfa` to manage credentials obtained from STS: https://github.com/broamski/aws-mfa

Before working on an environment or set of environments, I run `aws-mfa --profile PROFILE_NAME` for each environment then run `s

[2019-04-10 17:02] bootc commented on #643
It looks like I've run into the same issue. I have an IAM user that we use to drive Sceptre from our CI/CD setup; this user should use AssumeRole into the target account (which is different to the CI/CD user), and then launch stacks with yet another role for CloudFormation itself. The session output looks something like this:

[code]

Can this be fixed? Alternatively, does anyone have a workaround

[2019-04-11 01:40] jinwg opened #677 "Template format error: Unrecognized resource types: [AWS.yaml::EC2.yaml::InternetGateway]"
Just upgraded from 1.x to 2.1.0 with python 3.6 this afternoon then met this weird issue. all generated resource types is not correct at all.   anyone met this problem?
[code]

[2019-04-11 05:58] 1oglop1 commented on #677
How does your template and `stack_config` look?
This looks like an error in your template.

[2019-04-11 13:28] jinwg commented on #677
Thanks @1oglop1,  that is really my silly mistaken when migrating to 2.x..

[2019-04-11 13:28] #677 closed

[2019-04-11 13:53] 1oglop1 commented on #676
I don't think it's an automatic process.
However when you a `change set` Sceptre will prompt you the same way Cloudformation does about changes sets.
And you can evaluate whether you want to proceed with the execution of change set or not.
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-changesets.html

[2019-04-11 16:42] jinwg opened #678 "Update single stack in 2.x"
i understand  the update command is to allow user update single stack by resolving the dependent stack output without updating them as 1.x does, it is pretty useful feature when debug an specific stack issue.   in 2.x , sceptre seems try to update all dependent stacks but failed when no changes from its dependent stacks,  also tried  --ignore-dependencies but got the stopiteration exception.   if

[2019-04-11 19:05] jinwg commented on #324
how to use SAM template is really not clear, it seems we have to use the output generated by sam package command?

[2019-04-12 22:22] iAnomaly commented on #544
@sopeters, your issue is quite a few months old at this point so maybe you have already resolved it on your own. If not however, the cause of this is that `{{ }}` notation used by CloudFormation dynamic references clashes with Jinja's templating notation/syntax. Please see the [Jinja documentation section on escaping](http://jinja.pocoo.org/docs/2.10/templates/#escaping).

[2019-04-15 08:47] #622 closed

[2019-04-16 10:10] jeshan opened #680 "This is how I'm resolving runtime AWS values"
From time to time, I need to get some dynamic (runtime) value from AWS. A common use case is getting secure strings from Systems Manager. But there are other use cases, like getting current user role, looking for a certain EC2 instance, etc. The common way that people are solving is by creating a PyPI package for each resolver.

I'm thinking that there will be many more like this and such solution

[2019-04-16 13:08] ngfgrant commented on #676
Hey @thomas-ncino the create command is as follows:

`sceptre create [OPTIONS] PATH [CHANGE_SET_NAME]`

which means if you specify a change set name as part of the command then it will create a change-set which you can then later execute with the `execute` command.

Hope that helps?

[2019-04-16 13:15] ngfgrant commented on #670
Hey @maheshbisl

Thanks for your kind feedback.

If I recall correctly we did implement delete to delete in order of dependency (implicit or explicit). Could you share an example of your setup? For me the deletion ordering works.

Cheers,
Niall

[2019-04-16 13:40] ngfgrant commented on #665
Thanks for your patience on this everyone.

The background to this is that a vulnerability was discovered in PyYaml (https://github.com/yaml/pyyaml/issues/243)

There was a plan in the PyYaml community to do a 4.2 release (https://github.com/yaml/pyyaml/issues/193) although it appears they've needed to release a major version with some backward incompatible changes (https://github.com/yaml/pyyaml/

[2019-04-16 13:54] ngfgrant commented on #550
Closing to track on #558.

[2019-04-16 13:54] #550 closed

[2019-04-16 16:50] remiadon opened #682 "Support for lambda layers"
I am currently working on a project using sceptre.
We have many lambda functions, a majority of them relying on basic blocks (custom python classes, connections to databases, etc..)

For this purpose what we like to do is to use `lambda layers`.

For the moment the only solution we have is to `set the layers manually` for each lambda function ...
Ideally we would like to be able to `specify which

[2019-04-16 16:57] jfhamlin opened #683 "Enhancement: Show diff (and change set details) before updating a stack"
# Current Behavior

Today, when a user runs a command to update a stack, they see a prompt like this:

[code]

While the user's goal might be to get `prod/vpc` into some new state, this isn't really enough information for her to confidently answer in the affirmative. There are many reasons the answer could be "N," even when trying to make a change:

1. The user hasn't checked out the latest versio

[2019-04-16 17:20] jfhamlin commented on #683
@ngfgrant, let me know your thoughts on this! I'm turning some of the points in https://github.com/cloudreach/sceptre/issues/520#issuecomment-480911084 into enhancement proposals.

[2019-04-17 10:45] remiadon commented on #682
Actually this can handled directly in Cloud Formation, closing this

[2019-04-17 10:45] #682 closed

[2019-04-17 17:55] cczimskey opened #684 "Documentation for Custom Hooks is incorrect"
The current custom hook documentation in these locations is not valid for Sceptre v2:
https://github.com/cloudreach/sceptre/blob/master/docs/docs/hooks.md
https://github.com/cloudreach/sceptre/wiki/Migration-Guide:-V1-to-V2

Still shown in the code example:
[code]

We are migrating from v1 -> 2 and having to redo all of our hooks and resolvers.  Trying to call:
`self.stack_config['parameter']['<va

[2019-04-17 19:01] tabuchid commented on #684
@cczimskey I put up a PR awhile back for this. Does https://github.com/cloudreach/sceptre/pull/664 handle this for you?

[2019-04-17 19:43] thomas-ncino commented on #676
Thanks @1oglop1 and @ngfgrant for your help!

[2019-04-17 19:43] #676 closed

[2019-04-17 20:17] cczimskey commented on #684
That would probably work, thanks!

[2019-04-18 07:23] 1oglop1 commented on #684
Thanks,
 I'll look into it once we merge #655

[2019-04-22 02:27] m1keil commented on #653
Hey,
What does "Support for SAM templates" means? I couldn't find anything in the docs. I would be happy to contribute these. But I sort of need to understand what sort of support was added.
Does it mean that sceptre will work business as usual with SAM templates? What was the issue stopping it from working? Was that IAM capabilities or anything else?

Cheers

[2019-04-22 02:46] m1keil opened #686 "makefile circular dependency"
Git clonning sceptre into fresh directory and running `make install-dev` will fail because the `clean` command fails because of `docs-clean` which fails because of `sphinx-apidoc` is not found:

[code]

[2019-04-22 03:25] m1keil commented on #663
That's a good catch. I just started using change-sets myself and haven't realized that my workflow will break anytime I add a new environment to my configs in CI/CD.

Here's the error:
[code]

[2019-04-22 05:43] m1keil commented on #609
Sorry for the long period of no activity here, been a bit busy IRL.
I've been reviewing this today, here some of my notes:

Permission related error scenarios:
1. No `AWS_*` envars or profile supplied.
    `botocore.exceptions.NoCredentialsError: Unable to locate credentials` is raised.

2. Profile doesn't exist in `~/.aws/config` (no envars provided).
    `botocore.exceptions.ProfileNotFound: The

[2019-04-22 06:21] m1keil commented on #609
@ngfgrant  Submitted initial PR. Let me know if you think that's the way to go.

[2019-04-22 07:59] m1keil commented on #609
This will also fix #621

[2019-04-23 02:29] m1keil commented on #495
I know this is closed but I do wonder, maybe one day it will be possible to provide same variable a couple of times which will trigger a parallel deploy?

example:

    sceptre --var region=ap-southeast-2 --var region=ap-southeast-1 create ...

or at least make the region a special kind of variable.

[2019-04-23 10:16] ngfgrant commented on #531
@ryanpagel and @mike-rsi I have updated the branch `normalise-os-paths` (https://github.com/cloudreach/sceptre/tree/normalise-os-paths). Would either of you be willing to checkout the branch and test. Everything seemed to work well in my windows vm.

Cheers,
Niall

[2019-04-23 13:13] jmourelos commented on #662
The solution proposed by @1oglop1 sounds reasonable to me. If the maintainers are ok with the approach I could prepare a merge request.

[2019-04-23 16:40] #684 closed

[2019-04-23 16:40] #665 closed

[2019-04-25 08:22] jeshan commented on #680
@ngfgrant just wanted to make this known to the community. Should we close it now?

[2019-04-25 11:15] ngfgrant commented on #683
Hey @jfhamlin

I think this is currently possible with:

`sceptre create`
`sceptre describe` and
`sceptre execute`

I.e.

[code]

The #520 is a discussion about how best to make this process a bit more streamlined.

As for a `diff` command. I believe there was a command that existed in v1 at some point but was removed by a previous maintainer and I can't see the reasoning. My opinion on `diff` typ

[2019-04-25 12:00] grasum opened #688 "sceptre create returns code 1 and fails Jenkins pipelines"
Using sceptre 2.1.0 all create stack operations return the code 1 even though they are successfull and all resources are created.

This seems to be the case only with create. Update and delete work fine.

This is problematic when using Jenkins pipelines. Creating a resource in one pipeline stage will exit with code 1, failing the pipeline, before it can be finished. We implemented a workaround but

[2019-04-26 00:31] maheshbisl commented on #670
No worries. Thanks.

[2019-04-26 00:31] #670 closed

[2019-04-26 12:40] ngfgrant commented on #688
Hey @grasum

Could you check to see if this problem still exists with `launch` command - which acts as an "upsert" type of command. Our `create` command mimics aws and will fail if the resource already exists which might explain the issue you are describing?

I will look into this in the meantime to see if there is something more sinister at play ;)

[2019-04-26 13:57] networkpadawan opened #689 "template output location"
hi
is there a way to call the output stack json file before it´s uploaded to s3?
I would like to use something like a hook before_create and make validations on the template (cfn-lint, cfn-nag, ...)

[2019-04-26 14:36] ngfgrant commented on #658
I'll have a look at this - we are using PyYaml behind the scenes so there might be an issue there.

[2019-04-26 14:40] ngfgrant commented on #653
Hi @m1keil Yeh I think there was some additional parameters required to add SAM templates. The original issues were https://github.com/cloudreach/sceptre/issues/324.

I think a short example in the docs would be a worthy addition I reckon just a vanilla SAM template should work.

[2019-04-27 22:26] craighurley commented on #689
You can run `scepter generate` to print the template(s).  With that in mind, you could bake a script to lint/nag on commit/pull request or even on file change (e.g. using something like python [watchdog](https://github.com/gorakhargosh/watchdog)).

[2019-04-28 19:45] networkpadawan commented on #689
Sceptre generate could work thks:)
That part is what I’m doing with jenkins, it triggers on push to repo. Lint works for the bare template but would like something after the resolvers/outputs of variables are added to the templates but before creating the stack.

[2019-04-29 13:44] #531 closed

[2019-04-30 02:26] jfhamlin commented on #683
Thanks for the reply, @ngfgrant.

Even using all of these, if users are updating stacks from the command line at the end of this process, it's possible that:

- They forgot to pull the latest from the `master` branch of the repo with their templates
- Changes in some non-prod stack are live from a WIP branch, and the user doesn't want to clobber them
- The user forgot to examine the change set bef

[2019-04-30 07:04] laur1s opened #690 "launche sceptre template from s3"
I use sceptre to launch multiple stacks for dev/prod environments. However, one of the stacks is too long: ` templateBody' failed to satisfy constraint: Member must have length less than or equal to 51200 ` How can I use sceptre from s3 to solve this issue?

The template I have is a jinja file where I populate the permissions policy with a for loop. That's why it's quite long

[2019-04-30 07:58] laur1s commented on #690
I also tried to run `sceptre generate EC/TEST/elasticsearch.yaml | aws s3 cp - s3://my-bucket/template.yaml` However, Sceptre generate produces malformed YAML file `['AWSTemplateFormatVersion: \'2010-09-09\'\nDescription: ElasticSearch dev service stack\n\nPara`

[2019-04-30 08:11] ngfgrant commented on #690
Hey @laur1s - sceptre should upload the template to s3 for you for this reason. What is the command you are using?

[2019-04-30 08:18] laur1s commented on #690
I use `sceptre launch`

[2019-04-30 08:26] ngfgrant commented on #690
Strange... Can you run `sceptre validate EC`?

[2019-04-30 08:38] laur1s commented on #690
It only produces error that the template is too long ` at 'templateBody' failed to satisfy constraint: Member must have length less than or equal to 51200` If I make my template shorter by removing some arguments from elasticsearch policy it works

[2019-04-30 09:39] craighurley commented on #690
@laur1s have you defined `template_bucket_name` in your [sceptre group config](https://sceptre.cloudreach.com/latest/docs/stack_group_config.html#template_bucket_name)?

[2019-04-30 09:50] ngfgrant commented on #690
@laur1s yes sorry got ahead of myself @craighurley is correct you will need to specify `template_bucket_name` - in this case it is probably the case it hasn't been specified.

[2019-04-30 13:46] ngfgrant commented on #683
The cli commands we have relating to Change Sets are:

[code]

These align with the stages of AWS Change Sets pretty well so will be kept (the image above and in #520 is from AWS). There will be workflows that we should not disrupt by assuming use-cases or joining up commands that are understood to do a specific thing and removing the existing commands.

I can see the benefit of what `diff` could

[2019-04-30 14:13] ngfgrant commented on #520
@jfhamlin I kno we are discussing the points above in more detail in #683 but just wanted to clarify for any future readers that sceptre has change-set support. This issue is just whether/how we should enable change-sets by default for the user.

[2019-04-30 14:17] ngfgrant commented on #680
Hey @jeshan - no please keep it open. I will definitely want to incorporate this at some point soon!

[2019-04-30 14:25] ngfgrant commented on #468
I am not entirely sure why this is the case - looks like it hasn't changed since the initial commit in v1. Probably a typo?

[2019-04-30 14:28] ngfgrant commented on #663
Yep I think we should support this. Also partly related to #520

[2019-04-30 14:40] Arlington1985 commented on #156
any info? Does anybody know how to specify PATH for Windows?

[2019-04-30 14:44] ngfgrant commented on #689
like @craighurley suggests `hooks` and `generate` probably your friends here within a script or utilise the API directly in another script.

[2019-04-30 14:54] grasum commented on #688
Hey
No, the problem does not exist when running with ''launch''. Thanks for the suggestion!

Although we'd prefer sometimes to launch stacks using 'create', because we had a lot of dependency issues (since upgrading to sceptre 2.x from 1.4.2 ) when running with ''launch''. We are still trying to sort those error out, but for the time being we mostly use 'create'. It would be great if that pesky re

[2019-04-30 14:57] ngfgrant commented on #688
@grasum I think we will keep the code as it is for now otherwise the `create` command will behave a bit like launch.

you could do `sceptre --ignore-dependencies launch <stack/stack_group>` and that will only launch a single stack or stack group.

[2019-04-30 14:58] ngfgrant commented on #662
Yep happy to see a PR for this.

[2019-04-30 15:14] ngfgrant commented on #156
@Arlington1985 - any sceptre/windows path stuff should be fixed in upcoming 2.1.1 release.

[2019-04-30 15:14] #156 closed

[2019-04-30 15:18] Arlington1985 commented on #156
@ngfgrant , thanks for sharing. So current release (2.1.0) doesn't support windows path then? any workaround?

[2019-04-30 16:29] ngfgrant commented on #156
use back slashes for 2.1.0

[2019-04-30 17:50] grasum commented on #688
I understand. Thank you for your suggestions !

[2019-04-30 17:50] #688 closed

[2019-04-30 20:58] jfhamlin commented on #683
I shouldn't have brought up some of my other questions from my comment in #520 here, so I'll leave the command set discussion be and possibly open a separate issue with any questions.

As for this proposal, the essence is that this prompt
[code]
would be far more useful if it showed the difference between the deployed stack (the template and parameters actually in cloudformation) and what is gener

[2019-05-01 11:49] et304383 commented on #574
When can we expect a link?  :)

[2019-05-01 12:28] ngfgrant commented on #574
@et304383 once we get the 2.1.1 branch merged to master - hopefully today.

[2019-05-01 17:30] laur1s commented on #690
Thanks  @craighurley and @ngfgrant . That's the issue I had

[2019-05-01 17:30] #690 closed

[2019-05-02 12:02] #494 closed

[2019-05-02 13:11] #653 closed

[2019-05-02 13:12] ngfgrant opened #693 "2.1.1 Released"
# 2.1.1 Now Available

v2.1.1 has been released and is now available to use. Below is the change log for this release.

## 2.1.1 (2019.05.01)

### Fixed

- Fix CLI list output export issue.

- Fix path separators between operating systems.

- Fix S3 uploads to support China regions.

### Nonfunctional

- Upgrade to PyYaml 5.1.

- Update custom hook docs.

- Improve documentation site.

[2019-05-02 13:29] ngfgrant commented on #693
You can preview the new docs page here: https://sceptre.github.io/docs - we will shortly redirect the existing urls and get the v1 docs up too. This is a really excellent start, thank you and well done to @1oglop1 and @rdkr for their contributions on the docs migration.

[2019-05-03 10:04] jmourelos commented on #564
Hi @sopeters - I was thinking on the possibility of adding a --skip-protected flag. The idea is that it would remove from the execution plan those stacks with "protect: True". Would it be useful for your use case? Our case is that we want to delete and recreate most of our stacks on a daily basis, but not the protected ones.

[2019-05-03 11:46] sopeters commented on #564
Thanks Jacob - that would help. Trying to do the same thing as you.

[2019-05-03 14:07] ngfgrant commented on #693
As a further update I need more time to fix #558 but I did not want to hold up the release of 2.1.1. I have created a new Milestone 2.2.2 and added #588 as the sole issue to be resolved.

[2019-05-04 06:21] ngfgrant commented on #564
A —skip-protected would be a welcome addition!

[2019-05-05 06:28] Marakai opened #694 "Improve documentation on how dependency management effects variables"
This issue may be related to [Template Defaults do not work ](https://github.com/cloudreach/sceptre/issues/366):

Given:

**config/bootstrap/admin/config.yaml**
[code]

with

**config/bootstrap/admin/adminrole.yaml**
[code]
and

**config/bootstrap/exec/execrole.yaml**
[code]

with

**config/bootstrap/exec/execrole.yaml**
[code]

I can do

[code]

But when I want to only run the underlying stack

[

[2019-05-06 19:33] jfhamlin commented on #683
@ngfgrant in case these don't pop up in your inbox otherwise

[2019-05-06 20:20] craighurley commented on #694
@Marakai have you tried using the `--ignore-dependencies` argument, e.g. `sceptre --ignore-dependencies update bootstrap/admin/adminrole.yaml`?

The `--ignore-dependencies` argument is _mentioned_ [here](https://sceptre.cloudreach.com/latest/docs/cli.html) and [here](https://sceptre.cloudreach.com/latest/docs/get_started.html) and is listed in `sceptre --help`, but I feel it needs more love in the

[2019-05-06 20:51] zaro0508 commented on #680
Nice @jeshan,  definitely worthy of being a core resolver :)

[2019-05-07 00:48] m1keil commented on #693
new docs looking great

[2019-05-07 11:17] craighurley commented on #669
@alytle have you tried cascading your group config files as described [here](https://sceptre.cloudreach.com/latest/docs/stack_group_config.html); your original structure and the appropriate cascading would work well.

[2019-05-07 13:41] ngfgrant commented on #683
Implementing a meaningful and robust CloudFormation `diff` that is well tested is absolutely non-trivial. An example implementation done well would be the files found in: https://github.com/awslabs/aws-cdk/tree/3270b4727c05156e43101933e22b0b94ca3fdaaf/packages/%40aws-cdk/cloudformation-diff/lib. If your stack allows I would look at using this tool for a proper `diff`.

Anything less than the above

[2019-05-07 16:42] samispurs opened #697 "Can dependencies point to specific var files?"
Would like to know if the dependencies section in a config file can point to specific var files that reference specific AWS Accounts? This would then allow for running certain templates in some AWS accounts while keeping the code centralized.

Or is there a better way to just run a specific template is the accounts I need.
Thanks

[2019-05-07 20:26] craighurley commented on #697
@samispurs have you tried organising your templates into directories that relate to account, and then using the group config `profile` key as desribed [here](https://sceptre.cloudreach.com/latest/docs/stack_group_config.html#profile)?

[code]

[2019-05-09 01:51] sopeters commented on #161
I have these issues - doesn't seem to work for me.

I have the following entry in the config.yaml

build_number: {{ environment_variable.BITBUCKET_BUILD_NUMBER | default("no-build-number") }}

When running sceptre launch I get

'os._Environ object' has no attribute 'BITBUCKET_BUILD_NUMBER'

on MacOS

[2019-05-09 09:38] networkpadawan commented on #689
hi, just tested this, but as far as i can go, the generate template literally only generates the template, it does not injects the values of the parameters. is there no way to catch the json file before its uploaded to s3 for deployment?

[2019-05-09 09:39] networkpadawan commented on #689
also, to be on the same page i mean cloudformation template not "sceptre" template:) thank you!

[2019-05-09 10:13] #558 closed

[2019-05-09 10:38] ngfgrant opened #700 "2.1.2 Released"
# 2.1.2 Now Available

v2.1.2 has been released and is now available to use. Below is the change log for this release.

## 2.1.2 (2019.05.09)

### Fixed

- Fix `stack_output` resolver recursion error

[2019-05-09 10:39] #693 closed

[2019-05-09 10:53] #642 closed

[2019-05-09 10:59] #412 closed

[2019-05-09 13:31] ngfgrant opened #701 "1.5.0 Released"
# 1.5.0 Now Available

v1.5.0 has been released and is now available to use. Below is the change log for this release.

This is likely to be the last v1 release before v1 EOL

## 1.5.0 (2019.05.09)

- Fix CLI return for update-stack-cs.
- Add New commands generate-env-config, generate-stack-config.
- Support non-scalar arguments for hooks and resolvers.
- Auto create changeset.
- Fix Remove duplic

[2019-05-09 23:28] jeshan opened #702 "Visualising sceptre launches"
Using `!stack_output` is nice as it helps in reducing hardcoded outputs from other stacks. But having these dependencies means that some stacks will have to wait for others to update every time, even if they don't have any changes.
Currently, (I think) that there's no built-in facility to debug the call graph #553 .

I wanted a way to make it clear which are waiting on which so I built this:
https

[2019-05-10 07:01] Marakai commented on #694
I haven't as I took that flag to mean it was to be used in cases such as testing or verification to see if dependency chains were somehow broken.

It isn't quite clear why the --var are necessary when they aren't part of the stack config being run, nor any "underneath": the dependency here is somewhere "above", so setting the vars seems counter-intuitive. It's as if I had to pass parameters to a m

[2019-05-13 10:12] lukeplausin opened #703 "Sceptre cannot upload templates to S3 if running on Windows"
I'm using sceptre to launch some templates via an S3 bucket from a windows machine. I'm using git bash for windows. Sceptre fails to upload the template as it tries to put the windows path separator into the URL.

`sceptre --debug launch dev/mystack.yaml -y`

The output looks like this:

[code]

I'd guess that it's a simple case of replacing the path separator but I'm not sure where to make the ch

[2019-05-13 10:17] ngfgrant commented on #703
@lukeplausin what is the `template_path` key in your config?

[2019-05-13 10:18] lukeplausin commented on #703
`template_path: mystack.yaml`

[2019-05-13 10:19] lukeplausin commented on #703
ie. no path separators in the `template_path` variable

[2019-05-13 10:30] ngfgrant commented on #703
Which version of sceptre are you using?

[2019-05-13 10:35] lukeplausin commented on #703
2.1.2

[2019-05-13 10:49] ngfgrant commented on #703
ok I will have a look - looks like a cheeky windows separator is making it into the upload path. Should be a quick fix.

[2019-05-14 07:26] #700 closed

[2019-05-14 07:28] ngfgrant opened #706 "2.1.3 Released"
# 2.1.3 Now Available

v2.1.3 has been released and is now available to use. Below is the change log for this release.

## 2.1.3 (2019.05.14)

### Fixed

- Fix S3 upload  `stack_name`  in Windows environment

[2019-05-14 08:02] laur1s opened #707 "Reference config parameters in other parameters"
Hi,

I'm sorry if this has been answered before but I haven't managed to find it.

I want to reference a value of a parameter inside other parametrs in config.yaml. What's the way of doing that? Example:
[code]

Is this currently supported? Perhaps I could use some workaround to avoid specifying the same value multiple times. Thanks!

[2019-05-14 08:29] #703 closed

[2019-05-14 09:45] ngfgrant commented on #702
Hey @jeshan

Nice one. Yeh the comment in #201 was left before we implemented v2 fully. The implementation should be reasonably trivial in 2.0 thanks to using `networkx` under the hood.

We also had a text print out during development like:

[code]

This was quite nice as it gave as text representation like:

[code]

Which you can feed into a visualiser such as http://www.webgraphviz.com/ or into

[2019-05-14 09:51] lukeplausin opened #708 "sceptre generate dumps output in json escaped format when using j2 yaml templates"
I'm not sure if this is a bug or the intended behaviour. When using sceptre to generate a template the output at the terminal does not match the output of the file which gets uploaded to S3.

Command:

` sceptre generate dev/mystack`

Expected result:

[code]

Actual result:

```['---\n# Clouformation template for some IAM roles. \n\nParameters:\n  RoleLoginDurationSeconds:\n    Type: Number...```

[2019-05-14 10:02] ngfgrant commented on #708
@lukeplausin the default is to publish text format. I think we should probably change that to default to JSON.

you can get proper JSON/YAML formatting by doing:

[code]

[2019-05-14 10:17] lukeplausin commented on #708
sceptre --output yaml generate dev/mystack produced what I expected. It would be nice if sceptre could derive this from the format of the template automatically, can I request this as a feature?

[2019-05-14 10:33] ngfgrant commented on #708
yeh just putting together a patch for this now

[2019-05-14 12:51] jmourelos commented on #605
@ngfgrant after rereading my last comment in the PR I realize I did not explain myself properly.

Yes, you are right, "protected" is used in the Python API (not "protect"). The problematic is that here we have 3 aspects to be ideally in line with each other:
- Python API: uses "protected" in [master](https://github.com/cloudreach/sceptre/blob/master/sceptre/stack.py#L132)
- Config API: uses "prote

[2019-05-15 00:27] xen0l commented on #380
I tested it and it still isn't working. Can we consider this to be a bug?

[2019-05-15 09:01] ngfgrant commented on #380
I am assuming this was a 1.x sceptre project? If this is the case then I think the behaviour above is intended for v1. If it is not working then I will investigate more thoroughly. @xen0l can you confirm which version of sceptre you used to test and if possible share the project?

[2019-05-16 00:10] zaro0508 opened #710 "Sceptre generate command fails with valid yaml"
I have a valid yaml file but when i run sceptre generate it fails with error "An error occured whilst writing the YAML object".  It seems like the problem is the special character `!` in my CFN yaml.  The generate command works if I change `!Ref` to `Ref:`.

Steps to repo:
[code]

[2019-05-16 00:21] zaro0508 commented on #658
This might be related to issue #710

[2019-05-17 10:14] jeshan commented on #702
From what I can understand, your solution gives exactly the same result, correct? If so, I'd suggest we go with your approach.
This way, we'll be leveraging networkx to generate the dot output, unlike mine which just constructs dot strings (and probably contains yet-to-be-discovered bugs).

I'd suggest add a command like this to output the visualisation:

[code]

[2019-05-17 16:14] zaro0508 commented on #710
Verified that PR https://github.com/cloudreach/sceptre/pull/685 fixes this issue.

[2019-05-19 10:51] craighurley commented on #710
I might be worth adding that I have similar issues generating json.  Generating text and yaml works fine.

I have **not** verififed if #685 fixes this issue.

Let me know if I should create a separate issue for this?

## Generate commands

[code]

[code]

[code]

## Project layout and files

[code]

[code]

[code]

## Versions

[code]

[code]

[code]

[2019-05-20 11:39] ngfgrant commented on #702
I think this could potentially fit well as a sub-command under `sceptre generate...` e.g. `sceptre generate graph [stack]`... thoughts?

[2019-05-20 19:48] jeshan commented on #702
agreed

[2019-05-21 01:02] anh072 commented on #478
@fibonascii how did you resolve this?

[2019-05-21 06:17] laur1s commented on #505
Hi, @ngfgrant would it be possible to implement this in v2 of sceptre?

[2019-05-21 08:55] ngfgrant commented on #505
Hey @laur1s - honestly I am not sure exactly how this would work with the current setup. It might _"just work"_ but I doubt it. I am not a fan of the current implementation details of Resolvers (see #502) but the concept of resolvers themselves is good.

Happy to see a PR for this and discuss it...

[2019-05-23 00:13] davidcomerford opened #712 "after_create hook behavior"
Should the after_create hook execute when a stack already exists?
The name suggests it should be run when the stack is created and not when it is skipped over because it already exists.

[2019-05-23 07:58] ngfgrant commented on #712
Hey @davidcomerford I believe the `before_` and `after_` hooks will run when the command is triggered rather than the final state of that command. E.g. we have a bunch of commands `create`, `update`, `delete`, `launch` etc. So the hooks read more like `Before the create command is called do x` rather than `When the stack is in the created state do x`

[2019-05-23 08:19] davidcomerford commented on #712
That does seem to be how it's working yes. Thanks for clarifying.
Is there any way to have after_create run only when the stack was created? Or do I need to write some logic into the hook to check if it's work needs to be done every time?

[2019-05-24 01:07] anh072 commented on #643
I have the same issue in Sceptre 2.1.0

[2019-05-24 08:31] TeemuKoivisto commented on #478
@anh072 I don't know about you, but because I used on my macOS my brew installed Sceptre it couldn't resolve the installed pip packages for some reason. So when I changed to using `virtualenvwrapper` with totally separate environment and then installed my custom package I was able to get to the next error. Yey.

[2019-05-24 11:17] ngfgrant commented on #643
Ok thanks folks I am investigating

[2019-05-24 12:55] campanellaf commented on #257
Is this still ongoing?

[2019-05-24 13:19] ngfgrant commented on #257
This is resolved in v2.

[2019-05-26 13:13] bootc commented on #643
So after I posted my comment above I found a workaround. This is because of a deliberate behaviour in Sceptre: it will prefer ambient credentials to any role configured in the stack:

https://github.com/cloudreach/sceptre/blob/0b104db2e4f2e84522b1d2d3c81f2a8af1d97b12/sceptre/connection_manager.py#L120

In the end I created a wrapper script that takes the `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_

[2019-05-27 22:35] Marakai opened #714 "Improve launch command documentation"
For automated workflows I would like to be able to create/update stacks without having to check every time via some shell ugliness whether a sceptre stack already exists.

It would be great to have an "upsert" (as it's sometimes called for databases), or "crupdate":

"if stack does not exist: create; else update"

[2019-05-27 22:53] henrist commented on #678
Partly overlapping with #533

[2019-05-27 23:00] henrist commented on #714
Have you tried the `launch` command? It should do exactly that. As you can see from the code it will do either create or update as fit:

https://github.com/cloudreach/sceptre/blob/42b24c6d41144eb15a3ed48f7effab1d3861055e/sceptre/plan/actions.py#L161

[2019-05-28 00:16] Marakai commented on #714
Oops, seems I was mentally stuck in the CFN create-stack vs update-stack approach, I didn't even look. And wondering "when would I bother with the launch command?"

I shall endeavour to RTFM more, though as you'd commented elsewhere, the  docs could use a bit of expansion and organising. ;)

[2019-05-28 07:21] henrist commented on #714
I agree that the docs should be more clear about this. I had similar issues as you.

[2019-05-28 08:12] ngfgrant commented on #714
Would be delighted to review a PR that helps improve the docs in this area if you’d like to have a shot?

[2019-05-28 08:17] ngfgrant commented on #678
Thanks for the cross reference @henrist. I agree this is partially related.

[2019-05-28 08:34] ngfgrant commented on #712
Probably best to try and handle within the logic of your hook.

[2019-05-29 00:25] cyphus opened #715 "Idea: Add ability for custom template filetypes"
Sceptre comes with out-of-the-box support for json, yaml, Jinja2, and Troposphere based templates.

I'd like to register the `.jsonnet` extension for rendering [Jsonnet](https://jsonnet.org) templates before upload.

But rather than make a PR to add Jsonnet rendering and indirectly force the sceptre developers to support this filetype indefinitely, why not make template rendering customizable like

[2019-05-29 10:45] lukeplausin opened #716 "Sceptre cannot resolve stack_output"
Using sceptre v2 on windows (git bash shell).

I believe this issue may be related to my OS or shell.

I have two templates set up where one template has a dependency to the other template. Template A defines an output `myOutput`, which is referenced in parameters of template B using the `stack_output` resolver.

File tree:
[code]

Template B config:
[code]

The config in template B gives the path

[2019-05-29 12:29] ngfgrant commented on #716
Hey @lukeplaysin there was some issues with python 3.7 during testing so it is not officially supported just yet. It might be part of the issue?

Might also be something in the asg resolver. On the face of it it doesn’t look like a windows thing.

[2019-05-30 10:56] ngfgrant commented on #674
Agreed with @craighurley on this. There are a multitude of utilities that can handle if you user wants.

[2019-05-30 10:56] #674 closed

[2019-05-30 10:59] ngfgrant commented on #609
@m1keil could you checkout 2.1.4 branch to see if this has been resolved?

[2019-05-30 11:45] lukeplausin commented on #716
Ah ok! Maybe I'm a bit keen going straight for 3.7 then. I'll try to work out what's breaking in 3.7

[2019-05-30 12:20] ngfgrant commented on #716
There is a couple of PRs for 3.7 support atm. If you try run it with the 3.6 it might work?

[2019-05-30 13:03] laur1s opened #717 "File content as environment variable"
Hello,
I have a following sceptre configuration:

    template_path: ecs-service.j2
    ENV: !environment_variable test
    AppDnsName: !stack_output_external SCEPTRE-ECS-{{ stack_group_config.Environment }}-route53::{{ environment_variable.listener }}
    SSMStoreAppPath: {{ stack_group_config.Environment }}/RDS/TEST
    sceptre_user_data:
       env:
      {% include 'app.yml' %}
      {% includ

[2019-05-30 14:14] laur1s commented on #717
I found out that there is a --var-file parameter `--var-file <var_file>
A YAML file of variables to template into config files.` But I can't find no documentation om how to actually use it

[2019-05-30 14:23] nvengal commented on #717
There is also the `file_contents` resolver. https://sceptre.cloudreach.com/latest/docs/resolvers.html

[2019-05-30 14:44] Arlington1985 opened #718 "Add logging to hooks"
There is no logging in the hooks. Need to add some

[2019-05-30 15:24] ngfgrant commented on #718
@Arlington1985 can you suggest some logging statements you'd like to see?

[2019-05-30 15:50] Arlington1985 commented on #718
I will push the changes there and if it's good enough, then accept it.

[2019-05-30 16:29] lukeplausin commented on #716
The problem also persists on version 3.6.8

[2019-05-31 10:05] ngfgrant commented on #716
Are you able to share the project at all?

[2019-05-31 10:23] #492 closed

[2019-05-31 10:23] #497 closed

[2019-05-31 10:37] ngfgrant commented on #694
@craighurley  agreed I think we can probably give a bit more context and explanation as to why `--ignore-dependencies` exits.

@Marakai If you are launching a stack `Stack A` and `Stack A` has a dependency on `Stack B` and `Stack B` requires variables from a file you are going to need to pass in that file at launch time as `Stack B` will be operated on (launch/create/update etc) first to ensure th

[2019-05-31 10:47] ngfgrant commented on #410
Closing as v1 issue which we won't fix as EOL. Should work in v2?

[2019-05-31 10:47] #410 closed

[2019-05-31 17:03] cyphus commented on #674
While there are definitely a multitude of ways to handle this, I developed this solution because it uses the method with _official support from AWS_, both in aws-cli and in botocore.

The PR I created simply enables a builtin feature in botocore. It is superior to alternatives because it doesn't require installing any third party tools, doesn't require you to re-run said tools every time your sess

[2019-06-02 17:25] jfhamlin commented on #683
I definitely get where you're coming from on this, and I'm happy to go the third-party tooling route. Please correct me on this, but for it to work out it looks like sceptre will have to expose a bit more. Let me run through my use case:

Let's say I have two stacks, A and B, where A depends on an output of B. I make a change to both A and B such that the change in A depends on the change in B.

N

[2019-06-03 09:09] lukeplausin commented on #716
Sorry I can't share project code

I've done a little investigation today. I put some print statements into the stack_output resovler, it looks like the problem is indeed caused by backslashes in windows.

[code]

The dependency stack name is set on line 112
`self.dependency_stack_name = normalise_path(dep_stack_name)`

Is `normalise_path` supposed to change backslashes to forward slashes as `scept

[2019-06-03 16:23] ngfgrant commented on #672
relates to https://github.com/cloudreach/sceptre/issues/152

[2019-06-04 15:17] ngfgrant commented on #638
@SaMnCo thank you - again - for writing this up in a way that is easy to follow. I am now getting time to look at this in detail.

As you pointed out above, when you run a command with Sceptre v2 we generate a graph with the dependencies based on the original stack/stack group passed in.

For example

[code]

When we do `sceptre generate SG_1/StackA` sceptre will first aim to resolve the values fr

[2019-06-04 17:43] SaMnCo commented on #638
@ngfgrant thanks for looking into this, much appreciated. I wish I had a bit more time atm to give you a hand on this.

Going back to the root cause of the issue, my understanding is that Sceptre v2 wants a holistic view of the application in order to generate any of its (sub)components, something that was not true in v1.
This is made complex when the configuration tree itself is used to parametri

[2019-06-04 19:54] ngfgrant commented on #638
@SaMnCo super no apologies needed that all makes sense. Let me dig back into the codebase, it may be trivial to allow users to reference `stack_path` as you've suggested.

[2019-06-05 02:32] mike-rsi commented on #531
@ngfgrant Finally using Sceptre on a project again and had a chance to test this.  Sceptre itself seems to work great now, but the `!stack_output` resolver does not.  A work-around now is to define explicit `stack_name` properties in each stack config and use `!stack_output_external` instead. Not ideal, but a good step forward as the code base doesn't have to change between OSes.  This iteration o

[2019-06-05 09:06] ngfgrant commented on #531
I think there is a fix in #719 which will be in 2.1.4... maybe worth checking out that branch and testing with that?

[2019-06-05 09:56] arnaudgay-cr opened #720 "Idea: stack_ouput would omit current local path/to/file"
In Sceptre V2 (2.1.3) !stack_ouput is defined like :
`!stack_output path/to/infrastructure.yaml::VpcId`
If you project structure looks :
[code]
Refering template-1 from template-2 must be :

It should be nice to omit the complete path for file located in the same folder.
For instance here :

Assuming that when no path is given, the "local" path is taken.

It is specially usefull when the subtree p

[2019-06-05 10:23] ngfgrant commented on #720
Hey @arnaudgay-cr

Iirc This was the way it worked in v1. In v2 we changed the way dependencies were handled and it required things like `stack_output` to be a bit more explicit.

Just off the top of my head I am not sure this is quite as easy as it seems, hence we needed the change. When we had the discussion during the development of v2 I recall that there was a sense that although more convenie

[2019-06-05 12:27] #672 closed

[2019-06-05 12:27] #708 closed

[2019-06-05 12:39] arnaudgay-cr commented on #720
Hi Niall,

Yes it works (just re tested now) in that case.

subtree1/template-2 can refere to  subtree1/template-1 with `!stack_output template-1.yaml::value` or `!stack_output myapp/subtree1/template-1.yaml::value`

subtree1/template-2 can refere to  **subtree2**/template-1 with `!stack_output myapp/subtree2/template-1.yaml::value`

If there is no path given to the **stack_output**, it takes the

[2019-06-05 14:26] ngfgrant commented on #720
Yeh ok - happy to look at a PR for this. Would need some test coverage as well.

[2019-06-05 19:53] YusufAzam commented on #256
@theseanything https://github.com/cloudreach/sceptre/issues/256#issuecomment-344308175 has this been completed or is this a hypothetical example of what is to be done?

[2019-06-05 21:46] ngfgrant commented on #256
Hypothetical @YusufAzam of what could be done

[2019-06-06 03:02] mike-rsi commented on #531
@ngfgrant Branch 2.1.4 seems to work, thanks!

[2019-06-06 03:37] Marakai commented on #694
I've essentially gotten used to the "quirk" as, in the end, it's all wrapped in helper scripts anyway, so I just shrug and pass a list of --var along - when they're not needed they're ignored, if they are then I won't get errors anymore.

Just need to remember to do it...

[2019-06-06 07:35] SaMnCo commented on #638
You know the more I think about this the more I think there might be a trivial way to work around all the problems I am having. This is actually something I thought about a while ago and it slipped away.

When using templates, I have actually always been frustrated by the fact I can only access sceptre_user_data.
Then in configuration, it's not possible to refer to other values of the config.

But

[2019-06-06 10:46] ngfgrant commented on #678
This will be resolved in 2.1.4

[2019-06-06 10:56] SaMnCo commented on #638
Aaaaand my bad... Some of these can already be used...

It seems there is a subset of the config items that can be used in the config.yaml. So far the valid items I found are (in addition to sceptre_user_data) :

[code]

Now compared to command_path that returns as a list everything here returns as strings. So to use an element of the `project_path` in the config file you'd need a little jinja tri

[2019-06-06 11:31] ngfgrant commented on #638
@SaMnCo cool thanks.

Also have a read of https://github.com/cloudreach/sceptre/issues/256. We've discussed in the past how to improve variables handling.

[2019-06-06 14:36] ngfgrant commented on #564
I just update the `update` action by adding a simple try/except. Doing something similar in `launch` might solve this by allowing the exception to be handled more gracefully and continue with execution ... just noting this down quickly before I forget!

[2019-06-06 18:29] jmourelos commented on #564
@ngfgrant I had added the flag (with name --ignore-protected-stacks) as we had mentioned originally to [a personal branch](https://github.com/jmourelos/sceptre/commit/78336e248705c7a29cac9dfad7abbe38b7b4d6cb#diff-d63f94c2fa83a7fa3b471748c51a421e) currently used by my team.

It is working well for us, but I must say that a simple try/catch seems like an easier solution.

[2019-06-06 23:25] henrist opened #723 "Update with change sets for multiple stacks fails unless all cause updates"
`update -c xxx` fails if there are multiple stacks resolved, and not all have updates (i.e. generates valid change sets). This is due to not all change sets statuses being READY, so it bails with `exit(1)`.

Party covered in #520, but this is a bug, not a broader improvement.

I've done some initial hacking on this issue and will try to push a PR soon.

[2019-06-07 11:23] cornerman opened #725 "Overwritten project_code in stack_output dependencies"
When defining an implicit dependency via `!stack_output` from another another stack-group, the `project_code` of the current stack-group seems to be overwriting the `project_code` of the dependency - yielding a stack cannot be found error when deploying.

I have the following project structure
[code]

My example is a bit more complex, but generally I have a stage stack-group of which we have multi

[2019-06-07 15:59] YusufAzam commented on #256
@ngfgrant @theseanything  Is it possible that  !file_contents could be used to read in yaml files rather that just standard txt files. This way you could use an existing command that now has more features? Amazon CCOE recommends that companies use stack_tags. It would be handy that I could just read them all from one yaml file.

[2019-06-07 16:37] mike-rsi commented on #256
@YusufAzam This can be done using a combo of existing Sceptre and YAML features.

A vars file, e.g. `my-vars.yaml`:
[code]

Any stack config in your project, e.g. `config/network/vpc.yaml`
[code]

Example Sceptre command:
[code]

[2019-06-07 18:48] YusufAzam commented on #256
@mike-rsi Thanks Mike I am currently aware of this however I have issue with this. I am using a tooling pipeline that does not let me access the build specs. Therefore I can never add the Sceptre command. I only have access to the project config,scripts hooks and templates.  That's why I was hoping an a solution existed :)

[2019-06-08 02:57] sopeters opened #727 "Cross Account resolver issues"

[2019-06-08 03:08] sopeters commented on #727
I have read https://github.com/cloudreach/sceptre/issues/257 and trying to use cross-account resolver in 2.1.3.

I understand this is only possible with stack_output_external (and use of profiles) and not stack_output?

My setup is Account A runs sceptre under profile_A credentials and tried to reference outputs from Account B.

config of A/exampleA.yaml
`parameterX: !stack_output_external <exampl

[2019-06-08 04:22] sopeters commented on #727
I have also tried A/exampleA.yaml

`parameterX:  !stack_output <exampleB>::<var>`

directly as https://github.com/cloudreach/sceptre/commit/bf70aec9f88e095d295c93a40d091d4d45f57b3e suggests this is supported

Getting `exampleB - Stack is in the PENDING state`

Seems it looks in AccountA for StackB and creates it wrongly

[2019-06-08 10:19] ngfgrant commented on #727
@sopeters qq. Do you have any AWS environment variables set?

[2019-06-08 11:21] cornerman opened #729 "Access stack_group_config in stack group config"
Can we somehow access other stack-group-config values within a config.yaml?

Example `config.yaml`:
[code]

[2019-06-08 11:23] craighurley commented on #213
I have encountered a setup where a single repository contains multiple workloads, each with their own sceptre directory.  E.g.

[code]

I'm not a fan of that setup because it limits the ability to easily reuse templates and `launch` en masse.  If it were possible to tell sceptre to use an external template folder, the structure could be changed to this, which would be much better for template resu

[2019-06-08 12:22] sopeters commented on #727
Hi @ngfgrant - I tried both options. Would be nice to have AWS environment setup from the CI/CD tools in secrets (otherwise I would have to set AWS keys in my source code and check this into the repo -> big NO). With the AWS environment variables set I run into the error

`An error occurred (AccessDenied) when calling the CreateStack operation: Cross-account pass role is not allowed`

I assume thi

[2019-06-08 14:27] cornerman opened #730 "Configure s3 bucket for templates"
I would like to add a lifecycle configuration to the template bucket, because it does not make sense for me to keep old cloudformation templates forever.

Currently, I can only set the `template_bucket_name` and it will be created automatically if it does not exist. To influence the bucket configuration right now, I could either change the bucket via `aws-cli` once after it is created or create th

[2019-06-09 09:19] cornerman commented on #727
@sopeters That is a bug I have also encountered. Please check out this PR: https://github.com/cloudreach/sceptre/pull/726. It should fix it. You can try it out by installing `pip install git+https://github.com/cornerman/sceptre@stack-outputs`

[2019-06-09 23:19] sopeters commented on #727
Thanks @cornerman - that's it for the bug. Hope it gets merged in the next version.

---

Still having the issue that for the boto3 session environment variables take higher priorities over profile and changing roles via source_profile is failing. Once the AWS_ACCESS_KEY_ID, etc are set the profile on session generation isn't used and cross account via profiles in ~/.aws/config access fails.

My ~

[2019-06-09 23:35] cornerman commented on #727
That is actually an interesting idea! We could probably shield the connection manager against credentials outside of the profile. When you specify a profile for a stack group in sceptre, you really want to use that profile. The b could lead to searious issues when doing it by mistake and in your case it is cumbersome.

For me, I am exclusively managing my account with `AWS_PROFILE`, so I never cam

[2019-06-09 23:46] sopeters commented on #727
Thanks @cornerman - are you able to share an example how you manage this with 'AWS_PROFILE' ?

I had a play with changing Connection Manager too. It could do something like

Works but not sure if that would lead to other issues...?!

[2019-06-10 00:36] cornerman commented on #727
Your profile example looked good to me! I just meant profiles, not specifically using `AWS_PROFILE`. In my spectre deployment I only use the profile from the stack-group config, not an environment variable.

I also have different profiles for referencing different accounts. In my setup I have some global resources that are always deployed into a specific account and other resources that are deploy

[2019-06-10 00:55] sopeters commented on #727
Thanks - that helps. It's similar to my setup then.

[2019-06-10 07:29] outwarped commented on #329
At the moment hook node type is ScalarNode only.

`loader.construct_scalar(node)`

I have experimented with allowing other node types (sequences, maps) and fully utilise constructor arguments:

`def __init__(self, *args, **kwargs):`

Obviously this change allows all sorts of types of objects appearing in the arguments (scalar only produces single string) including objects constructed by other reso

[2019-06-10 09:54] cornerman commented on #632
I agree with the proposed solution here, that `before_update` should only run if there are updates and that it should always have a succeeding `after_update`.

But can we have another `hook` that would be run every time a command stack is run? I am currently using `after_create` together with `before_update` in order to be always run, whenever the respective stack is launched. I need this to sync

[2019-06-10 11:36] ngfgrant commented on #730
Hey @cornerman

I don't see any problems with adding a config key such as `template_bucket` which would be passed into creating the bucket or updating it. It would be neat to support something like:

[code]

if we added support for the key `template_bucket` and kept `template_bucket_name` key with the current default behaviour then that would be backward compatible. If config_reader finds `templat

[2019-06-10 11:49] craighurley commented on #730
Something worth considering along with this is enabling server side encryption by default as mentioned in #491

[2019-06-10 11:55] ngfgrant commented on #730
@craighurley absolutely! Well remembered. Could easily incorporate encryption preferences into this new way of specifying config. Think I will close out #491 in favour of this ticket but will make sure to allow setting of encryption here.

[2019-06-10 11:56] ngfgrant commented on #491
Closing as #730 gives a more broad template bucket config option including encryption.

[2019-06-10 11:56] #491 closed

[2019-06-10 12:27] cornerman commented on #730
@ngfgrant Agreed, configuring the bucket directly is more generic and enables even more use-cases.

I like the idea of a `template_bucket` directive in the config and it would cover a lot of configurations :+1:

Just one question: In my setup, I am deploying to two different accounts. Therefore I switch between two different `profile` and `template_bucket_name` values in my config, having one priv

[2019-06-10 12:36] ngfgrant commented on #632
The intended behaviour is that the hooks are triggered before/after the command is initiated. I think the confusion is maybe related to #678 which will be fixed in 2.1.4 with better error handling which allows program to execute fully.

[2019-06-10 12:36] #632 closed

[2019-06-10 13:05] ngfgrant commented on #329
@myoung34

You've not specified a `sceptre_user_data` key

try add

[code]

For everyone else

Regarding hooks - you can access everything on a stack including its dependencies with

[code]

I can definitely see that having this functionality would be useful but I am not sure it is a wise thing to add in terms of maintainability and potential for debugging chaos. We do plan to rewrite how resolver

[2019-06-10 13:55] ngfgrant commented on #725
Will be released in 2.1.4

[2019-06-10 13:55] #725 closed

[2019-06-10 18:46] vadym commented on #716
I've catch up the same error.

Python 2.7.15

[2019-06-10 19:05] ngfgrant commented on #716
Hey thanks to Luke it will be fixed 2.1.4

[2019-06-11 00:01] zaro0508 opened #732 "Global stack_tags group config"
We use sceptre and have many individual sceptre stack configs to deploy our templates.  We use the `sceptre launch prod --yes` command to deploy all our stacks at once.  I would like to apply the same tag to all of the stacks that are deployed or updated.  Is there a way to do this without having to define [stack_tags](https://sceptre.cloudreach.com/latest/docs/stack_config.html#stack_tags) in eve

[2019-06-11 05:36] mike-rsi commented on #732
This is the best way I've found to do it so far: https://github.com/cloudreach/sceptre/issues/256#issuecomment-499954300

[2019-06-11 09:04] ngfgrant opened #733 "Fix sceptre_user_data resolvable properties calls"
# Context

Given a stack `bundle/b/y.yaml`

[code]

[code]

When `S3Version` `Resolver` calls a key (S3_Bucket) on a `ResolvableProperty` (sceptre_user_data) sceptre will enter into a recursion and fail. If the `Resolver` that is called is called does not reference a `ResolvableProperty` then sceptre will execute normally.

# Suggested fix

It won't be ideal, but adding a class that stores the glo

[2019-06-11 11:19] lukeplausin opened #734 "Template resolver"
Hi Sceptre contributors

This isn't an issue as such, but couldn't find any message board or channel to post on.
I've created a sceptre `template` resolver, which may be useful. You can use it to template inputs to files, using any of Sceptre's built in template engines. I'm using it primarily for templating EC2 userdata with Jinja2, but there may well be other uses for it.

https://github.com/luk

[2019-06-12 11:39] craighurley opened #735 "How to reference single item from a list with the stack_output resolver?"
Given an output in `template.yaml` that is a list of resource IDs like this:

[code]

Is it possible to select a single item from that list in a sceptre stack config when using the `stack_output` resolver?

[code]

I know I could output each resource ID individually, but I'm looking to reduce the number of outputs if possible.

Thanks.

[2019-06-12 13:22] ngfgrant opened #736 "Website migration"
Today we will be migrating the docs site to the new documentation site https://sceptre.github.io.

There might be some disruption as the dns changes happen.

[2019-06-12 17:33] cornerman commented on #735
Afaik, selecting an element in a list does not work with `stack_outputs`.

One idea/workaround comes to my mind: Move the element select to the cloudformation template and `select` the right index in that template.

Example template.yaml:
[code]

You could still use it with a single string (defaulting to using the first element in the list) or use it with a list and provide the index to select. It

[2019-06-12 18:37] cornerman opened #737 "Select multiple stack-groups with CLI"
I would like to launch multiple stack-groups together by providing multiple arguments to sceptre:
[code]

It would come pretty handy in some settings. I know I could group things under one folder, but it is not that flexible and also leads to large folder hierarchies and therefore long stack-names.

[2019-06-12 23:34] zaro0508 opened #738 "help is missing profile and region flags"
sceptre --help is missing `--profile` and `--region` flags.

[code]

[2019-06-12 23:45] zaro0508 commented on #738
oops. i forgot i'm using --var to pass in profile and region.  Sorry for the noise.

[2019-06-12 23:45] #738 closed

[2019-06-13 08:38] ngfgrant commented on #737
Hey @cornerman probably not going to support this anytime soon. Could easily run with `sceptre launch target1/A.yaml` then `sceptre launch target2`. there is then issues with things like output and adding variables. just going to be messy...

[2019-06-13 08:38] #737 closed

[2019-06-13 09:05] ngfgrant commented on #734
Hey Luke - awesome thanks. We'll soon move github org to github.com/sceptre and this is exactly the sort of thing we could share there too. I have a couple of custom hook/resolver template repos that can be used to provide ci/cd and pypi deployment too.

Once we move org it would be awesome to pull this in as its own repo there so others can use/contribute?

[2019-06-13 13:07] aamirmushtaq commented on #736
I wish you guys a smooth transition. Meanwhile referring to the docs from within the repo incase anyone needs them :
https://github.com/cloudreach/sceptre/tree/master/docs/_source/docs

[2019-06-13 19:15] jfarr opened #740 "Sceptre version 2.1.1 breaks backward compatibility with paths ending in trailing slash"
I started getting the following error after upgrading to version 2.1.1:

[code]

This worked fine in 2.1.0. Removing the trailing slash is not a workaround due to the way sceptre resolves paths by prefix matching. If I have a stack group named `dev` and a stack group named `dev-private` then running `sceptre launch dev` will launch *both* stack groups. The trailing slash in `sceptre launch dev/` i

[2019-06-13 21:23] ngfgrant commented on #740
https://github.com/cloudreach/sceptre/pull/731 Fixes the issue regarding exact stack names. Allowing the forward slash was a bug. Fix above due out soon.

[2019-06-13 22:24] jfarr commented on #740
Thanks for the quick response @ngfgrant, I'll wait for that fix to come out then. I wasn't sure what the right fix was so I figured I'd log an issue before attempting a PR myself, glad it's already being taken care of. Really great tool so far BTW, please keep up the good work!

[2019-06-13 22:24] #740 closed

[2019-06-13 22:30] cornerman opened #741 "Open a gitter channel"
How about we add a gitter channel to this repository?

I think, it would really help to have a channel to discuss problems, ideas, setups or pose questions - basically to share knowledge. I do not know whether there already exists an active community (like reddit, irc, slack) about sceptre, but at least I could not find it (please do point me to it, if there is one).

[2019-06-14 09:05] ngfgrant commented on #740
Thank you for raising it @jfarr please point out anything else you come across that doesn't look right!

[2019-06-14 16:01] zaro0508 commented on #741
Great idea and was also requested in PR https://github.com/cloudreach/sceptre/issues/611

[2019-06-14 16:04] zaro0508 commented on #611
I've gone ahead and created a #sceptre channel on [freenode](https://webchat.freenode.net/) if anybody wants to join.

[2019-06-14 16:07] zaro0508 commented on #736
sceptre.github.io is redirecting to sceptre.cloudreach.com and that site seems to be down right now. Would you be able to look into this @ngfgrant ?

[2019-06-14 19:24] ngfgrant commented on #736
Yeh sorry about this folks will get it up ASAP.

[2019-06-15 00:59] brent-johnson commented on #736
😌 I am about to start using this tool for a new project.  I thought there was something seriously wrong with it.  I'm glad that isn't the case.

[2019-06-15 11:02] ngfgrant commented on #736
Ok folks I reverted some changes so https://sceptre.github.io/ should work for now and will look at why our custom domain name is not resolving properly this weekend. Apologies for the interruption!

[2019-06-16 23:45] zaro0508 commented on #736
@ngfgrant the website still seems like it's down?

[2019-06-17 07:44] #593 closed

[2019-06-17 08:13] ngfgrant commented on #736
All resolved now - site is available at sceptre.cloudreach.com. If you are unable to reach the site you may need to wait until DNS resolves or clear your cache and try again.

[2019-06-17 08:18] ngfgrant commented on #615
I am planning to move this repository on **1st July 2019**. GitHub will automatically redirect refs but I will give instruction on how to manually update if you directly reference this remote in your scripts.

[2019-06-17 08:37] ngfgrant commented on #741
Happy for this to be community driven. I checked with our IT team regarding using our Slack. Unfortunately, this won't be possible.

I'd really like to keep the footprint of discussion as small as possible i.e. GitHub and StackOverflow.

Ideally, if there is an idea for a feature or improvement I'd want to have that discussion here so that there is a clear record of the conversation which is very

[2019-06-17 10:10] ngfgrant commented on #741
We will also benefit from GitHub teams in our new org (officially moving 1st July) https://github.com/orgs/Sceptre/teams/all-contributors

[2019-06-19 05:01] zaro0508 commented on #741
@ngfgrant I prefer IRC so I've gone ahead and created a #sceptrecfn channel on [freenode](https://webchat.freenode.net/).  The channel's logs are continuously archived to   https://freenode.logbot.info/sceptrecfn  for easy access.  Wondering if we get this info into the readme?

[2019-06-19 08:31] cornerman commented on #741
@ngfgrant Cool, I think those great steps to improve community interaction!

@zaro0508 Thanks for opening the IRC channel! I am fine with IRC, but in general, I think that gitter might be more accessible for github users. But let's try :)

[2019-06-19 08:34] cornerman commented on #730
I thought about my setup more and I think the proposal with `template_bucket` is great. But we should not require a name in the `template_bucket`, we could use the name from `template_bucket_name`. This would allow me to define the `template_bucket` once in the top-most stack-group and override the `template_bucket_name` in stack-groups beneath, where I switch accounts and need a different bucket-

[2019-06-19 08:41] cornerman opened #746 "Generic before_run/after_run hooks"
I often find myself wanting to do something whenever a stack is run (it might be created or updated or was unchanged).

Use-Case: I create an s3-bucket in a cloudformation stack. Whenever I run this stack, I want to automatically copy certain files to the bucket (and update them if they have changed). So, what I am currently doing is: create a `after_create` and `before_update` hook, then do an `a

[2019-06-19 10:01] ngfgrant commented on #741
I definitely still have some reservations about the usefulness of an instant-message and a little apprehensive of useful/helpful question content being lost in chat history vs having a "static" record on StackOverflow/GitHub issue.

One of the things to consider is our community is globally distributed and I don't think IM works that well for multiple timezones.

We also need to decide _what_ the

[2019-06-19 14:42] cornerman opened #747 "Rollback_Complete is counted as success"
When launching a stack group, some stacks might fail and end up in the status `ROLLBACK_COMPLETE". Currently, sceptre would interpret this as a success, goes on with the deployment and tries to access outputs from the rollbacked stack. Furthermore, I often overlook that something failed and just assume everything worked. I think, it should be more prominent.

Now, a stack can end up in `ROLLBACK_C

[2019-06-19 19:26] cornerman commented on #741
@ngfgrant I think, you are raising some good points. It will be impossible to draw a strict line between the instant-messaging channel and the structured discussions/issues in the github organization. Still, I believe a dedicated channel will help newcomers, as it lowers the burden of asking a question. A github issue just feels more serious and you might be reluctant to open one when you just sta

[2019-06-20 08:44] ngfgrant commented on #746
@cornerman The opening sentence triggered a memory about another previous issue. Can you check to see if this issue: https://github.com/cloudreach/sceptre/issues/208 and https://github.com/cloudreach/sceptre/issues/219 is what you were thinking?

[2019-06-20 08:51] ngfgrant commented on #746
@cornerman The opening sentence triggered a memory about another previous issue. Can you check to see if this issue: https://github.com/cloudreach/sceptre/issues/208 and https://github.com/cloudreach/sceptre/issues/219 is what you were thinking?

[2019-06-20 09:01] cornerman commented on #746
@ngfgrant I think, the use-case is exactly the same as in the two issue you have linked. Though, the `before_launch` and `after_launch` hooks might be an easier implementation and less verbose than adding `run: always` or `run: conditional` to existing hooks. The question is, do we need to distinguish create and update events here or is it just about a stack being launched. If it is the latter, I

[2019-06-20 09:40] cornerman opened #750 "Enable/Disable a whole stack-group"
Within my stack-group I have a lot of monitoring stuff that I do not really want to deploy to my development stages. I could of course build separate stack-groups, but currently I am parameterizing the stack-group with a variable whether it is production or development. Now, I have to hand in this variable into all cloudformation stack and put a condition on all of my resources in there.

Would it

[2019-06-20 09:45] cornerman commented on #730
Would it be possible to somehow make the `template_bucket_name` a function of the selected AWS profile?

I have code like this in stack-groups that are deployed to different accounts, because I need to keep the bucket name unique:
[code]

What do guys do in these situations? Have cross-account access to one bucket or have a bucket in each account?

[2019-06-20 13:43] oturpe opened #751 "filter 'default' does not correctly process empty values from stack_group_config.custom"
In Sceptre 2.1.3, if I omit passing in a variable using the `--var` method and later pipe it to to a `default("")` filter, the end result is an empty string as expected. If I define a variable in stack group config's `custom` section and leave it empty, passing it to `default("")` produces value of `None`. It should be an empty string too.

## To reproduce
Simple CloudFormation template `templates

[2019-06-21 08:55] ngfgrant commented on #747
https://github.com/cloudreach/sceptre/blob/523137b0cd46b44e326870407b5e340f0c63f66e/sceptre/plan/actions.py#L186

Launch should delete then create the stack if it encounters `ROLLBACK_COMPLETE` can you confirm the final state of the stack?

[2019-06-21 08:59] ngfgrant commented on #730
I think we are going to the leave the `template_bucket_name` as it is for v2. I don't want to change the expected behaviour of `template_bucket_name`. I think we just document that you can either use `template_bucket_name` or `template_bucket` in your stacks. If you specify the name in `template_bucket` then it is the same as specifying the name in `template_bucket`. Tbh I would probably be up for

[2019-06-21 09:27] ngfgrant commented on #751
Can you try use single quotes for `default` e.g. `  LogGroupNameFromCustom: LogGroup{{ stack_group_config.custom.suffix | default('') }}`

[2019-06-21 09:31] ngfgrant commented on #729
I think this is the same request in https://github.com/cloudreach/sceptre/issues/624 and https://github.com/cloudreach/sceptre/issues/355 will close for now.

[2019-06-21 09:31] #729 closed

[2019-06-21 09:37] ngfgrant commented on #723
I _think_ https://github.com/cloudreach/sceptre/commit/987e22092a1efcfef8da0494e99a1b9ed083cd04 should fix this which is now in the 2.1.4

[2019-06-21 10:27] Marakai commented on #694
As it turns out, the "quirkiness" in dependency management is more than just that.

I just added a stack group without any dependency on the others. Simply in the same directory structure under `config`. First, mildly annoyed that it still demanded I add all the `--var` from the other stack groups, it got distinctly unamusing when I went to delete that new stack - and it recursively deleted all th

[2019-06-21 10:47] ngfgrant commented on #694
@Marakai can you give a bit more detail about the command you executed and the the layout (`tree`) of the sceptre project please?

Unless you specify dependencies (implicit or explicit) or choose a `command_path` that contains the stacks sceptre does not have a mechanism for randomly loading stacks in to delete. There is either a dependency or you've explicitly asked sceptre by way of command path

[2019-06-21 11:51] henrist commented on #723
This is why it fails:

https://github.com/cloudreach/sceptre/blob/2.1.4/sceptre/cli/update.py#L60-L63

The code requires all items in the plan to have updates

[2019-06-21 15:48] cornerman commented on #730
@ngfgrant I would keep the `template_bucket_name`, as mentioned, because it allows us to separate the bucket definition (including lifecycle rules and acl) from the name and make it reusable.

I think, it is possible to do this in a backwards compatible way. If there is only `template_bucket_name`, just do what we do know. If there is a `template_bucket`, use this definition to create the bucket a

[2019-06-21 15:53] cornerman commented on #747
Indeed, launch does delete and tries to create the bucket correctly. That works fine. The problem is if a dependent stack is in `ROLLBACK_COMPLETE`.

Example: There are two stacks A and B. Stack A depends on Stack B. If I launch both, first Stack B is launched. Now if Stack B fails, it will eventually end up in `ROLLBACK_COMPLETE`. Then sceptre still tries to start Stack A, eventhough Stack B coul

[2019-06-21 16:02] cornerman commented on #720
How about introducing a special starting character for relative paths like `!stack_output ./template-2.yaml`? This would make the relative path explicit and handle possible ambiguities if there was a `template-2.yaml` with the same name in the root directory.  Because then, it would not be decidable which template was meant.

[2019-06-21 17:01] cornerman opened #752 "Modify stack_output value in stack config"
Is it possible to modify the output value of stack within a stack config?

My use-case is that I want to use the `Arn` of an S3-Bucket, which comes out of another stack, but want to append `/*` to the arn to specify a path within the bucket. I want to pass this value into another stack as a parameter. I am doing something like this in my stack.yaml:

[code]

I have tried ` !stack_output group/s3-b

[2019-06-24 08:54] oturpe commented on #751
Thank you for your suggestion. I tried it out, but neither whitespace around the pipe sign nor quote style affected the result.

For what it is worth, I also tried to run my test case on both Windows 10 (which was used for the initial test case) and Linux (using the Windows Subsystems for Linux, Ubuntu installation). No difference there, either.

[2019-06-24 09:07] ngfgrant commented on #660
Looking at the last couple of builds the build took ~30s and deploying docs takes around 50s. I think we can live with these times for now given the integration tests take 15 mins :P. Closing for now.

[2019-06-24 09:07] #660 closed

[2019-06-24 09:09] #445 closed

[2019-06-24 09:09] #727 closed

[2019-06-24 09:10] #678 closed

[2019-06-24 09:18] ngfgrant commented on #638
Going to close this issue as I think the variables discussion is better had in #256

[2019-06-24 09:18] #638 closed

[2019-06-24 09:20] ngfgrant commented on #751
I know that @1oglop1 is a Jinja ninja he might have come across something like this before?

[2019-06-24 10:43] ngfgrant commented on #643
as @bootc points out ambient env variables take priority over config. To use profile and cross account make sure your env is unset from any relevant AWS settings. I've tested the cross account functionality with clear env and it works fine.

[2019-06-24 10:43] #643 closed

[2019-06-24 16:45] ngfgrant commented on #641
@dmegyesi I am working on this at the moment and fortunately it won't introduce breaking changes as users won't be able to have `.`'s in their variable names as they wouldn't be processed properly by jinja. This should be out in `2.1.4`

[2019-06-24 17:15] mike-rsi commented on #751
I think it's more of a YAML issue. @oturpe, The YAML `suffix:` is setting the variable `suffix` to `None`, which Jinja2 is considering as "defined" and not overriding it with the default.  Try `suffix: ""` which should actually set `suffix` to an empty string.

[2019-06-24 18:57] chhibber opened #753 "Sceptre 2.x migration - cross stack variable dependency breaks the launching of a set of stacks"
[code]

We are trying to migrate to 2.x and have discovered that due to dependency checking on the entire codebase we can no longer consistently launch an environment (group of stacks).

Applying `--ignore-dependencies` causes inter-stack dependencies to fail, requiring us to run the launch command multiple times.

We have many environments, due to size and amount we leverage environment files alo

[2019-06-25 08:47] #658 closed

[2019-06-25 11:37] oturpe commented on #751
I tried it, indeed `suffix: ""` empty works. This answers my original question. I also see how Sceptre's behavior comes from unfortunate interplay between yaml parsing and Jinja templating.

As a final note, my real case was a bit more complicated, like this:

[code]

which, based on this discussion, needs to done like this instead:
[code]

I will close this issue now.

[2019-06-25 11:37] #751 closed

[2019-06-25 11:49] ngfgrant opened #754 "Create example sceptre projects for documentation"
# CONTEXT

When we move to our new home at github.com/sceptre we should have an "examples" repo with suggested structures etc. Useful for new comers and could even utilise in real world scenarios.

[2019-06-26 11:29] #641 closed

[2019-06-26 12:20] ngfgrant opened #758 "Improve error message for stack_output dependencies"
When acting on a stack which has a `!stack_output` and the stack given doesn't exist we should provide a better error message.

Currently, the error message is along the lines of:

[code]

Really we should have something like.

[code]

[2019-06-26 13:05] laur1s opened #759 "Sceptre launch fails if stack is in UPDATE_IN_PROGRESS"
We use Sceptre in GItlab-CI environment. Everytime code is merged stack launch command is executed:

`sceptre  --var "imageversion=${IMAGE_TAG}" launch  PROD/ecs-service -y)`

However, If multiple commits are merged to master sceptre fails because `Stack action is already in progress state and cannot be updated`. Is this a bug or intended behavior? Is there a way to make sceptre wait until previou

[2019-06-26 13:13] ngfgrant commented on #759
Yeh that is a cloudformation thing unfortunately. I will leave this open incase we can think of a good way to handle this but it feels like it might be opening a can of worms.

[2019-06-26 13:32] ngfgrant opened #760 "Would it be useful to access SceptreContext and stack_name in stack config?"
Hi all,

I am playing about with various things and looking to make some more information available in stack config. One thing which would be pretty easy to make available would be the SceptreContext (https://github.com/cloudreach/sceptre/blob/master/sceptre/context.py).

It is then accessible like:

[code]

I've also been able to easily add `stack_name` to the stack_config

accessible like:

[cod

[2019-06-26 13:35] ngfgrant commented on #760
Here is the poc https://github.com/cloudreach/sceptre/commit/160ca0ed8a16cd01cd50c06ee9fee4739ae33e4d

[2019-06-26 13:43] #694 closed

[2019-06-26 15:22] mike-rsi commented on #760
I do actually like to add the project path as a stack tag.  If you have a lot of different Sceptre projects that have created a lot of different resources in your AWS account, it makes it easy to work backwards to figure out which Sceptre project on your machine is responsible for a specific resource in your account.  So example #1 would be helpful.

Example #2 specifically, not as much, since a `

[2019-06-26 17:03] #621 closed

[2019-06-27 09:48] ngfgrant opened #765 "2.1.4 Released"
# 2.1.4 Now Available

v2.1.4 has been released and is now available to use. Below is the change log for this release.

## 2.1.4 (2019.06.26)

### Fixed

- CLI to use correct JSON formatting as default
- `sceptre generate` for non-trivial JSON and YAML
- Support for nested dicts in CLI `--var` flag
- Error handling for missing AWS credentials
- `stack_output` resolver windows path
- Stack update e

[2019-06-27 11:36] SohamChakraborty opened #766 "AWS credentials confusion (only default profile is working)"
Hello,

I noticed that if there are multiple profiles in `~/.aws/credentials` file then sceptre commands fail with boto connection errors. After removing all the entries and keeping only one entry called `default` profile, I was able to run sceptre commands.

Is this the normal or expected behaviour? Can we have multiple profiles in `~/.aws/credentials` file? Otherwise I have to change the credent

[2019-06-27 11:37] ngfgrant commented on #752
Probably need to use a CusomResolver for this unless there are any jinja tricks @1oglop1 ?

[2019-06-27 11:45] ngfgrant commented on #766
Hey @SohamChakraborty

Sceptre will use and AWS creds set in your environment before using any profiles set in your stacks. Here is the relevant code (if you are interested) https://github.com/cloudreach/sceptre/blob/master/sceptre/connection_manager.py#L120.

I would think that there was maybe a mix up in what was available in your environment compared to what creds you think you might have been

[2019-06-27 14:03] SohamChakraborty commented on #766
I see. So I ran it like this and now it worked:

`$ AWS_PROFILE=soham-test sceptre --debug create dev/vpc.yaml`.

Thanks @ngfgrant

[2019-06-27 14:15] ngfgrant commented on #766
Sure would review a PR that added some information about how sceptre connects to aws to the docs. Not sure this necessarily belongs in the README though.

[2019-06-27 18:01] chhibber commented on #753
Adding:
* We leverage troposhere

[2019-06-27 18:02] chhibber commented on #753
Sorry,  closed by mistake.

[2019-06-27 19:59] henkler opened #767 "CLI Helper missing !Split Intrinsic Function"
sceptre/cli/helpers.py

The CFN_FNS array that lists the allowed functions does not include the 'Split' intrinsic function.

When generating template output from code that utilizes this intrinsic function, an Exception is raised instead of the template being output.

The CFN_FNS array should probably be updated to:
`
CFN_FNS = [
    'And',
    'Base64',
    'Cidr',
    'Equals',
    'FindInMap',

[2019-06-27 23:04] 1oglop1 commented on #752
No, you are right. This is the reason we developed SmartJoin resolver.
It would be nice if we could actually find some time and publish package with our hooks and resolvers.

I'm thinking of creating a new repo/s under Sceptre org.
My idea is to put all resolvers and hooks we have into 1 package and publish it to pypi.

[2019-06-28 09:04] ngfgrant commented on #752
@1oglop1 Yeh that is definitely one of the benefits that the new org will bring us. At the moment there are some empty hooks/resolver template repos which I still need to push some local code to. Cloning them will give you everything you need just to write you resolver/hook code and push the build and deploy will be handled for you.

If you are able to even push what you have to the new org then I

[2019-06-28 09:08] ngfgrant commented on #767
@worr would you be able to check this out, should be a reasonably simple fix?

[2019-06-28 09:08] cornerman commented on #752
Nice, that sounds awesome. Then I am really looking forward to the `SmartJoin` Resolver :)

[2019-06-28 10:22] worr commented on #767
Done, see #768

[2019-06-28 13:35] #767 closed

[2019-06-28 13:51] 1oglop1 commented on #752
@ngfgrant I'd rather provide `cookiecutter` version of hooks and resolver
https://github.com/audreyr/cookiecutter
instead of letting it fork/clone.

[2019-06-28 14:00] ngfgrant commented on #752
I think GitHub template repository feature is probably enough for what we need (https://help.github.com/en/articles/creating-a-template-repository). I mean we could easily integrate cloning the template repo in the `sceptre new ...` command, that would be a pretty straightforward helper.

`sceptre new hook HOOK_NAME`
    -> git clones the hook template repo into directory called `hook_name`
    ->

[2019-06-28 14:25] ngfgrant opened #770 "Update integration tests to use vcrpy"
# CONTEXT

Our Integration tests are pretty slow - taking around 15 minutes to complete each full run. This is a pain for development and also during deployments.

We also have another issue as in order to allow integration tests to run from contributors external to Cloudreach we would need to allow access to our sceptre test AWS account which is used during our circleci builds.

We could utilise

[2019-06-28 14:49] ngfgrant opened #771 "2.1.5 Released"
# 2.1.5 Now Available

v2.1.5 has been released and is now available to use. Below is the change log for this release.

## 2.1.5 (2019.06.28)

### Fixed

- Fix missing `Fn::Split` from CFN Functions in cli `generate`
- Fix Docker deploy latest image
- Fix setup.py supported programming language
- Fix CircleCI docs deploy to allow empty commits
- Fix CircleCI workflow to add docker build to tagged

[2019-07-01 09:44] ngfgrant commented on #753
Hi @chhibber  Thanks for raising. Appreciate this has caused a bit of confusing from v1->v2. As you rightly mention, the way we load the project in v2 is different.

I think the suggestion by seananything in #256 is a good way to handle this. It will mean each variable is provided without having to specify at launch and so unrelated stacks won't get in the way of a launch.

Since this issue is now

[2019-07-01 15:16] chhibber commented on #753
We are not confused by it,  I am saying the model explicitly breaks us.  We have a large a complicated set of infrastructure with hundreds of variables and we enforce being explicit over being implicit to avoid ambiguity.

The idea of defaults can be dangerous, it's the equivalent of saying pull latest on a docker image for your critical infrastructure.  The model we have in place catches issues l

[2019-07-01 15:46] ngfgrant commented on #753
@chhibber I see. I will re-open and lets look at how config is loaded to see if there is a different order we can execute things in in order to ignore irrelevant stacks.

[2019-07-01 16:58] ngfgrant commented on #753
Ok looking at the code here: https://github.com/cloudreach/sceptre/blob/master/sceptre/config/reader.py#L214

We are reading in all the stacks in a project if `--ignore-dependencies` is not set.

It is the `render()` function which is called down the chain that loads the file: https://github.com/cloudreach/sceptre/blob/master/sceptre/config/reader.py#L324

Jijna2 complains that it can't find the v

[2019-07-01 17:14] ngfgrant commented on #753
Just researching a bit more. If we go down the route of `allow_errors` then we can subclass jinja UndefinedError (http://jinja.pocoo.org/docs/2.10/api/#jinja2.Undefined) and just allow the template to render anyway. We would set that in Jinja Environment (https://github.com/cloudreach/sceptre/blob/master/sceptre/config/reader.py#L341).

Then in the default behaviour (no errors allowed) we just use

[2019-07-01 17:17] ngfgrant commented on #753
I mean total quick fix would be to change https://github.com/cloudreach/sceptre/blob/master/sceptre/config/reader.py#L343 to undefined=jinja2.Undefined ...that works

[2019-07-01 17:40] ngfgrant commented on #753
Here is a poc: https://github.com/cloudreach/sceptre/commit/6a8edfd76ce86b627d9859e25828dc31bd4813bb

[2019-07-01 17:45] chhibber commented on #753
Thanks for the quick resposne @ngfgrant
You would run into errors where even the stacks that have errors in them would still render, hence you could render something incorrect.

What about passing a flag that would prevent the checking of dependencies across all configs or configs outside of the directory you are passing?

[2019-07-01 18:09] chhibber commented on #753
I missed that you were doing a first pass with the dependency checking, followed by a second pass without it.

[2019-07-01 19:26] ngfgrant commented on #753
Unfortunately, I don't think either suggestion is going to be that simple.

Digging through the code again we basically a) load up all stacks b) pass all stacks to create a StackGraph - which deals with the dependencies.

We could potentially put a step in when generating the graph to validate the stacks have variables resolved.

[2019-07-01 19:47] ngfgrant commented on #615
Reminder it is happening today!

[2019-07-02 07:22] inventionlabsSydney commented on #533
Any update on this? I am also experiencing this issue.

[2019-07-02 08:06] ngfgrant commented on #533
@inventionlabsSydney do you still have this issue in 2.1.5?

[2019-07-02 08:09] inventionlabsSydney commented on #533
I'm currently using 2.1.3 so this might be my issue haha.

[2019-07-02 08:12] ngfgrant commented on #533
yeh I think we fixed in either 2.1.4 or 2.1.5, can't remember. If it is still giving you an issue please let me know.

[2019-07-02 08:16] #615 closed

[2019-07-02 08:37] n13k77 commented on #574
Maybe it's me but when I currently check the documentation I can only see versions latest, dev, 2.1.4, 2.1.3, 2.1.2 and 2.1.1. So no links to the documentation of v1; am I missing something or is v1 documentation (still) not accessible?

[2019-07-02 08:41] ngfgrant opened #772 "Collaborators - update your .git/config"
If you are using a fork then you don't need to do anything.

If you have contributed to sceptre before or have cloned the main repo then it is probably a good idea to update your remote origin url in your .git/config

to  `url = git@github.com:sceptre/sceptre.git`
from `url = git@github.com:cloudreach/sceptre.git`

GitHub will automatically redirect from `git@github.com:cloudreach/sceptre.git` ->

[2019-07-02 08:43] ngfgrant commented on #574
Thanks for the reminder @n13k77 the docs move has happened recently. @1oglop1 I think that we can just build the v1 docs and push to the new github docs page manually ?

[2019-07-02 08:46] #736 closed

[2019-07-02 11:29] 1oglop1 commented on #574
Yes you could build it manually and then push the directory with static files to https://github.com/Sceptre/sceptre.github.io but keep in mind that this would require also fixing `version-helper.js` to enable cross reference from v2.
DM me via Slack for more details.

[2019-07-02 13:29] ngfgrant commented on #734
Hey @lukeplausin

Do you want to give using the new template resolver repo a go? https://github.com/Sceptre/sceptre-resolver-template. It would be good to use your resolver as a first test case!

Would be interesting to see if the docs make any sense: https://github.com/Sceptre/sceptre-resolver-template/wiki

[2019-07-02 16:15] YusufAzam opened #773 "Accessing stack_config in Hooks"
Currently if I create a custom hook and use stack_group config I get the following error.
object has no attribute 'stack_config'. I have noticed however that if you install setup.py for your custom hook before the use of stack_config, you can then add it to your code after the installation and do a sceptre launch. Works fine that way

However if stack_config is in your hook code and then setup.py

[2019-07-04 10:08] ngfgrant opened #778 "Bug: launch single stack with !stack_output and `--ignore-dependencies`"
There is an issue where a users attempts to launch a single stack that utilises the `stack_output_resolver` with the `--ignore-dependencies`.

With `--ignore-dependencies` set, any dependencies that arise through `!stack_output_resolver` would not be added to `stack.dependencies` and the `next()` function in `StackOutput.resolve()` would raise a `StopIteration` as the stack.dependencies list would

[2019-07-04 12:06] ngfgrant opened #781 "Add `sceptre logs` command"
# CONTEXT

It maybe useful to get the logs from a CloudFormation stack. We _should_ be able to get these without too much drama.

Depending on how the logs are returned by AWS we could parse them into a consumable standard format.

Would welcome feedback on the idea and this needs a bit of discussion.

[2019-07-05 06:33] 1oglop1 commented on #770
What about https://github.com/localstack/localstack - would that help?

[2019-07-05 13:31] gpinganaud commented on #754
It would be VERY usefull, please do examples. I'm looking for some api-gateway.yml (and many others).

[2019-07-05 16:21] ngfgrant commented on #754
I now have a skeleton repo up. I guess it will populate over time. https://github.com/Sceptre/examples

[2019-07-05 16:21] #754 closed

[2019-07-08 10:09] laur1s opened #783 "AWS CFN - Exceeded request limit"
We have a usecase where our CI/CD pipeline updates around 50 cloudformation stacks during the deployment. Because of that we face the request limit exceeded error. Could this be fixed or are there any workarounds?

[code]

[2019-07-08 12:14] ngfgrant commented on #783
This is a AWS thing. Its very annoying we get it too with our integration tests occasionally. We reduced the number of concurrent builds to try and help. I don't think there is much we can do from our side.

[2019-07-08 12:15] ngfgrant commented on #783
https://github.com/Sceptre/sceptre/commit/62e7a5de2484c1741d003c311729309ade25f82d#diff-1d37e48f9ceff6d8030570cd36286a61

[2019-07-09 15:53] chhibber commented on #783
We are launching 30+ stacks at once, and we leverage "Decorrelated Jitter"  in almost all our boto calls and it has made a big impact.

We too were running into this,  here the updated retry function we are using:

`connection_manager.py`
[code]

Great article on it and the impact jitter can have:
https://aws.amazon.com/blogs/architecture/exponential-backoff-and-jitter/

[2019-07-09 15:55] chhibber commented on #753
Just wanted to comment that we have something working, will try to put a POC PR forward soon

[2019-07-09 16:00] ngfgrant commented on #753
Thanks @chhibber look forward to seeing what you've got. I've given things a bit of a think over the last week too.

[2019-07-09 16:05] dalibor-aleksic-atomia opened #785 "Fix Docs rst tags {% raw %} and {% endraw %}"
I'm struggling with templating.

Based on documentation [here](https://sceptre.cloudreach.com/2.1.5/docs/stack_group_config.html#var), I can set something like this in `config.yaml` file
[code]
and use it like `sceptre --var "my_project_name=test-project" generate dev/vpc.yaml`, but I get an error
[code]

Also this doesn't work in stack yaml files (ex. `config/dev/vpc.yaml`) .
It works only if I u

[2019-07-09 16:10] cornerman commented on #785
Oh, I think the `{% raw %}` and `{% endraw %}` strings might be a formatting error in the documentation. You can safely ignore them and leave them out.

For concatenating two vars, you can do:
[code]

[2019-07-09 16:10] ngfgrant commented on #785
Hi @dalibor-aleksic-atomia

Can you try without the `{% raw %}` and `{% endraw %}` it looks like a rst added those when building the docs

[2019-07-09 16:19] dalibor-aleksic-atomia commented on #785
It works :)

---
- `config/config.yaml` content
[code]
Output:
[code]

[2019-07-09 16:21] ngfgrant commented on #785
I've updated the issue title and will see if anyone can get can this fixed shortly

[2019-07-09 16:31] dalibor-aleksic-atomia opened #786 "Broken links in documentation"
Some links in docs are broken

ex: _FAQ_ link in
https://sceptre.cloudreach.com/2.1.5/docs/stack_config.html#environment-variables

redirects to

https://sceptre.cloudreach.com/2.1.5/docs/%7B%7B%20site.baseurl%20%7D%7D/docs/faq.html#why-are-there-two-ways-to-supply-environment-variables-in-Stack-config-files

[2019-07-10 21:05] heinrichbernd opened #788 "Debug output of dependency graph misses stack name and edge name"
When using the --debug switch the graph of stack dependencies ist displayed like:

[code]
When changing the code in config/graph.py:_generate_edges() to

[code]

The output will look like:

[code]
which is more helpful.

[2019-07-10 21:39] ngfgrant commented on #788
For sure - are you able to submit a PR so I can review more fully?

[2019-07-10 21:58] heinrichbernd opened #789 "Execution of a stack group slows down when migrating from sceptre v1 to v2"
When migrating from sceptre 1 to sceptre 2 the order of executing stacks changes.
Suppose the following stack dependencies:

[code]
In sceptre 2 a breadth first strategy is used which results in the following order:

1. s1, s2
2. s21, s22
3. s211

In sceptre 1 the execution of s211 starts immediately after s21 is finished and it doesn't wait until s22 is finished like in sceptre 2.
So the executio

[2019-07-10 22:12] heinrichbernd commented on #788
yes, will do so in the next days.

[2019-07-10 22:14] ngfgrant commented on #789
Version 1 did not handle dependencies strictly and we as users were able to get away with a quite a bit until there was a problem and it became pretty difficult to debug.

V2 batches up and executes stacks with the correct and safe level of concurrency to ensure dependent stacks are always executed first.

Every batch (set) contains stacks that are not dependent on each other and creates a thread

[2019-07-10 22:14] #789 closed

[2019-07-10 22:15] ngfgrant commented on #788
Awesome thanks @heinrichbernd

[2019-07-11 21:42] #689 closed

[2019-07-12 16:28] lukeplausin opened #791 "No useful error message in templating errors"
When templating with Jinja2, if there is an error in the template sceptre currently produces some rather unhelpful output. Example:

[code]

It would be nice if the error handling included some useful output from the exception, such as file name and line number. Example:

[code]

[2019-07-12 20:02] mike-rsi commented on #750
I think this functionality would be useful in stack configs as well.

[2019-07-15 08:01] ngfgrant commented on #720
I am going to close this for now because there was a previous decision to make the path explicit to remove ambiguity.

[2019-07-15 08:01] #720 closed

[2019-07-15 08:06] #706 closed

[2019-07-15 08:07] #701 closed

[2019-07-15 08:11] #669 closed

[2019-07-15 08:14] ngfgrant commented on #680
The new model will be to not actually have any "core" resolvers. All hooks and resolvers will be treated equally. Now we have the new GitHub org I've set up some hook and resolver templates https://github.com/Sceptre/sceptre-resolver-template. Instructions on how to use the template are here https://github.com/Sceptre/project/wiki/sceptre-resolver-template.

If you would like we'd be delight to ho

[2019-07-15 08:17] #614 closed

[2019-07-15 08:28] ngfgrant commented on #618
This will be resolved by https://github.com/Sceptre/sceptre/pull/782 and it will be possible to access variables through the `context`.

[2019-07-15 08:32] ngfgrant commented on #602
@zaro0508 we now have our template resolver (https://github.com/Sceptre/sceptre-resolver-template) and the docs on how to use are https://github.com/Sceptre/project/wiki/sceptre-resolver-template.

Would be great to host it in this org. Do you have time to give this a shot? If not I'm happy to move it across. With the template resolver all new resolvers get: test setup, cicd, sonarqube analysis an

[2019-07-15 08:34] #480 closed

[2019-07-15 08:36] #600 closed

[2019-07-15 08:40] #712 closed

[2019-07-15 11:49] jeshan commented on #680
Understood.

Totally fine with me. So I should transfer it like the following?
![image](https://user-images.githubusercontent.com/1020565/61214064-efc0ff00-a717-11e9-986d-189de5178818.png)

What else do you need me to do?

[2019-07-15 11:59] ngfgrant commented on #680
probably a slightly easier method would be to create a new repo in `sceptre` choosing `sceptre-resolver-template` from the Template dropdown (https://github.com/organizations/Sceptre/repositories/new).

You can name the resolver as you wish and then clone the repo locally. simply copy and paste the single resolver file across into `resolver` directory and update `setup.py` (https://github.com/Scep

[2019-07-15 12:10] jeshan commented on #680
Now that I think of it deeper; my current setup is releasing via AWS CodeBuild. Since, it was my repo I'd check every change before releasing. How is this going to work for us if I'll transfer the ownership to Sceptre org? Also, note that it needs my personal PyPI credentials as well.

That link doesn't work for the rest of us; I'm not part of the org so I don't see the org's templates. The correc

[2019-07-15 12:52] ngfgrant commented on #773
I think this is probably because sceptre will need to be installed first (it is an install dependency for CustomResolvers).

In your case you are trying to call something from the main sceptre codebase without having sceptre installed.

Add a step in your cicd pipeline to install sceptre into your env before installing your hook

[2019-07-15 12:52] #773 closed

[2019-07-15 15:47] fuxjezz opened #794 "stack_output throws "Template format error: YAML not well-formed""
Hi,

Just getting started with sceptre so I might just be attempting something the wrong way.

I've got 2 stacks and I want to reference one of the outputs of the first one.

Got this defined in my yaml template:

<pre>
sceptre_user_data:
  SubnetId: !stack_output vpc/vpc-multiple-az.yaml::PrivateSubnetA
</pre>

but running the "sceptre create" command throws an error :

<pre>
sceptre create ec2/s

[2019-07-15 15:56] ngfgrant commented on #794
Hey @fuxjezz welcome!

Can you show me the output of `vpc/vpc-multiple-az.yaml` it looks like it is probably a formatting error. maybe worth running the output through a online yaml formatter to see what is up unless you have a linter in your environment?

[2019-07-15 21:43] #788 closed

[2019-07-15 22:12] zaro0508 commented on #602
@ngfgrant It would help speed things up for me if you could move this initial one over and I can try to do the others when time allows. thanks.

[2019-07-15 23:50] fuxjezz commented on #794
Hi,

The file is in

https://github.com/fuxjezz/some_stuff/blob/master/vpc-multiple-az.yaml
(i've added the second one to the same repository as well)

Found it somewhere online and it does build using sceptre.

I did not try pasting the contents of the file that correctly builds into an online parser yet, tnx for that suggestion.

It throws a similar exception (constructor cannot be determined) a

[2019-07-16 09:04] ngfgrant opened #795 "Remove core from `sceptre` and add `sceptre-core` dependency"
# CONTEXT

We can now move out core functionality from `sceptre` and add a `sceptre-core==0.0.1` install dependency and to `requirements.txt`.

We will also need to add in the previous built-in hooks and resolvers to `sceptre` `requirements.txt`.

these are:

stackoutput-external-resolver
stackoutput-resolver
environment-variable-resolver
file-contents-resolver
cmd-hook
asg-scaling-processes-hook

[2019-07-16 15:24] YusufAzam commented on #773
@ngfgrant Not the case, since I am installed sceptre before hand. Same thing will happen locally if I try and launch via the CLI using sceptre commands.

[2019-07-16 22:24] networkpadawan opened #796 "recommended way for cross account usage?"
Hi, what is the sceptre maintainers recommendation for cross account usage wit sceptre v2?
It worked very well with iam_roles but it was deprecated. using the migration guide role_arn  does not work, the profile used is always the default one.
A previous issue spoke about using a workaround script.
Cross account usage is a bedrock feature and on our side we have been delaying our sceptre migration

[2019-07-17 08:47] ngfgrant commented on #773
are you pip installing your custom hook in your pipeline?

[2019-07-17 13:46] YusufAzam commented on #773
@ngfgrant
yes I am.  using the setup.py file for my custom hook. It seems like their a some compiled dependencies that stack_config needs that it gets by installing setup.py , before its use case.

[2019-07-17 14:18] SaMnCo commented on #796
Hi @networkpadawan,

I am no maintainer yet but heavy user of Sceptre, and been through the migration from v1 to v2 already.

You can use `profile` in your `config.yaml` file, and refer to various profiles in your `~/.aws/config` file. Note however that sceptre will always look at your ENV first, so in case have some AWS_xxx environment variable set, you might get some unexpected results.

As an e

[2019-07-17 15:20] ngfgrant commented on #796
Guys appreciate the honest feedback and it’s good to hear where things go well and where pain is.

Let’s look to see if we can add role_arn back in without breaking stuff and I there is a patch in the works for the global loading thing.

[2019-07-18 09:06] ngfgrant commented on #773
@YusufAzam are you executing `pip install ...` or `python setup.py install` and can you please share the `setup.py` of your CustomHook?

[2019-07-18 15:26] bl-mklein opened #797 "Documentation for upgrade from V1 to V2"
Hello!

Is there still any documentation describing the upgrade process from Sceptre V1 to V2?

The README refers to a wiki page with the process, but the link is broken and redirects back to the repo page.

Thanks in advance!

[2019-07-18 15:40] ngfgrant commented on #797
Apologies - I've now fixed the link that got broken during the move across to the new org. Here is the wiki https://github.com/sceptre/project/wiki/Migration-Guide:-V1-to-V2

[2019-07-18 15:46] #797 closed

[2019-07-18 15:57] ngfgrant commented on #794
https://github.com/fuxjezz/some_stuff/blob/master/single-ec2-instance-simple.yaml#L19 - you can't use sceptre_user_data resolver in your templates

[2019-07-18 16:06] bl-mklein commented on #797
Thanks for the quick reply @ngfgrant !
Have a nice day!

[2019-07-19 12:58] hreeder commented on #329
This was resolved in #140 but only ever made it into `v1.5.0`. I'll be looking to submit a PR to resolve this regression in `master` soon.

[2019-07-19 13:01] hreeder opened #798 "Non-Scalar Arguments to Hooks/Resolvers"
Regression of #140 - this is present in 1.5 but not in 2.
Making this to track an upcoming PR to re-add functionality for passing complex data in as an argument to hooks & resolvers.

cc #329

[2019-07-20 11:01] ngfgrant commented on #798
Thanks @hreeder. 1.5 was released post 2 and this indeed is a regression. Any assistance welcome.

[2019-07-21 15:38] networkpadawan commented on #796
don´t take me wrong, sceptre has been a good help for us, we are managing a few hundred stacks with it and no major issues so far. the unique "complaint" if you want to call it is really the migration part that has not be easy for us.

@SaMnCo how are you injecting the master profile variables? currently we use jenkins credentials, but it breaks as you stated when we want to use the role_arn.

@ng

[2019-07-21 16:23] ngfgrant commented on #796
@hreeder may be able to contribute to this in the near future.

[2019-07-22 07:47] SaMnCo commented on #796
Not sure what you mean by "injecting the master profile variables" here,
assuming this is about authentication.

Our AWS access is controlled via 2 methods:

* On dev laptops, IAM Account with MFA, then role delegation with different
profiles in ~/.aws/config file. Assuming a user is authenticated, Sceptre
will understand how to use a profile with the --profile tag and apply the
Cross Account role

[2019-07-22 08:18] hreeder commented on #796
No ETA on the iam_role just yet - I will admit I got a bit sidetracked with another open issue I've been working on turning out to be a bit more complex than I assumed, however I aim to give some time this week to start looking at adding iam_role back. After that I should be able to give a better ETA.

[2019-07-22 08:44] fuxjezz commented on #794
Ah ok. That explains.

TnX

[2019-07-22 08:44] #794 closed

[2019-07-23 19:52] YusufAzam commented on #773
@ngfgrant
from __future__ import print_function
import os
import sys
from setuptools import setup, find_packages

setup(
    name='example',
    py_modules=['s3_creation_hook'],
    entry_points={
        'sceptre.hooks': [
            's3_creation_hook = s3_creation_hook:CreateFileHook',
        ],
    }
)

[2019-07-30 03:24] priorax opened #800 "Recommended method of handling linting"
Asking here mostly because I'm unsure where else to put this (sorry if it's the wrong place).

I'm looking at building sceptre into my CI/CD pipeline and was wanting to integrate it with tools like cfn-nag (to check for any obvious governance issues) and cfn-lint (to check for basic syntax issues) as a test step prior to running anything since I've had issues caught by these tools that were not ca

[2019-08-06 15:38] nabeelamjad commented on #796
@networkpadawan would you be able to test out https://github.com/Sceptre/sceptre/pull/799 to see if that meets your needs?

I was one of the contributors that removed `iam_role` in favour of profiles as that was the agreed decision back then, but we found that was not really helpful if you had to create a profile or curate a profile in a specific way to make it work. It felt much easier just to pr

[2019-08-06 20:14] networkpadawan commented on #796
of course, can you just point me to how to patch this pr into my local version?

[2019-08-07 11:21] nabeelamjad commented on #796
You should be able to upgrade your current sceptre CLI by using

[code]

To revert simply uninstall and reinstall `sceptre`. Just make sure you do this on a local test environment as the PR hasn't been reviewed yet.

[2019-08-08 06:25] dahu33 commented on #380
In my sceptre v2 project, I haven't been able to use `stack_output` and `stack_output_external` with custom stack_names. I have tried:

`!stack_output path/to/my/file.yaml::output_name`

`!stack_output_external path/to/my/file.yaml::output_name`

`!stack_output_external stack_name_as_shown_in_cloudformation::output_name`

Have I missed something?

[2019-08-08 22:58] zaro0508 opened #802 "auto completion command for CLI fails in zsh shell"
Enabling sceptre autocomplete fails for ZSH shell.

[code]

My Environment
[code]

[2019-08-12 09:20] ngfgrant commented on #802
The autocompletion support is provided by Click package and I am not sure they support zsh maybe just bash...

[2019-08-12 09:23] ngfgrant commented on #380
What is your custom stack name @dahu33?

[2019-08-12 09:26] ngfgrant commented on #796
@networkpadawan - yep what @nabeelamjad said. We will look to get this in asap

[2019-08-12 09:27] ngfgrant commented on #710
@jk2l what exact version of sceptre2 are you using?

[2019-08-12 10:43] networkpadawan commented on #796
i´ve been testing the pr for the last couple of days. it seems to work fine! great work @nabeelamjad :)

[2019-08-12 22:05] jk2l commented on #710
@ngfgrant 2.1.5

if you look into craighurley's comment above

[code]

in the output, you can see "-" infront of "AWSTemplateFormatVersion". this mean it is array. this array cfn template cannot be directly used by CloudFormation

[2019-08-13 02:29] dahu33 commented on #380
@ngfgrant please find below an example with `!stack_output_external`:

config/prod/ap-southeast-1/stack1.yaml
[code]

config/prod/global/stack2.yaml
[code]
Will error with:

[2019-08-13 09:33] ngfgrant commented on #380
@dahu33 you will need to use the full path (`config` as root) in the `stack_output_external` path. E.g

[code]

see https://sceptre.cloudreach.com/2.1.5/docs/resolvers.html#stack-output-external

[2019-08-13 10:19] ngfgrant commented on #710
Ok I think there are two separate issues here. The original issues was relating to specific cfn tags. I think it would be worth opening up a new issue for what you are describing @jk2l

[2019-08-14 19:26] leonrodenburg commented on #783
Not sure if that is the case here, but I have also seen this when you have stacks that use a lot of `!external_stack_output` resolvers. I fixed it then by creating a custom resolver that only calls the CFN API once to fetch all stack outputs and caches them on disk. Every subsequent call to that resolver will check if a file is already on disk and uses the cached value if it is there.

[2019-08-14 19:34] chhibber commented on #783
PR #803  - This should work for that as well.  The resolve leverages the following method `connection_manager.call` to make the API call and that is wrapped with the retry functionality.

[2019-08-14 19:42] leonrodenburg commented on #70
Is there any news on this? I would be happy to create a PR that would add support for something like `s3://<bucket-name>/<template>` in the `template_path`. In our case we want it because we have multiple microservices that are developed by separate teams. The 'golden' templates are managed by a central infra team. Every microservice has its own sceptre config directory as part of its repository,

[2019-08-14 19:50] leonrodenburg commented on #783
@chhibber I can imagine yes, but with the `!stack_output_external` it is actually calling the same endpoint every time. So if you have 5 of those in your template, it will basically make 5 of the same calls and only filter out the value it needs. Bit of waste in my opinion, also with smart retries.

[2019-08-14 19:57] chhibber commented on #783
@leonrodenburg  Understand now and generally agree, though I don't know enough of the overall workflow and if there is some need for realtime calls vs cache.

[2019-08-14 20:12] leonrodenburg commented on #783
@chhibber No worries, your solution will work regardless. I just thought I'd drop in a note on how I had solved the issue with resolvers making lots of API calls on my side before. Might be inspiration for others if they face a similar issue.

[2019-08-14 20:26] zaro0508 commented on #70
@leonrodenburg The sceptre community would mostly definitely welcome a PR for this.  A more general discussion regarding this issue is in #213

[2019-08-15 10:38] bl-mklein opened #805 "Custom resolver failing on Sceptre V2"
Hello!

First of all, thanks for all the effort on this project. Has been helping our team massively 🥇

We're in a process of migrating from Sceptre V1 to V2 and everything works, except a custom resolver we have.

I'm following the process described in the [migration guide](https://github.com/sceptre/project/wiki/Migration-Guide:-V1-to-V2#custom-hooks-and-resolvers), so my current setup is the fo

[2019-08-15 10:45] ngfgrant commented on #805
Hey @bl-mklein

Could you try use the resolver template (you'll need to edit `setup.py`) to see if the problem persists.

Also could you share a snippet of a stack that uses the resolver and a `tree` of your project structure or at least the resolver folder?

[2019-08-15 11:07] bl-mklein commented on #805
Thanks @ngfgrant !

I just re-created the module using resolver template (https://github.com/bl-mklein/kms-decrypt) but when installing the module and using on my templates, I got the same error.

Maybe worth mention that I'm running Sceptre on Docker (v2.1.5):

[code]

Thanks!

[2019-08-15 11:10] bl-mklein commented on #805
Here's an example of a template using this data (read data omitted):

[code]

[2019-08-15 12:08] #791 closed

[2019-08-15 12:43] #733 closed

[2019-08-15 13:18] 1oglop1 commented on #805
@bl-mklein It could potentially be a name of the class, IRRC there is a simple code which turns `PascalCase` into `dash-case`. So when your input is `KMSDecrypt` it gets messed up into `kmsdecrypt` or similar. so you should rename the class to `KmsDecrypt`.

[2019-08-15 13:37] bl-mklein commented on #805
Thanks @1oglop1

Considering the most updated example, using resolver template ([here](https://github.com/bl-mklein/kms-decrypt)), I followed your suggestion and renamed the class from `KMS` to `Kms` + necessary adjustments on `setup.py`, but the problem persists :/

[2019-08-15 14:02] ngfgrant commented on #805
@bl-mklein Can you `pip list please?` also any changes you make in your resolver require another `pip install`

[2019-08-15 14:07] bl-mklein commented on #805
Hello!

Here's the Pip list:
[code]

And yes, after changing the class name or `setup.py` configuration I always run `pip3 install resolvers/kms-decrypt/`

[2019-08-15 14:10] ngfgrant commented on #805
Ok it might be something in your code - could you share the resolver?

[2019-08-15 14:12] bl-mklein commented on #805
I'm using the resolver template you suggested before.
You can find it [here](https://github.com/bl-mklein/kms-decrypt).
But the resolver has no logic, just default one.
So I suppose it's something on the `setup.py`

[2019-08-15 14:39] ngfgrant commented on #805
It is probably not going to be the template (we've got all the core resolvers working based off the template in our org).

Going back to the original error it was `"'dict object' has no attribute 'instance_class'"`. Is there anywhere else you are using the attribute `instance_class`? if so then it is not accessible as you are trying to access it.

If you uninstall the custom resolver and try and r

[2019-08-15 14:44] #783 closed

[2019-08-15 14:51] bl-mklein commented on #805
@ngfgrant you found the problem.

I just found this template:

[code]

Deleting this template the errors stops, so the problem is actually in the template, not the resolver.
I'm so sorry for this :/

I'll check the migration docs and see how adjust these `var` for the V2 format.

Thanks a lot for your attention and support! 🙇

[2019-08-15 15:32] #805 closed

[2019-08-16 13:51] ngfgrant opened #807 "2.2.0 Now Available"
# 2.2.0 Now Available

v2.2.0 has been released and is now available to use. Below is the change log for this release.

### Added

- Meaningful Jinja Template exception output handling

### Fixed

- Recursion in `sceptre_user_data` becoming infinite
- AWS `rate_exceeded` error when hitting AWS API too frequently
- Readme links
- StackGraph debugging output

### Nonfunctional

- Moved CircleCI Dock

[2019-08-16 13:52] #765 closed

[2019-08-16 13:52] #771 closed

[2019-08-16 16:57] mitom opened #808 "2.2.0 breaks on python <3.5"
I am getting the following on python 2.7 with sceptre 2.2.0:

[code]

The typing module was [introduced](https://docs.python.org/3/library/typing.html) in python 3.5

[2019-08-17 08:14] ngfgrant commented on #808
Thanks @mitom will look to see if this can be imported in another way

[2019-08-19 08:08] ngfgrant commented on #808
I think this is just the case of https://pypi.org/project/typing/ not being imported in requirements. Not sure how the 2.7 build succeeded though. https://github.com/Sceptre/sceptre/pull/809 should fix the issue

[2019-08-19 08:10] medbensalem opened #810 "Sceptre 2.2 - sceptre.resolvers.RecursiveGet bug"
Hi,

Starting for the release 2.2 we are getting this error messages during deployemnts:
[code]

Current work env:
python 3.6.6
boto3
botocore 1.12.11

Full logs:
[code]

Could you please assist.
Thank you,

[2019-08-19 08:17] ngfgrant commented on #810
Hey @medbensalem - ok thanks for raising. This comes from https://github.com/Sceptre/sceptre/commit/234da22e9a1fe63f8d0609ff3f9f06f922750931. Did your stack consistently work every time? The reason I ask is that the exception being thrown was designed to catch infinite recursions arising from sceptres resolvable property function.

[2019-08-19 08:39] #808 closed

[2019-08-19 08:45] medbensalem commented on #810
Yes, I had no issue till version 2.2 has been released.

[2019-08-19 08:50] medbensalem commented on #810
Just FYI, I have tried to remove all resolvers/hooks dependencies on my code and the problem persisted.

[2019-08-19 08:56] ngfgrant commented on #810
Thanks @medbensalem looking into it now.

[2019-08-19 14:59] brentbain commented on #810
I can report the same bug.
If I delete the stacks referenced and redeploy, it does not throw the error the first time via "sceptre launch <env>" - when I run the same command a second time I get the RecursiveGet issue. We tried, also, removing all dependencies and resolvers and still have the same bug.

[2019-08-19 17:02] ngfgrant commented on #810
Should be resolved in 2.2.1

[2019-08-19 17:02] #810 closed

[2019-08-19 17:09] brentbain commented on #810
Confirmed - working now with 2.2.1

[2019-08-19 20:29] fabiodouek opened #813 "Variable is undefined"
When defining the same variable in the config.yaml in different levels, causes Sceptre to intermittently return an error: <VARIABLE_NAME> is undefined.
Usually if I run again it works, but sometimes I have to run a few times. This is in the scope of creating a changeset.

e.g of structure
-config
  - dev
     - config.yaml (variable : x: a)
     - appb
         - config.yaml (variable : x: b)

The

[2019-08-20 07:30] ngfgrant opened #814 "2.2.1 Now Available"
# 2.2.1 Now Available

v2.2.1 has been released and is now available to use. Below is the change log for this release.

### Fixed

- `typing` install dependency for Python version < 3.5
- Race condition in stacks causing RecurrsiveGet exception

[2019-08-20 12:53] n13k77 commented on #574
Any updates?

[2019-08-21 08:53] ngfgrant commented on #582
I have a commit (317391af0f140b737298e3d7550b6cf14f4e7216) in https://github.com/Sceptre/sceptre-provider-aws that resolves this

[2019-08-21 18:30] brentbain opened #816 "Templating in Hooks"
I'm trying to deploy SAM via Sceptre. To do this, I'm using the !cmd hook:
[code]

I'd like for sceptre to pass the region and profile into sam as they are already define in config.yaml files for each environment. I tried:
[code]

But - as these aren't variables being passed in, sceptre returned a dictionary error that "profile" was not an attribute.

Is there a way to access the config.yaml param

[2019-08-21 20:43] brentbain commented on #816
Answering my own question:

The following works - no need to call "var" or "sceptre" - this could use better documentation:
[code]

[2019-08-21 20:46] #816 closed

[2019-08-23 16:33] rgillen commented on #663
I have implemented a change locally to get basic change sets working when creating a new stack. I would like to inquire if you would accept a limited scope pull request for this... if so I think it would be good to clarify the exact scope of the changes before submitting a pull request.

**plan/actions.py(create_change_set)**
- Add 2nd argument `change_set_type` to def
- Add parameter `change_set_

[2019-08-28 03:46] sebastiankasprzak commented on #380
looks like same issue in sceptre 2 project @ngfgrant - is there a plan to correct/change this behaviour?

[2019-08-28 06:41] ngfgrant commented on #380
Ok so the behaviour described is intended and was the same in v1 if using stack_name then you’ll need to use stack_output_external as well as dependencies key as per the docs: https://sceptre.cloudreach.com/latest/docs/stack_config.html#stack_name

Based on this I’m going to class this as a feature request. There might well have been a good reason why things were made this way but will need to inv

[2019-08-28 17:38] marcoswerneckie commented on #813
This problem has often occurred continuously, and rerun has been the only immediate solution but sometimes it is necessary to rerun many times until it works.

[2019-08-29 20:59] zaro0508 opened #818 "Deleting a cloudformation template with nested stacks fails"
I have a main cloudformation template, [s3-bucket.yaml](https://github.com/Sage-Bionetworks/aws-infra/blob/master/templates/s3-bucket.yaml), that contains a nested stack, [AddSameRegionBucketDownloadRestriction.yaml](https://github.com/Sage-Bionetworks/aws-infra/blob/master/templates/AddSameRegionBucketDownloadRestriction.yaml).  Creating the stack works fine however deleting it with the sceptre c

[2019-08-29 21:19] zaro0508 commented on #800
We have something like this setup in our CI/CD pipeline.  We are using travis-ci[1] as the CI engine, and pre-commit[2] as our linter framework to do all the linting.  you can checkout our .pre-commit-config.yaml[3] to see the linters we've setup for our project.   The linter runs on every commit (before a PR) and then runs again by our CI when a PR occurs.  As for testing we also setup taskcat to

[2019-08-29 21:29] zaro0508 commented on #818
Upon further testing I noticed that this failure also occurs when using the AWS CLI to delete the stack.  I guess it's a cloudformation issue.

[2019-08-29 21:29] #818 closed

[2019-08-29 21:32] zaro0508 commented on #760
Yes, very useful.  I think the use case for this is in issue #624

[2019-08-29 21:39] zaro0508 commented on #710
I think the original problem identified in this issue is fixed?  I've been using sceptre version 2.1.4.
 Been using the generate command with complex cfn templates with jinja and it's been working great for me.  I do see the same issue as @jk2l but that is a different issue.  I think we can safely close this one now?

[2019-08-30 04:16] adamcousins commented on #605
Any updates on this issue?
Im still seeing this discrepency on the latest version.

protect: true ##This works successfully
protected: true ##This is ignored

On a side note I'd see it more useful if we could define it like this:
protected:
- create
- delete

where I can define the different types of execution which are 'protected'
Is this possible?

[2019-08-30 08:34] ngfgrant commented on #710
Yep the original issue is fixed @zaro0508 :)

[2019-08-30 08:34] #710 closed

[2019-08-30 18:41] cbivans opened #819 "Improve Readability in Docs"
The doc has been lacking in examples, and some clarifying words like how template_path is supposed to be used in 2.x (e.g. No templates directory name first).
The effect of the issue is that some people may be unsure on how things are done and the expected format of options and config.
Many errors because of slightest syntax issue that may or may not be obvious. This issue is not to add validation

[2019-08-30 18:42] cbivans commented on #819
I'd like to work on this. I'd also like to do the broken links issue.

[2019-08-31 13:35] fabiodouek commented on #813
The issue was due to variables reference in a  config.yaml from a top-level config.yaml. I understand that this feature is not supported in Sceptre (which would be a useful feature), but somehow in 30% of the cases was working. I removed those references for now, and the problem got resolved.

[2019-09-01 17:35] zaro0508 commented on #802
@ngfgrant it does work in zsh, the source command is just slightly different.  take a look at PR #802

[2019-09-06 05:17] m1keil opened #821 "Consider making change set actions more verbose"
I just noticed that the `delete` option is shared between both the general stack destruction and change set deletion. While it makes CLI footprint smaller, it does introduce a subtle risk.

For example, right now to delete a change set, you need to do something like:
[code]

However it's relatively trivial to just fat finger and type
[code]
instead. It is also becomes almost trivial to mess that u

[2019-09-06 20:07] rdpa opened #822 "Support Instance Profiles credentials"
As it stands, Sceptre implements it's own version of the AWS credentials chain, which only allows specifying either a profile or credentials [1]. Our CI pipeline relies on using Instance Profiles, which is preventing us from using Sceptre.

Boto3 provides a method to traverse the default credential chain [2]. Sceptre should use this. If `profile` and/or `region` are set in the config files then sc

[2019-09-10 06:51] laur1s opened #823 "Strings starting with 0 are identified as Octal in Sceptre User data"
Hi,

It seems that Sceptre somehow interprets  variables starting with 0 as octal and converts them to decimal. This is a an Issue because we have user names that start with 0. Here is the example
Sceptre Config file:
[code]
`sceptre --var "user=03303560" launch TEST/s3    `
When I execute this the value in the deployed cloudformation template becomes 886640.

Is it possible to do something about

[2019-09-10 09:07] 1oglop1 commented on #823
Hi, this is probably due to how YAML works.

(more info: https://stackoverflow.com/questions/54820256/how-to-read-load-yaml-parameters-with-leading-zeros-as-a-string)

I'd suggest to treat these numbers as strings 'user="03303560"' unless you really need it to be an integer starting with zero.

[2019-09-13 12:59] githubnoobieme opened #824 "No stacks detected from the given path [] Valid stack paths are []"
Hello guys,

Iam pretty new to sceptre, I have some starting troubles. When I try to launch my stacks from my CI pipeline on gitlab, I get following Error message.

[code]
I also tried to name the as valid declared paths, same error.

I followed all the Guidelines and my structure looks like this
[code]

Is there a Problem in the version or did I missconfigure something?

[2019-09-13 13:05] ngfgrant commented on #824
Hey @githubnoobieme welcome - thanks for trying sceptre and happy to help.

As a starter can you rename your files to use the `.yaml` extension rather than `yml`? It might be as easy as that....

[2019-09-13 13:15] githubnoobieme commented on #824
Oh wow thanks for the superfast answer 👍

Well that helped a bit :) but now I got a bunch of new errors, not sure but are this dependency errors? Did I missed something to install?

`$ sceptre --version
Sceptre, version 2.2.1
$ sceptre launch -y dev
Traceback (most recent call last):
  File "/usr/local/bin/sceptre", line 10, in <module>
    sys.exit(cli())
  File "/usr/local/lib/python3.6/dist-pac

[2019-09-13 13:50] ngfgrant commented on #824
So in this case it is throwing a `KeyError` which is a Python error for when a key in a dict does exist and is called.

What you are really experiencing is some not very useful error messages from sceptre. We should have probably caught this and reported something nicer.

Is it possible to see the contents of `public-private-vpc.yaml`?

[2019-09-13 17:35] githubnoobieme commented on #824
yes sure its just refering to my cloudformation template

`template_path: public-private-vpc.yml
parameters:
  PublicOne: 10.9.0.0/24
`

[2019-09-13 17:51] ngfgrant commented on #824
Ok thanks can I see the output of private-subnet-private-loadbalancer.yaml and config.yaml?

[2019-09-15 09:21] githubnoobieme commented on #824
Thats the output of private-subnet-private-loadbalancer.yaml
[code]

and this is the output of config.yaml

[code]

[2019-09-15 10:55] ngfgrant commented on #824
In

private-subnet-private-loadbalancer.yaml:

Specify the dependency with the stack group:

...
dependencies:
    - dev/public-private-vpc

[2019-09-16 11:48] githubnoobieme commented on #824
Yeah that helped, now its deploying
[code]

Thank you very much!!!

BTW is there a better documentation as on https://sceptre.cloudreach.com/2.2.1/ ? Because it looks like there is a some commands that are not existing anymore for example "launch-env" now "launch"?

[2019-09-16 12:28] ngfgrant commented on #824
@githubnoobieme version 1 documentation can be found at https://github.com/Sceptre/sceptre/tree/v1/docs/docs. You are using v2 though, so these docs are at https://sceptre.cloudreach.com/2.2.1

`launch-env` and similar were v1 commands.

Hope that helps, going to resolve this issue, anything else just let us know!

[2019-09-16 12:28] #824 closed

[2019-09-16 13:53] uhinze commented on #802
Worked for me @zaro0508 , thanks a lot!

[2019-09-16 16:21] #785 closed

[2019-09-16 20:02] zaro0508 commented on #760
@ngfgrant would it be possible for you to make your POC into a PR?

[2019-09-16 20:25] networkpadawan commented on #796
this seems stable on my tests so far, any way to merge to master? would like the team to start using it:)

[2019-09-16 20:37] ngfgrant commented on #760
Yep I will flesh something out in the next week or so..

[2019-09-17 16:01] #786 closed

[2019-09-17 16:25] #686 closed

[2019-09-19 10:24] 1oglop1 opened #833 "Broken links in docs for other versions"
I found out that links to other versions are broken on non-index page of version
![image](https://user-images.githubusercontent.com/7480694/65236141-3d6f3480-dad8-11e9-99f6-e197cdfefd39.png)

I have the fix for current docs + all previous versions.
More info and discussion will follow in PR

[2019-09-19 11:31] et304383 commented on #574
Where is the V1 documentation?  Ugh...

[2019-09-19 12:10] ngfgrant commented on #574
Hi guys sorry the publishing of the docs to the new doc site has taken a back seat at the moment but the docs are still available in the v1 branch https://github.com/Sceptre/sceptre/tree/v1/docs/docs

[2019-09-19 12:19] #833 closed

[2019-09-19 14:19] jeffmacdonald opened #835 "--export envvars can create ambiguity"
This is in Sceptre v2.

Lets say you have 2 stacks that each have an output named FooBarOutput , and somehow they are dependent upon each other. (In mycase.. I have 2 stacks that create RDS instances and both output "EndPointUrl")

If you run: sceptre list outputs my/stack/name/foo.yaml --export envvar

You'll get

export SCEPTRE_FooBarOutput=_some thing_

But it will be unclear which template/sta

[2019-09-19 18:39] jeffmacdonald opened #836 "Greedy pattern matching can cause ambiguity"
Lets say you have 2 config files rds.yaml and rds-vpc.yaml

Then lets say you have 4 other config files, each using stack_outputs from each other so they're all linked and one of them is linked to rds-vpc.yaml, thus creating a dependency chain.

If you run this `sceptre delete foo/boo/rds` , sceptre will greedy match rds-vpc.yaml and will ask you if you'd like to delete EVERYTHING. Which isn't gre

[2019-09-19 18:42] jeffmacdonald commented on #822
I can think of where this could be bad, if I was testing on my own machine, forgot to explicitly set a profile name and ran sceptre. It could cause me to build / delete infrastructure on an unintended AWS Account.

However, i do find the error handling of "not having a profile set" to be a bit annoying. Must be a middle ground somewhere.

[2019-09-20 05:15] craighurley commented on #836
This should be fixed by https://github.com/Sceptre/sceptre/pull/731.  That PR needs a little love to push it across the line.

[2019-09-20 10:48] 1oglop1 commented on #574
I will be able to commit some time to this next week. If all goes well I should be able to put it together.

[2019-09-20 11:36] ngfgrant commented on #836
Thanks for raising @jeffmacdonald closing as it is a duplicate of https://github.com/Sceptre/sceptre/issues/546 and as @craighurley mentions will be resolved in #731

[2019-09-20 11:36] #836 closed

[2019-09-20 17:07] jeffmacdonald commented on #836
Sweet thanks! (it just bit me again in a new exciting way to this is great news :) )

[2019-09-20 17:26] cornerman commented on #746
@ngfgrant I would really love to have a solution for this problem and I am definitely here to help.

Looking at it as a newcomer who started using sceptre this year somewhere in the beginning of June, the related issues #208 and #219 were opened about 2 year ago. This proposal is now here for 3 months. I am not judging any of this, but I think a lot of people would get a lot of value from an updat

[2019-09-20 17:51] ngfgrant commented on #746
Hey @cornerman

I am _very_ grateful that you have taking time to make the tool better.

The honest truth is that with this one I want to test it a bit more and it’s just taken a back burner to the work that Cloudreach want me to work on just now.

I don’t _think_ there will be any issues but need to check how the decorators that are on update and create will interplay here.

It’s definitely not a

[2019-09-20 18:15] cornerman commented on #746
Thank you very much for your response! I am very grateful for this awesome tool :1st_place_medal:

Of course, please take your time to evaluate the changes. Let me know if there is something that needs to be improved.

[2019-09-21 06:23] 1oglop1 opened #838 "Feature request: ability to produce raw generated file from .j2 templates"
### Current situation

At the moment `sceptre generate` or `sceptre validate` is trying to process templates and generate desired output `json/yaml`.
Steps:

1. Take `template.yaml.j2`
2. Render internally (https://github.com/Sceptre/sceptre/blob/master/sceptre/template.py#L118)
3. Parse rendered template into desired format json/yaml
4. Produce result

This makes debugging difficult if there are

[2019-09-21 11:19] craighurley commented on #838
Related PR: https://github.com/Sceptre/sceptre/pull/832

[2019-09-21 14:14] 1oglop1 commented on #838
@craighurley Shall I close this one?

PS did anyone introduce `__main__.py` in PR already, like I did here?
https://github.com/Sceptre/sceptre/blob/add-debugger/sceptre/__main__.py

[2019-09-23 09:42] TimUbbink opened #839 "Adding Repository Dependencies"
Hi there,

I was wondering if there is a possibility to add a dependency of a repo in a stack config? In my case not all files are hard dependencies for example.

I have a repository 'A' which is ever changing, and I have a file in another repo 'B' that is dependend on the files in repo 'A'; some will be added or removed. Is there a possibility to add a dependency for the file in repo 'B' on all t

[2019-09-23 13:14] kangastus commented on #760
`stack_name` sounds great! Would it be possible to have also the whole path of the Stack Config file?

In Sceptre 1.x I was using `stack_group_path` (if I recall correctly) to access Application name, AWS Account name, Region and Stack name (from Stack Config file name) that all were stored in the project structure. For example:

[code]
Then I was able to launch the whole stack to all AWS accounts

[2019-09-23 14:45] kangastus commented on #760
Using the approach discussed in #638 I was able to get directory names using the following syntax:
- Application name: `{% set p = stack_group_path.split('/') %}{{ p[0] }}`
- AWS Account: `{% set p = stack_group_path.split('/') %}{{ p[1] }}`
- Region: `{% set p = stack_group_path.split('/') %}{{ p[2] }}`

This could be cleaner though like being able to use `stack_group_path.1`. The top level Stack

[2019-09-24 17:05] zaro0508 commented on #839
Sure, anything is possible.  Contributions are welcome, just throw up a PR and someone will review :)

[2019-09-25 09:08] sustacek opened #841 "ASGScalingProcesses registered as 'asg_scheduled_actions', expected to be 'asg_scaling_processes'"
I noticed that the default hook for ASG processes is registered as `            "asg_scheduled_actions ="` and not as `asg_scaling_processes`, see https://github.com/Sceptre/sceptre/blob/b7585fd7bf9607230f9d4324166b49cd59cab3ee/setup.py#L59

In the docs (2.2.1) and also the code (https://github.com/Sceptre/sceptre/blob/9a36309ed1daa15ef65504fa550adf161e6d7c6f/sceptre/hooks/asg_scaling_processes.py

[2019-09-25 14:52] kiltedjedi opened #842 "Sceptre - AWS Full stack deployment not recognising stack output IAM roles"
Hi there,
I'm running in to an issue where during a full stack deployment, a dependent IAM roles provisioning stack is competing but not being recognised.

Layout
|--sceptre
|--Application
<ul>
     <li> |--infrastructure</li>
     <ul>
         <li> |--batch.yaml</li>
          <li>|--web.yaml</li>
          <li>|--iam-roles.yaml</li>
          <li>|--security-groups.yaml</li>
     </ul>
<li> |--

[2019-09-26 15:03] nunogrl opened #846 "unable to execute a change-set on stack that has dependencies"
hello

So I'm trying to execute a change set on command line to a stack.
In this case is to add a record on route53.
The stack `prod/route53/mydomain-com-zone` creates the domain zone
the stack `prod/route53/mydomain-com-alias-03-records` depends on the previous one and creates alias records

[code]

I can execute the change-set on the AWS console, but here we can see that it applied the change-se

[2019-09-26 15:14] ngfgrant commented on #846
hey @nunogrl

Sorry to hear you are having difficulty.

Could you try to run

`sceptre  --ignore-dependencies create prod/route53/mydomain-com-alias-03-records add-new-alias`?

The `ignore-dependencies` should just work as normal. Hope that helps.

[2019-09-26 15:19] nunogrl commented on #846
I've tried that before, but it crashes :(

[code]

[2019-09-26 15:22] ngfgrant commented on #846
ok thanks which version of sceptre are you running?

[2019-09-26 15:23] nunogrl commented on #846
sceptre --version
Sceptre, version 2.2.1

[2019-09-27 08:57] nunogrl commented on #846
I'm attaching an example so you can replicate this problem.
Instead of ALIAS record, I'm attaching an A record, as this type has no dependencies

Thanks

[sceptre_route53_a_record.zip](https://github.com/Sceptre/sceptre/files/3661855/sceptre_route53_a_record.zip)

[2019-09-27 09:00] ngfgrant commented on #846
Thanks that is useful

[2019-09-27 14:17] nunogrl commented on #846
As a workaround for this, I wrote this to clean up useless change-sets

I called it `execute-change-set.sh`
the parameters are
1. the stack name (the sceptre convention)
2. the change-set name

it's just a quick fix, until there's a definitive solution

[code]

Here follows how I'm using this:

[code]

[2019-09-27 18:24] zaro0508 opened #848 "sceptre imports causes plugin build failure on circleci"
A few python modules are importing with a "." notation.  This seems to cause plugin builds to fail on CircleCi with an import error.  Note, I only see this failing on CircleCi, it seems to work when i run `make test` locally.

For example, in connection_manager.py there is this..
[code]

Failure on CircleCi
https://circleci.com/gh/Sceptre/sceptre-ssm-resolver/16?utm_campaign=vcs-integration-link&u

[2019-09-30 18:30] zaro0508 commented on #602
resolver has been moved to https://github.com/Sceptre/sceptre-ssm-resolver with PR https://github.com/Sceptre/sceptre-ssm-resolver/pull/2

[2019-09-30 18:30] #602 closed

[2019-09-30 18:33] zaro0508 commented on #608
This resolver has been moved to https://github.com/Sceptre/sceptre-date-resolver with PR https://github.com/Sceptre/sceptre-date-resolver/pull/7

[2019-09-30 18:33] #608 closed

[2019-09-30 18:45] ngfgrant commented on #602
Thanks @zaro0508 great work

[2019-10-03 15:34] #802 closed

[2019-10-08 00:51] caphrim007 opened #852 "Support for yml short file extension"
I noticed while walking through the tutorial that sceptre makes the assumption that yaml files will end with the `.yaml` file extension. Looking at the code seems to confirm this.

So I was interested in soliciting the maintainers to see what their tolerance would be for adding the short-form version of YAML extensions (`.yml`) to the supported list.

I wouldn't mind taking a shot at implementing

[2019-10-08 06:19] 1oglop1 commented on #852
Hi @caphrim007 Thank you for opening the issue.
I have raised this discussion few times myself internally, this question is probably old as YAML itself.
The main problem is that spec failed to specify and recommend the extension from the beginning.
As you can see on this "hidden" site https://yaml.org/faq.html they recommended yaml (2001-2006)

You can also find numerous Stack Overflow questions o

[2019-10-08 06:21] craighurley commented on #852
IMO: if the spec says it's `.yaml`, it seems reasonable to stick to `.yaml`.

[2019-10-08 15:58] caphrim007 commented on #852
@1oglop1 I get it. I was coming from the Ansible world where they can't seem to make up their mind on which extension to use, so they kinda support both. There are some areas where they require `.yml` (for instance their Ansible Galaxy tool requires it) and since I was mostly playing in their sandbox, I just obliged and switched all my files over to use that.

In my environment, I wrap Sceptre in

[2019-10-08 15:58] #852 closed

[2019-10-10 16:04] networkpadawan commented on #796
Guys, any blocker on this? how can we help on merging this to official release?

[2019-10-13 17:29] nabeelamjad commented on #796
I believe it still needs to be PR'd properly, @ngfgrant

[2019-10-13 18:53] ngfgrant commented on #796
Yeh sorry guys off on holiday this week will defo have this in the next release.

[2019-10-13 22:29] sebastiankasprzak commented on #846
hitting same problem with change sets execution.

Is the issue with running stacks with `--ignore-dependencies` worth separate thread? hit that problem when trying to run `sceptre update` command.

[2019-10-16 07:02] cfarrend opened #855 "Sceptre Docker Image uses Alpine 3.9"
I came across this trying to use the Sceptre image as a base image for CI tasks, found out that it was downloading older versions of packages (e.g `hugo`) and this was a result of the older Alpine version.

There is a newer version Alpine available that can still be used with Python 3.6.8

[2019-10-16 10:10] chutes opened #857 "Jinja Templating is Broken"
Jinja Templating appears to be broken...

A var file can be read in successfully as seen by the `Templating Vars:` output below.
Variable substitution is failing though as seen by the stacktrace....

[code]

[2019-10-16 11:07] ngfgrant commented on #857
Hi @chutes

Thanks for raising. I've been unable to reproduce this error and none of the tests seem to have a problem running.

Can you please check your config and var files are valid?

[2019-10-16 11:14] chutes commented on #857
@ngfgrant AFAIK my config file and var files are valid.  You can see in the output I provided that the var-file is loaded in to `ConfigReader.templating_vars` excerted here... as

[code]

I updated my config file to try to do a super simple jinja2 templating case....  this is my config with one var replacement....
If I remove the jinja templating, this launches just fine.

[code]

[2019-10-16 11:25] ngfgrant commented on #857
Hi thanks for the additional info. Could you give an example of the type of thing you are trying to do with jinja templates in your config?

[2019-10-16 11:30] chutes commented on #857
I have a var-file with the variable `load_balancer_rabbit_name` defined.

I'm trying to do a simple variable replacement using jinja templating...
Replace `{{ var.load_balancer_rabbit_name }}` with the value I have defined...

However this error is throw....
[code]

It's almost as if the jinja templating is not recognized.

[2019-10-16 11:38] ngfgrant commented on #857
can you share the full output from that config file because that type of jinja templating works ....